 <div id="signheader-content"></div>

    <div class="wrapper">

        <div class="org_companyInfo">

            <div class="row">

                <p style="font-size:20px" class="text-center">Fill out this form to register</p>

            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*Quarantine Station：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="请填写公司名称" id="name" type="text"
                           class="form-control" placeholder="Quarantine Station">
                    <p style="display: none;" class="null_err" id="name_null_tip">*you can't leave this empty</p>
                </div>
            </div>



            <div class="row">
                <div class="subtitle">
                    <h4>Address：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="请填写联系地址"
                           id="address" type="text" class="form-control" placeholder="Address">
                    <p style="display: none;" class="null_err" id="address_null_tip">*you can't leave this empty</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>Telephone Number：</h4>
                </div>
                <div class="section">
                    <div class="phone_number">
                        <input required="" errmsg="" value="" id="tel" type="text" style=" padding: 5px 0;height:40px;line-height: 20px"
                               class="form-control"
                               placeholder="Telephone Number">
                    </div>
                    <p class="detail_address" style="font-size:12px ; display: none;color:#ff0000" class="null_err"
                       id="tel_null_tip">*you can't leave this empty</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>Business license：</h4>
                    <p>*  <br>
                        * Available :jpg <br>
                        * less than 2M
                    </p>
                </div>
                <div class="section" id="businessLicense">
                    <!-- <div id="businessLicense" class="uploadWrap img-lg">
                        <p>Upload Photo</p>
                         <input id="businessLicensePic" name="userfile" type="file" style="display: none;">
                    </div> -->
                </div>
                <p class="section null_err" style="display: none;width: 200px;float: left;margin-left: 250px;"
                   id="businessLicense_null_tip">*you can't leave this empty</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*Veterinary Hospital Permits：</h4>
                    <p>*  <br>
                        * Available :jpg  <br>
                        * less than 2M
                    </p>
                </div>
                <div class="section" id="animalMedicalLicense">
                    <!-- <div id="" class="uploadWrap img-lg">
                        <p>Upload Photo</p>
                         <input id="businessLicensePic1" name="userfile" type="file" style="display: none;">
                    </div>
                </div> -->
                </div>
                <p class="section null_err" style="display: none;width: 200px;float: left;margin-left: 250px;"
                   id="animalMedicalLicense_null_tip">*you can't leave this empty</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*available Services：</h4>
                </div>
                <div class="section">
                    <div class="medical">
                        <input name="server" type="checkbox" id="medical" value="medical">
                        <span for="medical">medical</span>
                    </div>
                    <div class="facial">
                        <input name="server" type="checkbox" id="facial" value="groom">
                        <span for="facial">groom</span>
                    </div>

                </div>
                <p class="section null_err" style="display: none;margin-left: 250px" id="server_null_tip">*you can't leave this empty</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*Add Accredited Veterinarian：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="添加" id="doctor" type="button" class="form-control"/>
                    <span class="add_doctor">add at least a veterinarian</span>
                    <p style="display: none;" class="null_err" id="doctor_null_tip">*you can't leave this empty</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                </div>
                <div class="section">
                    <table>
                        <tbody>
                        <tr style="background:#cccccc;display: none" id="doctor_table">
                            <td class="name">name</td>
                            <td class="number">Accredited Certificate NO</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*First Name：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="" id="contacts1" type="text" class="form-control"
                           placeholder="ContactLast Name">
                    <p style="display: none;" class="null_err" id="contacts1_null_tip">*you can't leave this empty</p>
                </div>
            </div>
            <div class="row">
                <div class="subtitle">
                    <h4>*Last Name：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="" id="contacts2" type="text" class="form-control"
                           placeholder="ContactFirst Name">
                    <p style="display: none;" class="null_err" id="contacts2_null_tip">*you can't leave this empty</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*Mobile Number：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="" id="contacts_phone" type="text" class="form-control"
                           placeholder="Mobile Number">
                    <p style="display: none;" class="null_err" id="contacts_phone_null_tip">*you can't leave this empty</p>
                </div>
            </div>

            <div class="row">
                <!--<button class="btn btnNone">返回上一步</button>-->
                <button id="addOrganizationBtn" class="btn btnBlueE btn-block">Submit</button>
            </div>

        </div>

    </div>
    <!--<div id="signfooter-content"></div>-->
    <div style="width:100%;height: 100px; background:#cccccc;margin-top: 50px;">
        <div class="container">
            <p class="text-center">沪ICP备 16015040号-2 上海市徐汇区虹梅路2071号二号楼311室</p>
            <p class="text-center" style="margin-top:-20px;">Copyright©2016-2017，HALOKIT.CN,All Rights Reserved</p>
        </div>
    </div>
</div>

