<div class="il_wrap">
    <div class="il_box">
        <div class="il_body">
            <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                <h4>创建密码</h4>
                <p>创建密码并确认即可完成</p>
                
                <div class="form-group">
                    <label class="sr-only">创建密码</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" name="password"  type="password" placeholder="创建新密码">
                </div>
                
                <div class="form-group">
                    <label class="sr-only">重新输入密码</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" name="repassword"  type="password" placeholder="重新输入密码">
                </div>
                
                <button id="veriftEmailBtn" type="button" class="btn btnBlack btn-block" >
                    提交
                </button>

            </form>
        </div>
    </div>
</div>
