<div id="dogownersearch">
    <form role="form" class="dogonwer_info_list" style="margin-bottom:30px;">
        <h4>犬主登记</h4>
        <ul class="donowner_ul">
            <li>
                <span>*犬主姓名:</span>
                <span>张三</span>
            </li>
            <li>
                <span>性别:</span>
                <span>男</span>
            </li>
            <li>
                <span>手机号码:</span>
                <span>13812345678</span>
            </li>
            <li>
                <span>犬主座机:</span>
                <span>021-12345678</span>
            </li>
            <li>
                <span>*证件类型:</span>
                <span>身份证</span>
            </li>
            <li>
                <span>*证件号:</span>
                <span>3213221991101010101</span>
            </li>
            <li>
                <span>*所属区县:</span>
                <span>上海徐汇区漕河泾</span>
            </li>
            <li>
                <span>*详细地址:</span>
                <span>漕河泾开发区地铁站</span>
            </li>
            <li>
                <span>邮编:</span>
                <span>201000</span>
            </li>
        </ul>
    </form>
    <form role="form" class="dogonwer_info_list" style="margin-bottom:30px;">
        <h4>犬只登记</h4>
        <table class="table table-bordered">
            <tr class="tr">
                <td>犬名</td>
                <td>疫苗批号</td>
                <td>虹膜id</td>
                <td>品种</td>
                <td>免疫时间</td>
            </tr>
            <tr class="tr">
                <td><a class="td-a" href="javascript:void(0)">可点</td>
                <td>2017a1b2</td>
                <td>abc12345678</td>
                <td>阿拉斯加</td>
                <td>2017-10-10</td>
            </tr>
            <tr class="tr">
                <td><a class="td-a" href="javascript:void(0)">可点</td>
                <td>2017a1b2</td>
                <td>abc12345678</td>
                <td>阿拉斯加</td>
                <td>2017-10-10</td>
            </tr>
            <tr class="tr">
                <td><a class="td-a" href="javascript:void(0)">可点</td>
                <td>2017a1b2</td>
                <td>abc12345678</td>
                <td>阿拉斯加</td>
                <td>2017-10-10</td>
            </tr>
        </table>
    </form>
</div>