<div class="personal_card">
    <div class="title">
        <h3>License Issue</h3>
    </div>

    <div class="registration" id="dogLicense_owner_div">
        <div class="title">
            <h4>Owner Register</h4>
        </div>
        <!--1-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*First Name:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dogowner_name1">
                    <p style="display: none;" class="null_err" id="dogowner_name1_null_tip">*What's your first name</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Last Name:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dogowner_name2">
                    <p style="display: none;" class="null_err" id="dogowner_name2_null_tip">*What's your last name</p>
                </div>


            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Mobile Number:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="phone">
                    <p style="display: none;" class="null_err" id="phone_null_tip">*Please enter a mobile number</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Mobile Number2:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="phone2">
                    <p style="display: none;" class="null_err" id="phone2_null_tip">*手机号码2不能为空</p>
                </div>
            </div>

        </div>
        <!--3-->
        <div class="row">

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Gender:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="gender" id="gender_man" value="1" text="Male">
                        <label for="gender">Male</label>
                        <input type="radio" style="margin-left: 30px" name="gender" id="gender_woman" value="2"
                               text="Female">
                        <label for="gender">Female</label>
                    </div>
                    <p style="display: none;" class="null_err" id="gender_null_tip">*Please choose your gender</p>
                </div>


            </div>

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Telephone Number:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="tel">
                    <p style="display: none;" class="null_err" id="tel_null_tip">*Please enter a telephone number</p>
                </div>
            </div>


        </div>
        <!--4-->
        <div class="row">

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Post Code/Zip Code:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="postcode"
                           oninput="if(value.length>6)value=value.slice(0,6)">
                    <p style="display: none;" class="null_err" id="postcode_null_tip">*Please enter an email</p>
                </div>


            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Type of Credentials:</h4>
                </div>
                <div class="section">
                    <select id="cardtype">
                        <option value="1" selected="selected">I.D</option>
                        <option value="2">Passport</option>
                    </select>
                    <div class="connect">--</div>
                    <input class="form-control" type="text" id="id_number">
                    <p style="display: none;" class="null_err" id="id_number_null_tip">*Please enter  ID number</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Email:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="email">
                    <p style="display: none;" class="null_err" id="email_null_tip">*邮箱不能为空</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Address:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="address">
                    <p style="display: none;" class="null_err" id="address_null_tip">*Please enter address</p>
                </div>
            </div>
        </div>

    </div>

    <div class="registration" id="dogLicense_dog_div">
        <div class="title">
            <h4>Dog Register</h4>
        </div>
        <!--1-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Dog's Name:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dogname">
                    <p style="display: none;" class="null_err" id="dogname_null_tip">*What's your dog name</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Sex:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="dog_gender" id="doggender_male" value="1">
                        <label for="dog_gender">Male</label>
                        <input type="radio" style="margin-left: 30px" name="dog_gender" id="doggender_female" value="2">
                        <label for="dog_gender">Female</label>
                    </div>
                    <p style="display: none;" class="null_err" id="dog_gender_null_tip">*Please choose your dog‘s sex</p>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*canine:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <select class="kinds" id="dog_color">
                            <option value="">请选择</option>
                            <option value="白色">白色</option>
                            <option value="黑色">黑色</option>
                            <option value="褐色">褐色</option>
                            <option value="青色">青色</option>
                            <option value="黑褐色">黑褐色</option>
                            <option value="铁灰色">铁灰色</option>
                            <option value="灰褐色">灰褐色</option>
                            <option value="黄褐色">黄褐色</option>
                            <option value="灰白色">灰白色</option>
                            <option value="黑白色">黑白色</option>
                            <option value="黄红色">黄红色</option>
                            <option value="淡红色">淡红色</option>
                        </select>
                    </div>
                    <p style="display: none;" class="null_err" id="dog_color_null_tip">*犬只颜色不能为空</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>用途:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="usage" id="watch" value="观赏">
                        <label for="usage">观赏</label>
                        <input type="radio" name="usage" style="margin-left:15px;" id="police" value="警卫">
                        <label for="usage">警卫</label>
                    </div>
                    <p style="display: none;" class="null_err" id="usage_null_tip">*You can't leave this empty</p>
                </div>
            </div>
        </div>
        <!--3-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Breeds:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <select class="kinds" id="breed">
                            <option id="breed_null" value="">请选择</option>
                        </select>
                    </div>
                    <p style="display: none;" class="null_err" id="breed_null_tip">*Please choose your dog‘s breed</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Sterilization:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" id="isSterilization1" name="isSterilization" value="1">
                        <label for="isSterilization">Yes</label>
                        <input type="radio" style="margin-left: 30px" id="isSterilization0" name="isSterilization" value="0">
                        <label for="isSterilization">No</label>
                    </div>
                    <p style="display:none;" class="null_err" id="isSterilization_null_tip">*You can't leave this empty</p>
                </div>
            </div>


        </div>
        <!--4-->
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Date of Birth:</h4>
                </div>
                <div class="section" style="width:265px ;height:44px;position: relative ">
                    <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="birth_date" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="" readonly id="birth_date">
                        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <p style="display:none; position: absolute;top:44px;left: 0px;z-index: 99" class="null_err"
                       id="birth_date_null_tip">*Please choose your dog‘s date of birth</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*Iris ID:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="iris" maxlength="15">
                    <a id="recollect_iris" href="javascript:void(0)">Git ID</a>
                    <p style="display:none;clear: left" class="null_err" id="iris_null_tip">*You can't leave this empty</p>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4></h4>
                </div>
                <div class="section" id="imgs">
                </div>
                <p style="display:none;clear:left;font-size: 12px; padding-left:160px;" class="null_err"
                   id="imgs_null_tip">*Please upload a photo</p>
            </div>
        </div>
    </div>


    <div class="post_info">
        <button class="btn btnBlueE btn-block" id="post_info">提交</button>
    </div>
</div>