<div id="personal_center_view">

    <div class="basic_info">
        <div class="title">
            <h3>基本信息</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>状态：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle" style="float: left">
                    <h4>账号：</h4>
                </div>
                <div class="section" style="float: left">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle" style="float: left">
                    <h4>密码：</h4>
                </div>
                <div class="section" style="float: left">
                        <a href="#changepassword" id="change_password" style="color:#3399ff">修改密码</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle" style="float: left">
                    <h4>注册时间：</h4>
                </div>
                <div class="section" style="float: left">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle" style="float: left">
                    <h4>负责人：</h4>
                </div>
                <div class="section" style="float: left">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle" style="float: left">
                    <h4>负责人电话：</h4>
                </div>
                <div class="section" style="float: left">
                    <span></span>
                </div>
            </div>
        </div>

    </div>
    <div class="basic_info" >
        <div class="title">
            <h3>机构信息</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>免疫点名称：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>地址：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>座机：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>服务范围：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row" style="height:200px;">
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>营业执照：</h4>
                </div>
                <div class="section">
                    <div id="license">
                        <img  src="img/license.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>动物诊疗许可证：</h4>
                </div>
                <div class="section">
                    <div id="permit">
                        <img src="img/peimit.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic_info">
        <div class="title">
            <h3>硬件信息</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>设备ID：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>硬件版本：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="basic_info">
        <div class="title">
            <h3>
                <span>硬件信息</span>
                <button class="btn btnBlueE btn-block" id="btn_account">添加兽医</button>
            </h3>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>姓名：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>身份证号：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>职业兽医师资格证编号：</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle">
                    <h4>
                        <a href="javascript:void (0)" class="delete" style="color:red;">删除</a>
                    </h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div id="change_password_view"></div>

</div>