<div id="personal_center_view">

    <div id="basic_info">
        <p style="padding-left:20px;font-size:16px;">基本信息</p>
        <p class="infos_tr">
            <span class="infos">状态：审核中</span>
        </p>
        <p class="infos_tr">
            <span class="infos">账号：<span id="account">zhangsan@aliyun.com</span></span>
            <span class="infos">密码：<a href="javascript:void(0);" style="color:#3399ff">修改密码</a></span>
            <span class="infos">注册时间：<span id="register_time">2016-2-12 12:23:12</span></span>
        </p>
        <p class="infos_tr">
            <span class="infos">负责人：<span id="leader">张三</span></span>
            <span class="infos">负责人电话：<span id="leader_phone">138123456789</span></span>
        </p>
    </div>

    <div id="organization_info" >
        <p style="padding-left:20px;font-size:16px;">基本信息</p>
        <p class="infos_tr">
            <span class="infos" style="width:200px;">免疫点名称：<span id="immune_name">顽皮家族</span></span>
            <span class="infos">地址：<span id="address">上海市，徐汇区，漕河泾</span></span>
            <span class="infos" >营业执照：</span>
            <span class="infos">动物诊疗许可证：</span>
        </p>
        <p class="infos_tr" id="licence">
            <span class="infos">座机：<span id="telephone">021-12345678</span></span>
            <span class="infos">服务范围：<span id="service_range">诊疗，美容</span></span>
            <div id="licence_img">图片</div>
            <div id="medical_img">图片</div>
        </p>
    </div>

    <div id="hardware_info">
        <p style="padding-left:20px;font-size:16px;">硬件信息</p>
        <p class="infos_tr">
            <span class="infos">设备ID：<span>1234567890</span></span>
            <span class="infos">硬件版本：<span>1234567890</span></span>
        </p>
    </div>

    <div id="child_account">
        <p style="padding-left:20px;font-size:16px;">
            子账号
            <button id="btn_account">开通子账号</button>
        </p>
        <p class="infos_tr">
            <span class="infos">账号：<span id="account">zhangsan@aliyun.com</span></span>
            <span class="infos">用户名：<span id="user_name">张三</span></span>
            <span class="infos"><a href="javascript:void (0)" style="color:red;">删除</a></span>
        </p>
        <p class="infos_tr">
            <span class="infos">账号：<span id="account">zhangsan@aliyun.com</span></span>
            <span class="infos">用户名：<span id="user_name">张三</span></span>
            <span class="infos"><a href="javascript:void (0)" style="color:red;">删除</a></span>
        </p>
        <p class="infos_tr">
            <span class="infos">账号：<span id="account">zhangsan@aliyun.com</span></span>
            <span class="infos">用户名：<span id="user_name">张三</span></span>
            <span class="infos"><a href="javascript:void (0)" style="color:red;">删除</a></span>
        </p>
    </div>

</div>