<div>
 <select id="province" name="province" >
  　　　　　　　　<option id="choosePro"value="-1">请选择您所在省份</option>
  　　　　　　</select>

   <select id="citys" name="city" >
 　　　　　　　　<option id='chooseCity' value='-1'>请选择您所在城市</option>
 　　　　　　</select>

  <select id="county" name="county">
 　　　　　　　　<option id='chooseCounty' value='-1'>请选择您所在区/县</option>
　　　　　　</select>
</div>

