<div class="il_box login_box">
    <form id="login_form">
        <div class="il_body">
            <h4>Log In</h4>
            <div class="form-group">
                <label class="sr-only" for="username">Log In</label>
                <input class="form-control" id="email" autofocus="autofocus" type="email" name="email" placeholder="Enter your email address">
                <p style="display: none;" class="null_err" id="email_null_tip">*Enter your email address</p>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Email address</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter your Password">

                <p style="display: none;" class="null_err" id="password_null_tip">*Enter your Password</p>
            </div>
        </div>
        <div class="il_btn clearfix">
            <button type="button" id="loginBtn" class="btn btnBlueE btn-block">Log In</button>
            <a  id="forgetPwd" class="retrieve">Forgot Password?</a>
            <a href="#signup" class="reg">Register</a>
        </div>
    </form>
</div>


    

    





