<div class=".container-fluid">
    <div class="row">
	    <div class="col-md-12">
	        <header class="header">
			     <a  href="javascript:void(0);">
                      <img src="img/logo1.png" style="float:left">
                 </a>
                 <h4 style="float:left" id="title" >犬类信息管理系统</h4>
		    </header >
	    </div>   
    </div>
</div>