<div  class="infosearch">
    <div class="infosearch_list">
        <ul class="nav ">
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_dogowner">犬主查询</a></li>
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_dog">犬只查询</a></li>
        </ul>
    </div>
    <div class="infosearch_content">

    </div>
</div>