<header class="signup-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a  href="javascript:void(0);">
                    <!--<img src="img/logo1.png" style="float:left">-->
                    <h4 style="float:left" id="title" >犬类信息管理系统</h4>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="il_wrap" style="margin-top: 100px">
    <div class="il_box">
        <div class="il_body">
            <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                <h4>Create password</h4>
                <p>创建密码并确认即可完成</p>
                
                <div class="form-group">
                    <label class="sr-only">Create password</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" name="password"  type="password" placeholder="Create a new password">
                    <p style="display:none;" class="null_err" id="password_null_tip">*Enter your Password</p>
                    <p style="display:none;" class="null_err" id="password_length_tip">*请输入至少6位密码</p>
                </div>
                
                <div class="form-group">
                    <label class="sr-only">Confirm Password</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" name="repassword"  type="password" placeholder="Confirm Password">
                    <p style="display:none;" class="null_err" id="repassword_null_tip">*Enter your Password</p>
                    <p style="display:none;" class="null_err" id="repassword_length_tip">*请输入至少6位密码</p>
                    <p style="display:none;" class="null_err" id="repassword_diff_tip">*两次密码输入不一致</p>
                </div>
                
                <button id="veriftEmailBtn" type="button" class="btn btnBlack btn-block" >
                    Submit
                </button>

            </form>
        </div>
    </div>
</div>
<footer class="footer navbar-fixed-bottom " style="background:#cccccc;">
    <div class="container">
        <p class="text-center" >沪ICP备 16015040号-2 上海市徐汇区虹梅路2071号二号楼311室</p>
        <p class="text-center" style="margin-top:-20px;">Copyright©2016-2017，HALOKIT.CN,All Rights Reserved</p>
    </div>
</footer>