<div class="container newsCenter" id="news_content">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news1.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">电子犬证正式上线,成都范围内手机即可办理<span  class="visible-lg-block">2018-03-28 02:07</span></p>
            <p class="content"> 电子犬证正式上线！在成都范围内，养犬市民只需通过手机微信关注“蓉城犬管”公众账号，
                完成实名制注册和宠物犬信息填写，就可轻松办理养犬许可证了。昨日，成都商报记者了解到，
                手机办理电子犬证的范围，已从此前的金牛区试点，推广到全市范围内。每一位犬主，
                都应该为爱犬办理养犬证，这也相当于是狗狗的“身份证”。对于普通市民而言，犬只办理准养证，
                可以更加规范现有犬只的管理。…<a class="NewsFirst">查看全文>></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news2.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">狗狗“伤害”事件时发生,不少人养狗未办“狗证”<span class="visible-lg-block">2017-05-09 08:24</span></p>
            <p class="content">自古以来，狗都是人类忠实的伙伴，给人带来陪伴和乐趣。越来越多的人将狗作为爱宠，
                茶余饭后遛遛狗也是惬意的事。可是，问题来了！现实生活中，狗咬狗，甚至狗咬人事件时有发生。
                7日上午，美石鼓路一只烈犬挣脱主人咬死小宠物狗的事件就引起广大市民的议论。在城市里，
                如何文明养犬，这是一个值得关注和探讨的话题。…<a class="NewsSecond">查看全文>></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news5.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">Biometric Identification for Pets<span class="visible-lg-block">2016-08-16 10:33</span></p>
            <p class="content">For those of you with pets, you know what a bureaucratic hassle it is to prepare your pets
                for travel during the holidays. Pets need to have vaccinations, booster vaccination shots of the same
                vaccination for a certain time frame, take deworming meds 24 hours before a flight and many EU
                countries have mandatory microchipping laws.…<a class="NewsFifth">Check Article>></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news3.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">Dog microchipping becomes compulsory across UK<span class="visible-lg-block">2016-04-06 12:33</span></p>
            <p class="content">Dog owners who have not had their pets microchipped could face a fine of up to £500,
                as a new law comes into force.All dogs in England, Scotland and Wales are now legally
                required to have been chipped by the time they are eight weeks old. A law has been in
                place in Northern Ireland since 2012.It is hoped more stray or lost dogs can be reunited
                with their owners.…<a class="NewsThird">Check Article>></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news4.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">一张狗证,煞多少人？<span class="visible-lg-block">2013-07-02 14:23</span></p>
            <p class="content">一张养犬登记证(俗称“狗证”)是城市养犬管理制度的缩影。城市养狗的人越来越多，
                我国大中城市因此纷纷制定出台规范养犬行为的地方法规，办狗证是其中不可或缺的一环。
                可法规落地后，其效力多销匿于无声，为什么不少养犬人不愿办证？是押宝法不责众还是另有原因？
                人民手机报《身边》栏目特别策划了“养犬烦心录系列报道”，以北京为例，为城市犬只管理问题把脉，
                并探寻求解之道。…<a class="NewsFourth">查看全文>></a>
            </p>
        </div>
    </div>
</div>
