<div class="container newsCenter" id="news_content">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news5.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">Biometric Identification for Pets<span class="visible-lg-block">2016-08-16 10:33</span></p>
            <p class="content">For those of you with pets, you know what a bureaucratic hassle it is to prepare your pets
                for travel during the holidays. Pets need to have vaccinations, booster vaccination shots of the same
                vaccination for a certain time frame, take deworming meds 24 hours before a flight and many EU
                countries have mandatory microchipping laws.…<a class="NewsFirst">Check Article>></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="img/news3.png">
        </div>
        <div class="col-md-8 col-xs-12">
            <p class="title">Dog microchipping becomes compulsory across UK<span class="visible-lg-block">2016-04-06 12:33</span></p>
            <p class="content">Dog owners who have not had their pets microchipped could face a fine of up to £500,
                as a new law comes into force.All dogs in England, Scotland and Wales are now legally
                required to have been chipped by the time they are eight weeks old. A law has been in
                place in Northern Ireland since 2012.It is hoped more stray or lost dogs can be reunited
                with their owners.…<a class="NewsSecond">Check Article>></a>
            </p>
        </div>
    </div>
</div>
