<div class="container newsCenter">
    <div class="row">
        <div class="col-md-3">
            <img src="img/004.jpg">
        </div>
        <div class="col-md-8">
            <h3>中国人工智能要"郑和下西洋"<span>2018-03-19 12:30</span></h3>
            <p>2月9-10日，在北京举办的《中国企业家》“2017中国企业领袖年会”上，
                商汤科技SenseKeeper人脸识别闸机，为一百多位商界大咖提供刷脸签到服务，
                其中包括李开复、李东生、董明珠等。稳定的人脸识别技术让在场来宾体验到人工智能的高效与便捷，
                并被诸多嘉宾交口称赞。…查看全文>>
            </p>
        </div>
    </div>
</div>
<div class="container newsCenter">
    <div class="row">
        <div class="col-md-3">
            <img src="img/004.jpg">
        </div>
        <div class="col-md-8">
            <h3>中国人工智能要"郑和下西洋"<span>2018-03-19 12:30</span></h3>
            <p>2月9-10日，在北京举办的《中国企业家》“2017中国企业领袖年会”上，
                商汤科技SenseKeeper人脸识别闸机，为一百多位商界大咖提供刷脸签到服务，
                其中包括李开复、李东生、董明珠等。稳定的人脸识别技术让在场来宾体验到人工智能的高效与便捷，
                并被诸多嘉宾交口称赞。…查看全文>>
            </p>
        </div>
    </div>
</div>
<div class="container newsCenter">
    <div class="row">
        <div class="col-md-3">
            <img src="img/004.jpg">
        </div>
        <div class="col-md-8">
            <h3>中国人工智能要"郑和下西洋"<span>2018-03-19 12:30</span></h3>
            <p>2月9-10日，在北京举办的《中国企业家》“2017中国企业领袖年会”上，
                商汤科技SenseKeeper人脸识别闸机，为一百多位商界大咖提供刷脸签到服务，
                其中包括李开复、李东生、董明珠等。稳定的人脸识别技术让在场来宾体验到人工智能的高效与便捷，
                并被诸多嘉宾交口称赞。…查看全文>>
            </p>
        </div>
    </div>
</div>
<div class="container newsCenter" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-md-3">
            <img src="img/004.jpg">
        </div>
        <div class="col-md-8">
            <h3>中国人工智能要"郑和下西洋"<span>2018-03-19 12:30</span></h3>
            <p>2月9-10日，在北京举办的《中国企业家》“2017中国企业领袖年会”上，
                商汤科技SenseKeeper人脸识别闸机，为一百多位商界大咖提供刷脸签到服务，
                其中包括李开复、李东生、董明珠等。稳定的人脸识别技术让在场来宾体验到人工智能的高效与便捷，
                并被诸多嘉宾交口称赞。…查看全文>>
            </p>
        </div>
    </div>
</div>