<!--核心技术开始-->
<div class="container" id="core_tech">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">核心技术</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        非接触式
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        适应性强
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        准确性高
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        快速
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>对于图片中可检测的人脸数量没有限制，轻松处理各类集体图片。</p>
                    </div>
                    <div class="hide">
                        <p>22222222222</p>
                    </div>
                    <div class="hide">
                        <p>33333333333</p>
                    </div>
                    <div class="hide">
                        <p>44444444444</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->
<!--技术细节开始-->
<div class="container" id="tech_detail">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>虹膜识别</h3>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img src="../img/dog1.jpg">
        </div>
    </div>
    <div class="row" style="border-bottom: none;margin-bottom: 50px">
        <div class="col-md-5 col-md-offset-1">
            <h3>虹膜识别</h3>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img src="../img/dog1.jpg">
        </div>
    </div>
</div>
<!--技术细节结束-->