<!--核心技术开始-->
<div class="container" id="core_tech">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Core Technologies</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        <span class="tips">Non-invasive</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        <span class="tips">Adaptable</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        <span class="tips">High Accuracy</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        <span class="tips">Fast</span>
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>Non-invasive scanning from 40cm away, different from traditional microchip, no side effects, no worry about health risks.</p>
                    </div>
                    <div class="hide">
                        <p>A iris scan is performed by casting an unperceived beam of low-energy infrared light into pet's eye. The light intensity is only 1/10 of the light intensity specified by the IEC62471 Biosafety Detection Standard. Far below the safety threshold, and cause no eye damage.</p>
                    </div>
                    <div class="hide">
                        <p>The Recognition accuracy is above 99%. Physiological studies have shown that the detailed features of the iris texture are determined by the random factors of embryo development environment. This random distribution of the texture details lays the physiological foundation for the uniqueness of the iris.</p>
                    </div>
                    <div class="hide">
                        <p>First time registration and acquisition takes less than 1 minute and the recognition only takes 5-10 seconds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->
<!--技术细节开始-->
<div class="container" id="tech_detail">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h3><img src="img/iristag2.png"> Canine Iris Recognition Algorithm</h3>
            <p>
                Iris recognition technology identifies dogs based on the iris in the eyes. The eye structure of dogs consists of sclera, iris, pupil lens, retina, etc. The iris is a circular ring between the black pupil and the white sclera, which contains many detailed features such as interlaced spots, filaments, corona, strips and etc. Moreover,the iris will remain the same throughout life. These characteristics determine the uniqueness of iris features and the uniqueness of identity. Therefore, the iris characteristics of eyes can be used as the dog's identification objects. Iris Tag's dog iris recognition algorithm uses deep learning methods to increase the sample size of the training model so that is can better extract dogs' eye characteristics. In addition, in order to improve the robustness of the biometric recognition algorithm, Iris Tag's dog iris recognition algorithm makes full use of the low level ordinal measure image features to improve the system's ability to resist intra-class changes.
            </p>

        </div>
        <div class="col-md-4 col-md-offset-1">
            <img src="img/tech01.png">
        </div>
    </div>
    <div class="row" style="border-bottom: none;margin-bottom: 50px">
        <div class="col-md-6 col-md-offset-1">
            <h3><img src="img/iristag2.png"> Canine Iris Information Management System</h3>
            <p>
                The company independently develops handheld devices, including iris recognition algorithm, embedded software and hardware, and canine information management system platform. The patented unique array of camera components and the recognition algorithm have overcome the technical difficulties of animal iris recognition. Canine Iris Information Management System has opened up the pet industry information data system through different levels of encryption authorization, and has connected  related government departments, pet industry organizations and business and consumer users，therefore to manage the pet data more efficiently and perfectly.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <img id="boost" src="img/tech02_en.png">
        </div>
    </div>
</div>
<!--技术细节结束-->
<!--图片点击放大开始-->
<div class="container_fluid  boost_layer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="img/tech02_en.png">
        </div>
    </div>
    <img id="close" src="img/close.jpg">
</div>
<!--图片点击放大结束-->
