<!--核心技术开始-->
<div class="container" id="core_tech">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">核心技术</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        <span class="tips">非侵入式</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        <span class="tips">适应性强</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        <span class="tips">准确性高</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        <span class="tips">快速</span>
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>40cm外非接触式采集，告别传统芯片注射，无副作用、无须担心有健康风险。</p>
                    </div>
                    <div class="hide">
                        <p>近红外辅助光源照射到眼镜的光线强度，只有IEC62471生物安全检测标准规定的光强1/10，远远低于安全门限，不会对眼睛造成伤害。</p>
                    </div>
                    <div class="hide">
                        <p>99%以上的识别精度。生理学研究表明，虹膜纹理的细节特征是由胚胎发育环境的随机因素决定的，这种纹理细节的随机分布特性为虹膜的唯一性奠定了生理基础。</p>
                    </div>
                    <div class="hide">
                        <p>首次注册采集1分钟以内，识别只需5-10秒。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->
<!--技术细节开始-->
<div class="container" id="tech_detail">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>虹膜识别</h3>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img src="../img/dog1.jpg">
        </div>
    </div>
    <div class="row" style="border-bottom: none;margin-bottom: 50px">
        <div class="col-md-5 col-md-offset-1">
            <h3>虹膜识别</h3>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
            <p>检测并定位图片中的人脸，返回高精度的人脸坐标。检测并定位图片中的人脸，返回高精度的人脸坐标。</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <img src="../img/dog1.jpg">
        </div>
    </div>
</div>
<!--技术细节结束-->