<!--虹膜系统banner开始-->
<div id="iris_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Dog Iris Identification System</h3>
                <p>犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                    犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                </p>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <img src="img/video.png">
            </div>
        </div>
    </div>
</div>
<!--虹膜系统banner结束-->

<!--工作流程开始-->
<div class="container" id="microchip">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="main_title">如何利用虹膜技术来识别犬只身份信息？</div>
            <div class="top">
                <div class="title">
                    <img class="default" style="display: none;" src="img/0_default.png">
                    <img class="img_current" style="display: block;" src="img/0_active.png">
                    <div class="tip">虹膜采集</div>
                    <span class="arrow"></span>
                </div>
                <dl class="line"><img src="img/line.png"></dl>
                <div class="title">
                    <img class="default" src="img/1_default.png">
                    <img class="img_current" src="img/1_active.png">
                    <div class="tip">信息录入</div>
                    <span></span>
                </div>
                <dl class="line"><img src="img/line.png"></dl>
                <div class="title">
                    <img class="default" src="img/2_default.png">
                    <img class="img_current" src="img/2_active.png">
                    <div class="tip">信息查询</div>
                    <span></span>
                </div>
                <dl class="line"><img src="img/line.png"></dl>
                <div class="title">
                    <img class="default" src="img/3_default.png">
                    <img class="img_current" src="img/3_active.png">
                    <div class="tip">虹膜识别</div>
                    <span></span>
                </div>
                <dl class="line"><img src="img/line.png"></dl>
                <div class="title">
                    <img class="default" src="img/4_default.png">
                    <img class="img_current" src="img/4_active.png">
                    <div class="tip">比对成功</div>
                    <span></span>
                </div>
            </div>
            <div class="bottom">
                <div class="content" style="display:block">虹膜采集</div>
                <div class="content">信息录入</div>
                <div class="content">信息查询</div>
                <div class="content">虹膜识别</div>
                <div class="content">比对成功</div>
            </div>
        </div>
    </div>
</div>

<!--工作流程结束-->




<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>Product Advantages</p>
        </div>
    </div>
    <div class="row visible-lg-block">
        <div class="col-md-4 col-xs-12">
            <img src="img/1.png">
            <div class="tips" style="background: #F26352;">
                <h3>Accurate & Fast</h3>
                <p>The iris recognition accuracy is more than 99%. It takes less than 60 seconds to register and collect iris information, and 5 seconds to recognize.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/2.png">
            <div class="tips" style=" background: #E7A856;">
                <h3>Safe</h3>
                <p>
                    Non-invasive recognition method ensures the safety of the dogs, no more traditional microchip injection, and no worry about health risks.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/3.png">
            <div class="tips" style="background: #82AC34;">
                <h3>Reliable</h3>
                <p>Our strong R&D, and operation and maintanence team can support high concurrent load,guarantee high availability, and provide comprehensive services.
                </p>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-md-4 col-xs-12">
            <img src="img/m1.jpg">
            <div class="tips"   style="background:#F26352;">
                <h3>Accurate & Fast</h3>
                <p>The iris recognition accuracy is more than 99%. It takes less than 60 seconds to register and collect iris information, and 5 seconds to recognize.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/m2.jpg">
            <div class="tips"   style=" background:#E7A856;">
                <h3>Safe</h3>
                <p>
                    Non-invasive recognition method ensures the safety of the dogs, no more traditional microchip injection, and no worry about health risks.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/m3.jpg">
            <div class="tips"   style="background:#82AC34;">
                <h3>Reliable</h3>
                <p>
                    Our strong R&D, and operation and maintanence team can support high concurrent load,guarantee high availability, and provide comprehensive services.
                </p>

            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->

<!--应用场景开始-->
<div class="container" id="scene">
    <div class="row">
        <div class="col-md-12">
            <p>应用场景</p>
        </div>
    </div>
    <!--PC端应用场景-->
    <div class="row visible-lg-block">
        <!--左侧一列-->
        <div class="col-md-3">
            <div class="layer1">
                <h3>Dog License</h3>
                <p>
                    More and more cities have implemented dog management system, which requires each pet dog to have its dog license. With "Iris Tag" Dog Iris Information Management System, dog's information can be searched using its iris ID, which informationize and intelligentialize the dog management. The entire solution includes multiple application subsystems such as public security offices, agriculture committees, immunization spots, pet hospitals and etc. It also covers the acquisition/collection and management of information including dog registration, annual inspection, immunization, fostering, sterilization and etc.
                </p>
            </div>
        </div>
        <!--中间一列-->
        <div class="col-md-4">
            <div class="top1">
                <div class="layer1">
                    <h3>Pet Insurance</h3>
                    <p>
                        Iris becomes the most reliable identification method because it is the most accurate and stable biological characteristic, moreover it is portable, safe and reliable, and difficult to counterfeit. "Iris Tag" Dog Iris Recognition technology makes it possible to identify dogs, therefore assists the insurance companies to provide pet insurance and claims services.
                    </p>
                </div>
            </div>
            <div class="bottom1">
                <div class="layer1">
                    <h3>Purebred Dog Bloodline Certification</h3>
                    <p>
                        Iris texture contains many detailed features such as interlaced spots, filaments, corona, strips and etc. Moreover, the iris will remain the same throughout life. The dog can be identified only through photographing its eyes with the device. Non-invasive recognition method is completely harmless to your dogs, no worry about health risks.The light intensity that shines on the eyes by the near-infrared light source used for shooting, is only 1/10 of the light intensity specified by the IEC62471 Biosafety Detection Standard. Far below the safety threshold.
                    </p>
                </div>
            </div>
        </div>
        <!--右侧一列-->
        <div class="col-md-4" style="margin-right: 0">
            <div class="top2">
                <div class="layer1">
                    <h3>Pet Hospital/ Pet Shops</h3>
                    <p>At present, pet hospitals and pet shops use personal information of dog owners as identification, which creates security vulnerabilities such as easy to forge and replace, etc. "Iris Tag" Dog Iris Recognition technology makes dog identification more accurate, efficient and simple.It can improve customer management level of pet hospitals and pet shops, and enhance customer experience. Meanwhile, it protects employees'safety by acquisiting   the rabies vaccine information of the dogs.
                    </p>
                </div>
            </div>
            <div class="bottom2">
                <div class="layer1">
                    <h3>Pet Air Transport</h3>
                    <p>"Iris Tag" Dog Iris Recognition technology makes dog identification more accurate, efficient and simple.</p>
                </div>
            </div>
        </div>
    </div>
    <!--移动端应用场景-->
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/scene0.jpg">
            <div class="layer">
                Dog License
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene2.jpg">
            <div class="layer">
                Pet Insurance
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene3.jpg">
            <div class="layer">
                Purebred Dog Bloodline Certification
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene5.jpg">
            <div class="layer">
                Pet Hospital/ Pet Shops
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene4.jpg">
            <div class="layer">
                Pet Air Transport
            </div>
        </div>
    </div>

    <!--应用场景结束-->
