<!--虹膜系统banner开始-->
<div id="iris_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>犬类虹膜身份识别系统</h3>
                <p>犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                   犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                </p>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <img  src="img/video.png">
            </div>
        </div>
    </div>
</div>
<!--虹膜系统banner结束-->

<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>产品优势</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="img/bg01.jpg">
            <div class="tips"   style="background: rgba(237, 173, 91, 0.8);">
                <h3>采集速度快</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg02.jpg">
            <div class="tips"   style=" background: rgba(90, 161, 235, 0.8);">
                <h3>统一规格</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg03.jpg">
            <div class="tips"   style="background: rgba(145, 70, 210, 0.8);">
                <h3>安全放心</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->

<!--应用场景开始-->
<div class="container" id="scene">
    <div class="row">
        <div class="col-md-12">
            <p>应用场景</p>
        </div>
    </div>
    <!--PC端应用场景-->
    <div class="row visible-lg-block">
        <div class="col-md-3">
            <img src="img/scene1.jpg">
            <div class="layer">
                <h3>政府养犬许可证</h3>
            </div>
            <p class="detail">越来越多的城市实行养犬管理制度，规定每只宠物狗都要办理狗证。
                利用Iris Tag犬只虹膜信息管理系统，可实现以犬只虹膜为ID的犬只信息查询，
                从而使养犬管理实现信息化和智能化。整个解决方案包含公安、农委、免疫点、
                宠物医院等多个应用子系统，涉及犬只登记、年检、免疫、准养、绝育等信息的采集和管理。
            </p>
        </div>
        <div class="col-md-4">
            <div class="top">
                <img src="img/scene2.jpg">
                <div class="layer">
                    <h3>宠物保险</h3>
                </div>
                <p class="detail">虹膜作为最精确、最稳定的生物特征，具有随身携带、安全可靠、难以伪造等特点，
                    是可靠度最高的识别方式。Iris Tag犬只虹膜识别技术协助保险公司宠物投保、理赔服务，
                    使得犬类身份认证不在是业务开展的障碍。
                </p>
            </div>
            <div class="bottom">
                <img src="img/scene3.jpg">
                <div class="layer">
                    <h3>纯种犬血统认证</h3>
                </div>
                <p class="detail">
                    虹膜纹理包含很多相互交错的斑点、细丝、冠状、条纹、隐窝等的细节特征。
                    而且虹膜纹理从出生就固定不变。只需通过设备拍摄犬只眼部，即可识别犬只身份。
                    非侵入式的识别方式对您的爱犬完全无害，无需担心健康风险。虹膜识别中应用的近红外光源，
                    照射到眼睛的光线强度，大约只有IEC62471生物安全检测标准规定光强的1/10，远远低于安全门限。
                </p>
            </div>
        </div>
        <div class="col-md-4" style="margin-right: 0">
            <div class="top">
                <img src="img/scene4.jpg">
                <div class="layer">
                    <h3>宠物医院/宠物店</h3>
                </div>
                <p class="detail">目前，宠物医院以及宠物医院以养犬人的个人信息作为身份认证，
                    存在易伪造，易替代等安全漏洞。Iris Tag犬只虹膜识别技术使得犬类身份认证变得更准确、高效、简单。
                    提高宠物医院、宠物店客户管理水平和提升客户体验，同时可以获取犬只的狂犬病疫苗信息，对员工安全有保障。
                </p>
            </div>
            <div class="bottom">
                <img src="img/scene5.jpg">
                <div class="layer">
                    <h3>宠物航空运输</h3>
                </div>
                <p class="detail" style="top:120px">Iris Tag犬只虹膜识别技术使得犬类身份认证变得更准确、高效、简单。</p>
            </div>
            <div>
        </div>

    </div>
</div>
    <!--移动端应用场景-->
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/scene1.jpg">
            <div class="layer">
                政府养犬许可证
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene2.jpg">
            <div class="layer">
                宠物保险
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene3.jpg">
            <div class="layer">
                纯种犬血统认证
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene4.jpg">
            <div class="layer">
                宠物医院/宠物店
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/scene5.jpg">
            <div class="layer">
                宠物航空运输
            </div>
        </div>
    </div>

<!--应用场景结束-->
