<div  id="dog_manage">
    <div id="manage_list">
        <ul class="nav ">
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_dog">办理狗证</a></li>
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_person">个人办证</a></li>
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_business">企业办证</a></li>
        </ul>
    </div>
    <div id="manage_content">
        <h4>个人办证</h4>
        <form role="form" id="form_dog" class="form-horizontal">
            <h4>犬只登记</h4>
            <!--<div class = "form-group">-->
            <!--<label class="col-sm-2 control-label" for = "name">犬名</label>-->
            <!--<div class="col-sm-2">-->
            <!--<input type = "text" class = "form-control" id = "name"-->
            <!--placeholder = "请输入姓名"></input>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*性别：</label>-->
            <!--<input type="radio" class="form-control" id="" placeholder="">男-->
            <!--<input type="radio" class="form-control" id="" placeholder="">女-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*毛色：</label>-->
            <!--<section>-->
            <!--<option>棕色</option>-->
            <!--<option>黑色</option>-->
            <!--<option>黄色</option>-->
            <!--</section>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">用途：</label>-->
            <!--<input type="radio" class="form-control" id="" placeholder="">观赏-->
            <!--<input type="radio" class="form-control" id="" placeholder="">警卫-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">品种：</label>-->
            <!--<section>-->
            <!--<option>金毛</option>-->
            <!--<option>哈士奇</option>-->
            <!--<option>贵宾</option>-->
            <!--</section>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">出生日期：</label>-->
            <!--<input type="date" name="user_date" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*虹膜id：</label>-->
            <!--<input type="date" name="user_date" />-->
            <!--<a href="#">重新采集虹膜</a>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">出生日期：</label>-->
            <!--<input type="date" name="user_date" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="image_container">-->
            <!--<img id="preview" width="60" height="60">-->
            <!--</div>-->
            <!--<input id="file_upload" type="file" value="重新采集图片" />-->
            <!--<input id="file_upload" type="file" value="上传本地图片" />-->
            <!--</div>-->
        </form>
        <form id="form_vaccin">
            <h4>免疫登记</h4>
            <!--<div class="form-group">-->
            <!--<label for="">*疫苗名称：</label>-->
            <!--<section>-->
            <!--<option>狂犬疫苗1</option>-->
            <!--<option>狂犬疫苗2</option>-->
            <!--<option>狂犬疫苗3</option>-->
            <!--</section>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*疫苗批号：</label>-->
            <!--<input type="input" class="form-control" id="" placeholder="">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*操作人：</label>-->
            <!--<input type="input" class="form-control" id="" placeholder="">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="">*生产厂商：</label>-->
            <!--<input type="input" class="form-control" id="" placeholder="">-->
            <!--</div>-->
        </form>
        <form>
            <div class="form-group">

                <button class="btn btnBlueE btn-block" id="next">下一步</button>

            </div>
        </form>
    </div>
</div>