<div  class="dog_manage">
    <div class="manage_list">
        <ul class="nav ">
            <!--<li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_dog">办理狗证</a></li>-->
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_person">个人办证</a></li>
            <li role="presentation"><a href="javascript:void(0)" style="color: #ffffff;" id="btn_business">企业办证</a></li>
        </ul>
    </div>
    <div class="manage_content">

    </div>
</div>