<div class="personal_card">
    <div class="title">
        <h3>个人办证</h3>
    </div>
    <div class="registration">
            <div class="title">
                <h4>个人办证</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="subtitle">
                        <h4>*条形码:</h4>
                    </div>
                    <div class="section">
                        <input type="text" id="barcode" >
                    </div>
                </div>
            </div>
    </div>

    <div class="registration">
        <div class="title">
            <h4>犬主登记</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*犬主姓名:</h4>
                </div>
                <div class="section">
                    <input type="text" id="dogowner_name" >
                    <span style="display: none" id="err_tip">*请输入犬主姓名</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="man" value="option1">男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="woman" value="option2">女
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>手机号码:</h4>
                </div>
                <div class="section">
                    <input type="text" id="telephone" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬主座机:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="area_code">请选择</option>
                    </select>
                    - <input type="text"  id="phone" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件类型:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="idcard" value="option1">身份证
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="passport" value="option2">护照
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件号:</h4>
                </div>
                <div class="section">
                    <input type="text"  id="id_number" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*所属区县:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="chose_province">请选择</option>
                    </select>
                    <select>
                        <option id="chose_city">请选择</option>
                    </select>
                    <select>
                        <option id="chose_county">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*详细地址:</h4>
                </div>
                <div class="section">
                    <input type="text"  id="address" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>邮编:</h4>
                </div>
                <div class="section">
                    <input type="text"  id="postcode" >
                </div>
            </div>
        </div>
    </div>

    <div class="registration">
        <div class="title">
            <h4>犬只登记</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬名:</h4>
                </div>
                <div class="section">
                    <input type="text"  id="dogname" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="male" value="option1">雄
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="female" value="option2">雌
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*毛色:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="hair_color">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>用途:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="watch" value="option1">观赏
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="police" value="option2">警卫
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*品种:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="kind">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>出生日期:</h4>
                </div>
                <div class="section">
                    <input  type="text"  id="birth_date" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*虹膜id:</h4>
                </div>
                <div class="section">
                    <input  type="text"  id="birth_date" >
                    <a id="recollect_iris"   href="javascript:void(0)">重新采集虹膜</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle" id="imgs">
                    <img src="" id="dog_img" class="dog_img" />
                </div>
                <div class="section" id="collectimg" >
                    <a id="recollect_img"  href="javascript:void(0)">重新采集图片</a>
                    <input  type="file"   id="upload" value="上传本地图片" class="upload"   >
                </div>
            </div>
        </div>
    </div>

    <div class="registration">
            <div class="title">
                <h4>疫苗登记</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="subtitle">
                        <h4>*疫苗名称:</h4>
                    </div>
                    <div class="section">
                        <select>
                            <option id="iris_name">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="subtitle">
                        <h4>*疫苗批号:</h4>
                    </div>
                    <div class="section">
                        <input  type="text" id="iris_batch"  >
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*生产厂商:</h4>
                </div>
                <div class="section">
                    <input  disabled="disabled" type="text"  id="" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>免疫点名称:</h4>
                </div>
                <div class="section">
                    <input  disabled="disabled" type="text" placeholder="上海顽皮家族"  id="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*兽医:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="doctor_name">请选择</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="registration">
        <div class="title">
            <h4>疫苗登记<span class="small_title">(如需办理养犬登记请填写如下内容)</span></h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>产权性质:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="owner" value="option1">自有
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="rent" value="option2">租赁
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>房产证号:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="house_number">请选择</option>
                    </select>
                    <label  for="year" >年份</label>
                    <input  type="text" style="width: 50px;" />
                    <label  for="">第</label>
                    <input  type="text" style="width: 50px;" />
                    <label  for="">周</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>是否绝育:</h4>
                </div>
                <div class="section">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="yes" value="option1">是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="no" value="option2">否
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>登记地址:</h4>
                </div>
                <div class="section">
                    <input type="text"  id="reg_address" >
                    <input type="checkbox"  >
                    <label  for="" >与犬主地址相同</label>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btnBlueE btn-block"  id="post_info">提交</button>


</div>