<div class="print_card">

    <div class="title_nav">
        <h3>License Issue/Personal Issue/Making Card</h3>
    </div>

    <div class="content">
        <div class="title">
            <div class="row">
                <div class="col-md-4">
                    <div class="subtitle">
                        <h3>E-card</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card_front">
                    <img src="img/license_front.jpg"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card_behind">
                    <img src="img/license_behind.jpg"/>
                </div>
            </div>

        </div>
    </div>


    <!--狗证信息 有-->
    <div class="content">
        <div class="title">
            <h3>License Info.</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Owner Name:</h4>
                </div>
                <div class="section">
                    <span id="dogCardName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Card No.:</h4>
                </div>
                <div class="section">
                    <span id="dogCardNo"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Address:</h4>
                </div>
                <div class="section">
                    <span id="dogCardAddr"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Canine:</h4>
                </div>
                <div class="section">
                    <span id="dogCardHairColor"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Breeds:</h4>
                </div>
                <div class="section">
                    <span id="dogCardBreed"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Date of Expiry:</h4>
                </div>
                <div class="section">
                    <span id="dogCardSignDate"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Iris ID:</h4>
                </div>
                <div class="section">
                    <span id="dogCardIrisID"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Authority:</h4>
                </div>
                <div class="section">
                    <span id="dogCardSignOrganization"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>Date of Issue:</h4>
                </div>
                <div class="section">
                    <span id="dogCardCreate"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btnBlueE btn-block infoBtn" id="dogcard_print">Making Card</button>
            </div>

        </div>
    </div>



</div>