
    <div class="il_box">
            <div class="il_body" id="p-body">
                <h4>Register for an account</h4>
                <p id="default_tip" style="font-weight:bold;">We will send you the verification email. You'll use the email address when you log in and reset your password.</p>

                <div class="form-group">
                    <label class="sr-only">Enter your email address</label>
                    <input data-toggle="tooltip" data-placement="top" data-html="true" id="email" value="" class="form-control" placeholder="Enter your email address" style="cursor:text;">
                    <p style="display:none;" class="null_err" id="email_null_tip">*Enter your email</p>
                    <p style="display:none;" class="null_err" id="email_format_tip">*Email invalid.</p>
                </div>
                <div class="checkboxFormGroup" style="">
                    <label class="virtualCheckbox" for="isAgree" id="forAgree">
                        <input type="checkbox" name="isCheck" id="isAgree" value="0">
                    </label>
                    <span class="text-gray" style="font-size: 13px;">
                        I've read and agree with<a href="" target="_blank" class="text-blue"> the terms of use</a> and<a href="" target="_blank" class="text-blue"> privacy policy.</a>
                    </span>
                </div>
                <button  id="registerBtn" type="submit" class="btn btnBlueE btn-block">Register for an account</button>
                <div class="tologin text-center"  style="border-top:none;" >Already have an account?<a href="#start" target="_self"  class="text-blue" style="color:#3399ff;">Click here to log in.</a></div>
            </div>
        </div>
    