<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width:780px;margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">
                    添加兽医
                </h4>
            </div>
            <div class="modal-body">
                <!--<div class="progress" style="display:none">-->
                    <!--<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" role="alert" style="display:none"></div>-->
                <!--<div class="alert alert-success" role="alert" style="display:none">Profile Saved</div>-->

                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" placeholder="请输入姓名" id="dname">-->
                        <!--<input type="text" placeholder="编号" id="dcode">-->
                    <!--</div>-->
                <!--</form>-->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4>姓名：</h4>
                        </div>
                        <div class="section">
                            <input type="text" placeholder="请输入姓名" id="dname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4>职业兽医师资格证编号：</h4>
                        </div>
                        <div class="section">
                            <input type="text" placeholder="编号" id="dcode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4></h4>
                        </div>
                        <div class="section">
                            <button type="button" class="btn btnBlueE btn-block"  id="modal-btn-save" >确定</button>
                            <button type="button"   id="modal-btn-close">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
