<div class="signup" style="margin: 20px auto">
    <p class="large-title text-center">注  册</p>
    <p class="tips" style="padding-bottom: 15px">注册验证邮件已发送到<span>12345678@qq.com</span></p>
    <input type="eamil" class="form-control" placeholder="请输入邮箱" id="user-email"/>
    <p class="check" style="padding-bottom: 15px"  >
        <input name="checkbox" type="checkbox" value="checkbox" style="float: left"  />
                      我已阅读并同意《服务协议》和《隐私权协议》
    </p>
    <button type="submit" class="btn btn-primary btn-block" id="btn-emailregister" >发送</button>
    <p class="backsign text-center" >已有账号，<a href="#">点此登录</a></p>
</div>
