<div class="il_box login_box">
    <form id="login_form">
    <div class="il_body">
        <h4>{{l10n "Sign in"}}</h4>
        <div class="form-group">
            <label class="sr-only" for="username">登录</label>
            <input class="form-control" id="username" autofocus="autofocus" type="email" name="username" placeholder="请输入邮箱">
            <span style="display: none">邮箱输入错误</span>
            <span class="username  help-block" style="display: none;">aaaa</span>
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Email address</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="密码">
            <span style="display: none">密码输入错误</span>
        </div>
    </div>
    <div class="il_btn clearfix">
        <button type="button" id="loginBtn" class="btn btnBlueE btn-block">登录</button>
        <a href="#reset" class="retrieve">忘记密码</a>
        <a href="#signup" class="reg">注册账户</a>
    </div>

    
    </form>
</div>


    

    





