<div class="immune_content">
    <div class="immune_detail">
        <div class="title">
            <h4>快速登记</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*条形码:</h4>
                </div>
                <div class="section">
                    <input type="text" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*免疫卡号:</h4>
                </div>
                <div class="section">
                    <input type="text" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <button type="button"  class="btn btn-blueE btn-primary">查找</button>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h4>犬主登记</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*犬主姓名:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*手机号码:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>犬主座机:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>021</option>
                    </select>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <label></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*证件类型:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <label></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*证件号:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*所属区县:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>上海</option>
                    </select>
                    <select>
                        <option>上海市</option>
                    </select>
                    <select>
                        <option>徐汇区</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*详细地址:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>邮编:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h4>犬只登记</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>犬名:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*虹膜id:</h4>
                </div>
                <div class="section">
                    <span>12345678</span>
                    <a href="javascript:void(0);">采集虹膜</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*毛色:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>金毛</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>用途:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <img src="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*品种:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>金毛</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>出生日期:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>2017</option>
                    </select>
                    <select>
                        <option>01</option>
                    </select>
                    <select>
                        <option>01</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h4>免疫登记</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*疫苗名称:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*疫苗批号:</h4>
                </div>
                <div class="section">
                    <input type="text"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*生产厂商:</h4>
                </div>
                <div class="section">
                    <input type="text"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>免疫点名称:</h4>
                </div>
                <div class="section">
                    <span>上海顽皮家族</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subtitle">
                    <h4>*兽医:</h4>
                </div>
                <div class="section">
                    <select>
                        <option>请选择</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h4>免疫登记<span>(如需办理养犬登记请填写如下内容)</span></h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>是否绝育:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>产权性质:</h4>
                </div>
                <div class="section">
                    <input type="radio" checked="checked" />
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>房产证号:</h4>
                </div>
                <div class="section">
                    <span></span>年份<span></span>第<span></span>号
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>登记地址:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_post">
        <button class="btn btn-blueE btn-primary">提交</button>
    </div>
</div>