    
<div id="main-view" class="container">

	<div id="header-content"> </div>

	<div class="row">
		 <!-- 侧边栏 -->
  		  <div  id = "sidebar-content" class="col-md-1" ></div>
  		  <div  id = "main-content"   class="col-md-11" ></div>
	</div>

  </div>





