    
<div id="main-view" class=".container-fluid" style="background:#202732;">

	<!--头部区域-->
    <div id="header-content"> </div>

	<div class="row">
		 <!--侧边栏区域-->
  		  <div  id = "sidebar-content" class="col-md-1" style="padding: 0;height:100%;"></div>
        <!--主要内容区域-->
  		  <div  id = "main-content"   class="col-md-11" style="padding: 0;margin-left: 0px;min-height：100%;"></div>
	</div>

</div>





