    
<div id="main-view" class=".container-fluid">

	<div id="header-content"> </div>

	<div class="row">
		 <!-- 侧边栏 -->
  		  <div  id = "sidebar-content" class="col-md-1" style="padding: 0;"></div>
  		  <div  id = "main-content"   class="col-md-11" style="padding: 0;margin-left: 0px;"></div>
	</div>

  </div>





