    
<div id="main-view" class=".container-fluid">

	<!--头部区域-->
    <div id="header-content"> </div>

	<div class="row" id="content-area">
		 <!--侧边栏区域-->
  		  <div  id = "sidebar-content" class="col-md-1"></div>
        <!--主要内容区域-->
  		  <div  id = "main-content"   class="col-md-11"></div>
	</div>

</div>





