    
<div id="main-view" class="container">

	<div id="header-content"> </div>


	<div class="row">
		 <!-- 侧边栏 -->
  		  <div  id = "sidebar-content" class="col-md-4" ></div>	
  		  <div  id = "main-content" id = "" class="col-md-8" >aaa</div>	
	</div>
    
	
  </div>





