<div class="container newsArticleDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <p class="newsMainTitle" style="line-height: 30px;font-size: 24px;font-weight: bold;">狗狗“伤害”事件时发生,不少人养狗未办“狗证”</p>

            <p style="line-height: 30px;font-size: 14px;color:#a9a9a9;font-weight: normal">2013-07-02 14:23</p>

            <p>自古以来，狗都是人类忠实的伙伴，给人带来陪伴和乐趣。越来越多的人将狗作为爱宠，茶余饭后遛遛狗也是惬意的事。</p>

            <p>可是，问题来了！现实生活中，狗咬狗，甚至狗咬人事件时有发生。7日上午，集美石鼓路一只烈犬挣脱主人咬死小宠物狗的事件就引起广大市民的议论。在城市里，如何文明养犬，这是一个值得关注和探讨的话题。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">事件 狗狗“伤害”事件时有发生</p>

            <p>5月7日，集美石鼓路一条高加索犬挣脱主人控制，咬死了一条小宠物狗。事发后，这条肇事犬只的饲养者孙某被责令赔偿2500元，孙某家中的另一条烈性犬连同该高加索犬都被相关部门没收。</p>

            <p>昨日，市民庄先生向导报记者反映，他也目睹了一起“狗咬狗”事件。“在育秀里小区里面的路上，我看见一只大狗咬一只小狗。”庄先生说，7日傍晚，他带小孩在小区散步，突然看到不远处一只大狗扑向一只小狗。不一会，小狗的主人发现了，大声呼喊，并拿木棍驱赶。庄先生赶紧抱小孩走开，“旁边也有老人小孩在玩耍，要是咬人就危险了”。所幸最后小狗无大碍。</p>

            <p>近日，也有网友爆料，思明某小区有个孕妇，在过道上走着，突然窜出一条狗，把她吓得坐到地上。这时狗朝她咬了一口，很多人围拢过来，狗主人也闻讯赶来。孕妇腿上有一圈牙印和轻微的血丝，狗主人笑笑说，“这没事别怕，把淤血挤出来用肥皂水洗洗就可以了，我们家糖糖很爱干净，不会有事。”狗主人的话令人气愤。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">调查 不少人养狗都未办“狗证”</p>

            <p>家住新景雅苑的小邓养了只贵宾犬，已经养了5年多。“因为是在家玩一玩，就没办狗证。”他说，每天早上上班前和晚饭后，都会遛狗。“怕干扰别人，我遛狗都会牵绳，也会随身带个垃圾袋，清理狗狗大便。”每年，小邓都会带狗狗去宠物医院打疫苗，“根据医生的规定打”。</p>

            <p>家住集美的钱先生养了只雪纳瑞，“养了3年多，很温顺，平时带它在小区遛遛都有戴狗绳”。他平时遛狗也会注意清理狗大便，“拿个袋子装，再丢垃圾桶”。他说，每年会给狗狗打一次疫苗，但是嫌麻烦就没去办理“狗证”。</p>

            <p>导报记者又随机采访了几名养狗市民，他们都很注意狗狗对别人的干扰，做到“文明养犬”，但都没办“狗证”。有人认为，大型犬才需要办证，“自己玩玩的小狗应该不用”。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">声音 遛狗时给狗佩绳戴口罩</p>

            <p>导报记者就此采访了厦门市城管执法局相关负责人，他表示，养犬人都应遵循《厦门经济特区养犬管理办法》，该办法目前还未推广到全市，仅适用于岛内，但全市养犬人均应文明养犬。对于流浪犬，城管执法部门也建立了收容机制，对于有合法证照的，予以送回；无证的，予以收容。同时，也鼓励市民举报。</p>

            <p>厦门文记宠物医院谢医生建议，养狗的市民平常出门遛狗时最好给狗佩戴牵引绳，绝大部分的狗和狗撕咬、狗被车撞的事件都是因为主人没有给狗佩戴牵引绳。“如果知道自己的狗习性凶猛，出门可能发生咬噬事件的话，除了佩戴牵引绳，还应给狗戴上口罩。”谢医生介绍，有的狗互相挑衅或者争抢地盘，互相咬噬在所难免，甚至有的狗前一秒还在一起玩，下一秒就开始追打咬噬。对于这种情况，最好的办法还是给狗佩戴牵引绳。（海峡导报记者 林毅彬 林彬彬/文 叶允平/制图 实习生 张晶）</p>
        </div>
    </div>
</div>
