<div class="container newsArticleDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <p class="newsMainTitle" style="font-size: 24px;font-weight: bold;">Dog microchipping becomes compulsory across UK</p>

            <p>Dog owners who have not had their pets microchipped could face a fine of up to £500, as a new law comes into force.</p>

            <p>All dogs in England, Scotland and Wales are now legally required to have been chipped by the time they are eight weeks old. A law has been in place in Northern Ireland since 2012.</p>

            <p>It is hoped more stray or lost dogs can be reunited with their owners.</p>

            <p>The government says one million dogs - about one in eight of the estimated UK dog population - are not yet chipped.</p>

            <p>If local authorities come across a dog without a microchip, owners will have up to 21 days to comply with the law or be fined.</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">Unique code</p>

            <p>When a dog is microchipped, a tiny chip about the size of a grain of rice is inserted under the loose skin on the back of its neck, giving it a unique 15-digit code.</p>

            <p>If a dog is lost or gets stolen and is picked up by a council or a dog shelter, the microchip can be scanned and matched to contact details stored on a database.</p>

            <p>Charities such as the Dogs Trust, some local authorities and some vets will microchip dogs without charging.</p>

            <p>Simon Blackburn, of the Local Government Association, said microchipping will tackle "reckless" ownership and help save councils "vast sums" of taxpayers' cash looking after strays.</p>

            <p>It will make it easier and quicker to return dogs to their owners and save them fees for unplanned stays in kennels, he added.</p>

            <p>Countries such as Northern Ireland that already have compulsory microchipping have seen a decrease in the number of stray, lost and abandoned dogs, the Department for Environment, Food and Rural Affairs (Defra) said.</p>

            <p>The new law will not replace current requirements for dogs to wear a collar and tag with their owner's name and address when in a public place, Defra stressed.</p>

            <p>Animal welfare minister George Eustice said: "We are a nation of dog lovers and we want to make sure they stay safe.</p>

            <p>"Microchipping our dogs will not only reunite people with their lost or stolen pets, but also help to tackle the growing problem of strays roaming the streets and relieve the burden placed on animal charities and local authorities."</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">'Strays in decline'</p>

            <p>However, figures from the Dogs Trust indicate the number of stray dogs in the UK has been in decline since 2011.</p>

            <p>An estimated 102,363 stray dogs were handled by local authorities in the year from April 2014, compared with 126,000 in 2011-12, it said.</p>

            <p>The charity said about half of last year's strays had been reunited with their owners. The rest were re-homed, passed onto welfare organisations or dog kennels, or put down (5%).</p>

        </div>
    </div>
</div>
