<div class="container">
     <div class="form row" style="padding: 100px 100px 10px;">
          <form class="form-horizontal" id="form-login" role="form" >
               <h5 class="form-title text-center">登  录</h5>
               <div class="form-group mail">
		            <input type="text" class="form-control" placeholder="请输入邮箱" id="user-mail"/>
				</div>
			   <div class="form-group password">
		            <input type="password" class="form-control" placeholder="请输入密码" id="user-password"/>
			   </div>
			   <button type="submit" class="btn btn-primary btn-block" id="btn-login">登录</button>  
               <a href="#"  id="btn-register">忘记密码?</a>
               <a href="#" style="float:right"  id="btn-forgetpassword">注册账户</a>
          </form>
     </div>
</div>
