<div class="signup">
    <form>
        <p class="large-title text-center ">登  录</p>
        <input type="text" class="form-control" placeholder="请输入邮箱" id="user-mail"/>
        <input type="password" class="form-control" placeholder="请输入密码" id="user-password"/>
        <button type="submit" class="btn btn-primary btn-block" id="btn-login">登录</button>
        <a href="#"  id="btn-forgetpassword">忘记密码?</a>
        <a href="#"  id="btn-register">注册账户</a>
    </form>
</div>
