<div class="personal_card">

    <div class="registration">
        <div class="title">
            <h4>个人办证</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*条形码:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="barcode">
                    <p style="display: none;" class="null_err" id="barcode_null_tip">*疫苗批号不能为空</p>
                </div>
            </div>
        </div>
    </div>

    <div class="registration" id="dogLicense_owner_div">
        <div class="title">
            <h4>犬主登记</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*犬主姓名:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dogowner_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>性别:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="gender" id="gender_man" value="1" text="男">
                        <label for="gender">男</label>
                        <input type="radio" style="margin-left: 30px" name="gender" id="gender_woman" value="2"
                               text="女">
                        <label for="gender">女</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*手机号码:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬主座机:</h4>
                </div>
                <div class="section">
                    <select>
                        <option id="area_code">021</option>
                    </select>
                    <div class="connect">--</div>
                    <input class="form-control" type="text" id="tel">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="subtitle">
                    <h4>邮编:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="postcode">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件类型:</h4>
                </div>
                <div class="section">
                    <select id="cardtype">
                        <option value="1" selected="selected">身份证</option>
                        <option value="2">护照</option>
                    </select>
                    <div class="connect">--</div>
                    <input class="form-control" type="text" id="id_number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*所属区县:</h4>
                </div>
                <div class="section">
                    <div id="orga_area"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*详细地址:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="address">
                </div>
            </div>
        </div>

    </div>

    <div class="registration" id="dogLicense_dog_div">
        <div class="title">
            <h4>犬只登记</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*犬名:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dogname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="dog_gender" id="doggender_male" value="1">
                        <label for="dog_gender">雄</label>
                        <input type="radio" style="margin-left: 30px" name="dog_gender" id="doggender_female" value="2">
                        <label for="dog_gender">雌</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*毛色:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="dog_color">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>用途:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="usage" id="watch" value="观赏">
                        <label for="usage">观赏</label>
                        <input type="radio" name="usage" style="margin-left:15px;" id="police" value="警卫">
                        <label for="usage">警卫</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*品种:</h4>
                </div>
                <div class="section">
                        <input class="form-control" type="text" id="breed">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>出生日期:</h4>
                </div>
                <div class="section" style="width:265px ;height:44px;position: relative ">
                    <input class="form-control" type="text" id="birth_date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*虹膜id:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="iris">
                </div>

            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4></h4>
                </div>
                <div class="section" id="imgs">
                </div>
            </div>
        </div>
    </div>

    <!--疫苗-->
    <div class="registration" id="dogLicense_vaccine_div">
        <div class="title">
            <h4>疫苗登记</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*疫苗名称:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <select class="kinds" id="vaccine_name">
                            <option value="">请选择</option>
                            <option value="荷兰英特威">荷兰英特威</option>
                            <option value="美国辉瑞">美国辉瑞</option>
                            <option value="梅里亚">梅里亚</option>
                        </select>
                    </div>
                    <p style="display: none;" class="null_err" id="vaccine_name_null_tip">*疫苗名称不能为空</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*疫苗批号:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="vaccine_batch">
                    <p style="display: none;" class="null_err" id="vaccine_batch_null_tip">*疫苗批号不能为空</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*生产厂商:</h4>
                </div>
                <div class="section">
                    <input class="form-control" type="text" id="manuf">
                    <p style="display: none;" class="null_err" id="manuf_null_tip">*生产厂商不能为空</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>免疫点名称:</h4>
                </div>
                <div class="section">
                    <input class="form-control" disabled="disabled" type="text" id="organizationName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*兽医:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <select class="kinds" id="doctor_name">
                            <option value="" id="doctor_null">请选择</option>
                        </select>
                    </div>
                    <p style="display: none;" class="null_err" id="doctor_name_null_tip">*兽医不能为空</p>
                </div>
            </div>
        </div>
    </div>

    <div class="registration" id="dogLicense_house_div">
        <div class="title">
            <h4>房产登记<span class="small_title">(如需办理养犬登记请填写如下内容)</span></h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>产权性质:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="houseProperty" id="owner" value="自由">
                        <label for="houseProperty">自由</label>
                        <input type="radio" style="margin-left: 15px" name="houseProperty" id="rent" value="租赁">
                        <label for="houseProperty">租赁</label>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>房产证号:</h4>
                </div>
                <div class="section">
                    <span id="houseNo"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>是否绝育:</h4>
                </div>
                <div class="section">
                    <div class="radio_container">
                        <input type="radio" name="isSterilization" value="1" id="isSterilizationYes">
                        <label for="isSterilization">是</label>
                        <input type="radio" style="margin-left: 30px" name="isSterilization" value="0" id="isSterilizationNo">
                        <label for="isSterilization">否</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>登记地址:</h4>
                </div>
                <div class="section">
                        <input class="form-control" type="text" style="float: left" id="houseAddress">
                </div>
            </div>
        </div>
    </div>

    <div class="post_info">
        <button class="btn btnBlueE btn-block" id="post_info">提交</button>
    </div>
</div>