<div class="immune_content">

    <div class="immune_detail">
        <div class="title">
            <h3>快速登记</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*条形码:</h4>
                </div>
                <div class="section">
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h3>犬主登记</h3>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*犬主姓名:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*手机号码:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬主座机:</h4>
                </div>
                <div class="section">
                    <select id="area_code" disabled="disabled">
                        <option>021</option>
                    </select>
                    <div id="connect">--</div>
                    <input type="text" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件类型:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件号:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*所属区县:</h4>
                </div>
                <div class="section">
                    <select class="areas" disabled="disabled">
                        <option>上海</option>
                    </select>
                    <select class="areas" disabled="disabled">
                        <option>上海市</option>
                    </select>
                    <select class="areas" disabled="disabled">
                        <option>徐汇区</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*详细地址:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>邮编:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled">
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h3>犬只登记</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬名:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled">
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*毛色:</h4>
                </div>
                <div class="section">
                    <select class="kinds" disabled="disabled">
                        <option>棕色</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*用途:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*品种:</h4>
                </div>
                <div class="section">
                    <select class="kinds" disabled="disabled"  >
                        <option>金毛</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>出生日期:</h4>
                </div>
                <div class="section">
                    <input type="date" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*虹膜ID:</h4>
                </div>
                <div class="section">
                    <input  type="text" disabled="disabled" />
                    <a id="reput" >重新采集虹膜</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4></h4>
                </div>
                <div class="section">
                    <div id="dog_img">
                        <img src="" />
                    </div>
                    <div id="puts">
                        <a id="reput_img">重新采集图片</a>
                        <div id="put_img">上传本地图片</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h3>免疫登记</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*疫苗名称:</h4>
                </div>
                <div class="section">
                    <select class="kinds">
                        <option>狂犬疫苗</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*疫苗批号:</h4>
                </div>
                <div class="section">
                    <input type="text"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*生产厂商:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>免疫点名称:</h4>
                </div>
                <div class="section">
                    <input type="text" value="上海顽皮家族" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*兽医:</h4>
                </div>
                <div class="section">
                    <select class="kinds">
                        <option>请选择</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="immune_detail">
        <div class="title">
            <h3>免疫登记<span style="font-size: 16px">(如需办理养犬登记请填写如下内容)</span></h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>产权性质:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>房产证号:</h4>
                </div>
                <div class="section">
                    <select class="data" disabled="disabled">
                        <option>请选择</option>
                    </select>
                    <span class="datatime">年份</span>
                    <input type="text" style="width: 80px" class="numbers" disabled="disabled" />
                    <span class="datatime">第</span>
                    <input type="text" style="width: 80px" class="numbers" disabled="disabled" />
                    <span class="datatime">号</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="subtitle">
                        <h4>是否绝育:</h4>
                    </div>
                    <div class="section">
                        <span></span>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>登记地址:</h4>
                </div>
                <div class="section">
                    <input type="text" disabled="disabled" />
                </div>
            </div>
        </div>
    </div>

    <div class="immune_post">
        <button id="post" class="btn btnBlueE btn-block">提交</button>
    </div>
</div>