<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width:780px;margin-top:100px;">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row"  >
                    确定将狗证ID为{{dogLicense.vaccineCard.info.cardNo}}的狗证，到期时间更新为{{dogLicense.newDate}}号
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="section">
                            <button type="button" class="btn btnBlueE btn-block" id="modal-btn-save">Confirm</button>
                            <button type="button" id="modal-btn-close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
