<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width:780px;margin-top:200px;">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row" style="text-align: center">
                    Are you sure to renew license ID {{dogLicense.DogCard.info.cardNo}} to {{dogLicense.newDate}}?
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section">
                            <button type="button" class="btn btnBlueE btn-block" id="modal-btn-save">Confirm</button>
                            <button type="button" id="modal-btn-close" style="margin-left:210px">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
