<div class="modal fade" id="modal-profile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">快速登记</h4>
                <h5>*条形码:123456789</h5>
            </div>
            <div class="modal-body">
                <table>
                    <thead>犬主登记</thead>
                    <tr>
                        <td>*犬主姓名：张三</td>
                        <td>手机号码：13812345678</td>
                        <td>犬主座机：021-12345678</td>
                    </tr>
                    <tr>
                        <td>性别：男</td>
                        <td>*证件类型：身份证</td>
                        <td>*证件号：321322199001010101</td>
                    </tr>
                    <tr>
                        <td>*所属区县：上海 上海市 徐汇区</td>
                        <td>*详细地址：漕河泾开发区</td>
                        <td>邮编：210010</td>
                    </tr>
                </table>
                <table>
                    <thead>犬只登记</thead>
                    <tr>
                        <td>犬名：李四</td>
                        <td>*性别：雌</td>
                        <td>*虹膜id：abc1234567</td>
                    </tr>
                    <tr>
                        <td>*毛色：棕色</td>
                        <td>用途：观赏</td>
                        <td rowspan="2">此处放图片</td>
                    </tr>
                    <tr>
                        <td>*品种：金毛</td>
                        <td>出生日期：2012-12-12</td>
                        <!--<td></td>-->
                    </tr>
                </table>
                <table border="1" bordercolor="black"  cellspacing="0" cellpadding="15">
                    <thead>免疫登记</thead>
                    <tr align="center">
                        <td>疫苗名称</td>
                        <td>疫苗批号</td>
                        <td>生产厂商</td>
                        <td>疫苗点名称</td>
                        <td>操作人</td>
                        <td>免疫时间</td>
                    </tr>
                    <tr>
                        <td>百白破</td>
                        <td>2017a1b2</td>
                        <td>Halokit犬类信息科技有限公司</td>
                        <td>上海顽皮家族</td>
                        <td>Jordan</td>
                        <td>2017-10-01</td>
                    </tr>
                </table>
                <table>
                    <thead>户籍登记<span></span></thead>
                    <tr>
                        <td>是否绝育：是</td>
                        <td>产权性质：自有</td>
                        <td>*房产证号：沪房地x字200x第0xxx号</td>
                    </tr>
                    <tr>
                        <td>*登记地址：上海徐汇区漕河泾开发区</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-close" class="btn btn-primary" data-dismiss="modal">重新编辑</button>
                <button type="button" id="modal-btn-save" class="btn btn-primary">保存并制卡</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
