<div class="dog_search">

    <div class="top_tip">
        <h3>信息查询/犬只查询</h3>
    </div>

    <div class="title">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <select class="dog_number">
                            <option>虹膜ID</option>
                            <option>免疫卡号</option>
                        </select>
                    </div><!-- /btn-group -->
                    <input type="text" >
                    <span class="input-group-btn" >
                        <button class="btn btnBlueE btn-block" type="button"  id="search">搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>

    <table class="table" >
        <tr class="tr_head">
            <td>虹膜ID</td>
            <td>免疫卡号</td>
            <td>主人手机号</td>
            <td>犬名</td>
            <td>品种</td>
            <td>毛色</td>
            <td>免疫时间</td>
            <td>下次免疫时间</td>
            <td>操作</td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <nav aria-label="Page navigation" id="dogsearch_nav">
                <ul class="pagination">
                    <li><a href="javascript:void(0)">首页</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li><a href="javascript:void(0)">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>


</div>