<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width:780px;margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">
                    Add Accredited Veterinarian
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4>First Name：</h4>
                        </div>
                        <div class="section">
                            <input class="form-control" type="text" placeholder="Please enter First Name" id="dname1">
                        </div>
                        <p style="display: none;font-size: 12px" class="null_err" id="dname1_null_tip">*Please enter First Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4>Last Name：</h4>
                        </div>
                        <div class="section">
                            <input class="form-control" type="text" placeholder="Please enter Last Name" id="dname2">
                        </div>
                        <p style="display: none;font-size: 12px" class="null_err" id="dname2_null_tip">*	Please enter Last Name</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4>Accredited Certificate NO.：</h4>
                        </div>
                        <div class="section">
                            <input class="form-control" type="text" placeholder="编号" id="dcode">
                        </div>
                        <p style="display: none;font-size: 12px" class="null_err" id="dcode_null_tip">*编号不能为空</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subtitle">
                            <h4></h4>
                        </div>
                        <div class="section">
                            <button type="button" class="btn btnBlueE btn-block" id="modal-btn-save">Confirm</button>
                            <button type="button" id="modal-btn-close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
