<div class="sidebar">
    <ul class="nav" >
        <li class="nav_li" role="presentation" id ="btn_persons">
            <a class="nav_a" href="javascript:void(0)">License Issue</a>
            <ul></ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_infoSearch">
            <a class="nav_a" href="javascript:void(0)">Searching<span>+</span></a>
            <ul class="second_nav">
                <li class="second_nav_li">
                    <a class="second_nav_a unactived" id="btn_dogowners" href="javascript:void(0)">Owner</a>
                </li>
                <li class="second_nav_li">
                    <a class="second_nav_a unactived" id="btn_dogs" href="javascript:void(0)">Dog</a>
                </li>
            </ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_immune">
            <a class="nav_a" href="javascript:void(0)" >Annual Review</a>
            <ul></ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_cardInfo">
            <a class="nav_a" href="javascript:void(0)" >License Info.</a>
            <ul></ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_reservation">
            <a class="nav_a" href="javascript:void(0)" >Reservation</a>
            <ul></ul>
        </li>
    </ul>
</div>

