<div class="container newsArticleDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <p class="newsMainTitle" style="line-height: 30px;font-size: 24px;font-weight: bold;">电子犬证正式上线,成都范围内手机即可办理<span style="line-height: 30px;float: right;font-size: 14px;color:#a9a9a9;font-weight: normal">2018-03-28 02:07</span></p>

            <p>电子犬证正式上线！在成都范围内，养犬市民只需通过手机微信关注“蓉城犬管”公众账号，完成实名制注册和宠物犬信息填写，就可轻松办理养犬许可证了。</p>

            <p>昨日，成都商报记者了解到，手机办理电子犬证的范围，已从此前的金牛区试点，推广到全市范围内。</p>

            <p>每一位犬主，都应该为爱犬办理养犬证，这也相当于是狗狗的“身份证”。对普通市民而言，犬只办理准养证，可以更加规范现有犬只的管理。2010年，成都出台《成都市犬只管理办法》，第8条规定：需在限养区内饲养犬只的单位或个人，应持犬只免疫证明和彩色照片，向当地公安派出所申领经区（市）县公安机关批准颁发的准养证后，方可饲养。第20条规定：限养区内养犬户每户限养1只犬。</p>

            <p>如今，在成都范围内，犬主通过手机即可办理电子犬证，相当方便！</p>

            <p>通过微信搜索公众号“蓉城犬管”，选择下方选项框“犬只管理”-“在线办理”，即可在线办理电子犬证。犬主填写身份证号后，即可进入实名验证环节。犬主填写手机号码后，通过上传身份证号码、实人检测环节后，即可看到认证结果。</p>

            <p>具体办理电子犬证的流程，分为个人申请、单位申请两类。先在“蓉城犬管”在线填写申请表，分为个人申请和单位申请：个人申请递交犬主身份证号、犬只彩色清晰照片、犬只免疫证照片；单位申请递交单位法人身份证号、犬只彩色清晰照片、犬只免疫证照片，随后等待审核。一旦审核通过，就可以生成电子犬证。</p>

            <p>没有通过审核办理电子犬证的犬只，可能是资料不全，也可能是申请犬只属于成都市禁养犬只。</p>

            <p>办理期间，犬主还可登录微信公众号查询进度，同时，还可通过微信公众号查询疫苗注射点和附近的宠物防疫服务点。不再饲养该犬只的犬主，也可通过“蓉城犬管”注销犬证。</p>

            <p>此前已经办理了实体犬证，如今还需要办理电子犬证吗？成都商报记者了解到，依然需要！已经办理了纸质狗证的主人们，电子犬证依然需要办理哦。</p>

            <p>成都商报记者 颜雪 实习生 张迪琪</p>
        </div>
    </div>
</div>
