<div class="dog_search">

    <div class="top_tip">
        <h3>Searching</h3>
    </div>

    <div class="title">
        <div class="row">
            <div class="form-group">
                <select id="where">
                    <option value="1" selected="selected">Iris ID</option>
                    <option value="2">Card No.</option>
                </select>
                <input class="form-control" type="text" id="whereValue">
                <span style="display: none;" class="null_err" id="where_null_tip">*请输入搜索内容</span>
            </div>
            <div class="form-group search">
                <button class="btn btnBlueE btn-block" id="search">Searching</button>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody id="tbody">
        <tr class="tr_head">
            <td>Iris ID</td>
            <td>Card No.</td>
            <td>Name</td>
            <td>Mobile Number</td>
            <td>Breeds</td>
            <td>Canine</td>
            <td>操作</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <nav aria-label="Page navigation" id="dogowner_nav">
                <ul class="pagination">
                    <li><a href="javascript:void(0)" id='pageBegin'>Home</a></li>
                    <li id="page">
                        <a href="javascript:void(0)" aria-label="Previous" id='pageUp'>
                            <span aria-hidden="true">Pervious</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" aria-label="Next" id="pageDown">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    <li><a href="javascript:void(0)" id="pageEnd">Last</a></li>
                </ul>
            </nav>
            <div id="nodata" style="display:none;text-align:center">
                NIL
            </div>
        </div>
    </div>


</div>