<div class="signup">
    <form>
        <p class="large-title text-center ">注册完成</p>
        <p class="text-center">Your account is verifying</p>
        <p class="text-center">400-775-9206</p>
        <button type="submit" class="btn btn-primary btn-block" id="btn-submit">提交并返回首页测试</button>
    </form>
</div>