<div class="il_wrap">
    <div class="il_box">
        <div class="il_body">
            <h3>欢迎使用派慕犬类管理系统</h3>
            <p>在开始使用前请确定你的邮箱账号</p>
            <p style="display: none">在重置密码前，请确定你的邮箱账号</p>
            <button   type="submit" class="btn btnBlueE btn-block">确认账号</button>
            <p>如果按钮无效，请将以下链接复制到浏览器地址栏完成激活</p>
            <a href="#">...</a>
            <p>派慕新型犬类管理系统已全面上线，利用先进的虹膜技术免除了狗狗打芯片的疼痛和主人的顾虑</p>
            <p>邮件联系：service.petmore.com</p>
        </div >
    </div>
</div>