<!--PC端底部栏-->
<footer id="footer" class="visible-lg-block ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    <span>Follow us:</span>
                    <a id="weixin"><img src="img/weixin_logo.png"></a>
                    <!--<a href="" target="_blank"><img src="img/weibo_logo.png"></a>-->
                    <a href="https://www.facebook.com/IrisTag-2103108259967427/?modal=admin_todo_tour" target="_blank"><img src="img/facebook.png"></a>
                </p>
                <img id="qrcode" src="img/qrcode2.png">
            </div>
            <div class="col-md-4 col-md-offset-5">
                <ul>
                    <li>
                        <span>About</span>
                    </li>
                    <li>
                        <span>Links</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <ul>
                    <li>
                        <a id="privacy" href="javascript:void(0);">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="http://www.halokit.cn/" target="_blank">HaloKit</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <ul>
                    <li>
                        <a id="service" href="javascript:void(0);">Service Agreement</a>
                    </li>
                    <li>
                        <a href="https://www.interzoo.com/en" target="_blank">Interzoo</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-4 col-md-offset-8">-->
                <!--<ul>-->
                    <!--<li style="margin-left:230px">-->
                        <!--<a href="javascript:void(0);">HaloKit</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Copyright © 2016-2018,Shanghai Yutai Technology Co.,Ltd. All Rights Reserved.
                        <!--<span>|<a href="javascript:void(0);">使用条款</a></span>-->
                        <!--<span>|<a href="javascript:void(0);">法律声明</a></span>-->
                    </p>
                </div>
                <!--<div class="col-md-1 col-md-offset-2">-->
                    <!--<div class="lang dropup">-->
                        <!--<img src="img/cn.png"><span>中文</span><span class="caret"></span>-->
                    <!--</div>-->
                    <!--<div class="lang_en">-->
                        <!--<img src="img/en.png">English-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-8">
                    <p style="margin-bottom: 10px">沪ICP备16015040号-2,No.2071 Hongmei Road,Unit 2,Room 309-310,Xuhui District,Shanghai.</p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!--移动端底部栏-->
<footer id="footer_mobile" class="visible-xs-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                About
            </div>
            <!--<div class="col-xs-4">-->
                <!--<a href="javascript:void(0);">宇钛科技</a>-->
            <!--</div>-->
            <div class="col-xs-6">
                <a href="javascript:void(0);">Privacy Policy</a>
            </div>
            <div class="col-xs-6">
                <a href="javascript:void(0);">Service Agreement</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Links
            </div>
            <div class="col-xs-6">
                <a href="http://www.halokit.cn/" target="_blank">HaloKit</a>
            </div>
            <div class="col-xs-6">
                <a href="https://www.interzoo.com/en" target="_blank">Interzoo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <span>Follow us:</span>
                    <a id="weixin"><img src="img/weixin_logo.png"></a>
                    <!--<a href="" target="_blank"><img src="img/weibo_logo.png"></a>-->
                    <a href="https://www.facebook.com/IrisTag-2103108259967427/?modal=admin_todo_tour" target="_blank"><img src="img/facebook.png"></a>
                    <img id="qrcode" src="img/qrcode2.png">
                </p>
            </div>
        </div>
    </div>
    <div class="container bottom">
        <div class="row">
            <!--<div class="col-xs-12">-->
                <!--<input type="radio" name="language"/><span>中文</span>-->
                <!--<input type="radio" name="language"/><span>English</span>-->
            <!--</div>-->
            <!--<div class="col-xs-12">-->
                <!--<p class="info"><a href="javascript:void(0)">使用条款</a><span class="line">|</span><a href="javascript:void(0)">法律声明</a></p>-->
            <!--</div>-->
            <div class="col-xs-12">
                <p class="info">Copyright © 2016-2018,Shanghai Yutai Technology Co.,Ltd. All Rights Reserved.</p>
            </div>
            <div class="col-xs-12">
                <p class="info">沪ICP备16015040号-2,No.2071 Hongmei Road,Unit 2,Room 309-310,Xuhui District,Shanghai.</p>
            </div>
        </div>
</footer>
