<div class="" style="width: 150px">

            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" id = "btn_userManager"><a href="javascript:void(0)">用户管理</a></li>
              <li role="presentation" id="btn_dog"><a href="javascript:void(0)">犬管理</a></li>
              <li role="presentation"><a href="javascript:void(0)" id="btn_irio">芯片管理</a></li>
            </ul>
             

  </div>

