<div id="resetpassword-view">

    <div id="signheader-content"></div>

    <div class="il_wrap" id="resetpassword-view-content" style="margin-top: 50px;">
        <div class="il_box">
            <form class="form" id="form-resetpassword" onsubmit="return false">
                <div class="il_body">
                    <h4>Reset Your Password</h4>
                    <p id="default-tips" style="font-weight: bold">

                    </p>
                    <div class="form-group email">
                        <input class="form-control ng-untouched ng-pristine ng-invalid" name="password"  type="password" placeholder="Create a new password">
                        <p style="display:none;" class="null_err" id="password_null_tip">*Enter your Password</p>
                        <p style="display:none;" class="null_err" id="password_length_tip">*your password should be 6-16 character long，and contain only letters，number，underscore and dashes</p>
                        <br>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" name="repassword"  type="password" placeholder="Confirm Password">
                        <p style="display:none;" class="null_err" id="repassword_null_tip">*Enter your Password</p>
                        <p style="display:none;" class="null_err" id="repassword_length_tip">*your password should be 6-16 character long，and contain only letters，number，underscore and dashes</p>
                        <p style="display:none;" class="null_err" id="repassword_diff_tip">*Password didn’t match</p>
                    </div>
                    <div class="spacer"></div>
                </div>
                <br>
                <div class="btn  btnBlack btn-block" id="btn-resetpassword">Submit</div>

            </form>
        </div>
    </div>

    <div id="signfooter-content"></div>

</div>