<div class="container" id="privacy_content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h2>隐私政策</h2>
            <p>我们，上海宇钛信息科技有限公司，在此郑重承诺，我们承认、尊重并保护您通过我们的Iris Tag犬只虹膜信息管理系统向我们提供的所有隐私。本隐私政策（“隐私政策”）适用于通过本平台服务收集的所有个人信息，描述了我们收集、使用、披露、保护信息的方式，并为您提供访问我们所维护的关于您的个人信息的渠道。本隐私政策并不适用于您通过其他方式向我们提供的或者我们通过其他公共来源所收集的属于公开信息的个人信息。</p>
            <h3>个人信息的收集</h3>
            <p>我们接收并存储您在本平台提供的个人信息。我们收集的个人信息包括可识别具体身份的信息，如您的姓名、电子邮件地址、您与我们的网站有关的活动信息，以及经您或您的用户授权用于犬只身份识别等用途的犬只虹膜信息。我们在您注册使用我们的产品和服务，访问并使用本服务，在我们的博客和论坛上留言，向我们发问，以及在我们的网站上进行其他事务或活动时收集此类信息。</p>
            <h3>其他信息的收集</h3>
            <p>当您访问我们的网站时，我们的网站可能会收集其他关于您的计算机的非个人信息（如您的IP地址，网页浏览器软件型号，和网上活动）。如果我们将非个人信息与从您处收到的个人信息结合使用，则在结合使用期间，该等信息将被视为个人信息。</p>
            <h3>第三方来源信息的收集</h3>
            <p>我们可能从公开市售来源收集关于您的信息（在法律允许的范围内），并可能将其与从您处收到的或与您有关的其他信息结合使用。如果我们将该等信息与从您处收到的个人信息结合使用，则在结合使用期间，该等信息将被视为个人信息。</p>
            <h3>个人信息的使用</h3>
            <p>我们可能在以下几种限制情况下共享您的个人信息，包括：<br>
                •与我们授权的以代表我们执行某些功能或提供某些服务的服务提供商共享信息（仅当我们确知该等服务提供商不会拥有和泄露您的个人信息时）；<br>
                •回应传票，法院命令或其他法律程序，或建立或行使我们的法律权利或对法律索偿作出辩护；<br>
                •当我们认为有必要对非法活动、涉嫌欺诈的活动、以及为法律索赔的辩护活动或法律要求的其他活动进行调查、预防、或采取行动时；<br>
                •需要提供信息以保护或捍卫IrisTag犬只虹膜信息管理系统或他人的权利或财产以及公众安全时；<br>
                •需要就一项公司交易（如剥离、并购、合并或资产出售）共享信息；<br>
                •在得到您的同意时（例如，如果我们让订阅用户与其他用户分享他们已经购买的内容）。
            </p>
            <h3>个人信息的访问渠道</h3>
            <p>您可以给info@yutaitech.cn发送邮件以更新、更改、或要求我们删除您的个人信息。</p>
            <h3>个人信息的保护</h3>
            <p>我们已采取了符合惯例的安全措施以保护您提供给我们的个人信息。然而，没有一种传输或存储电子数据的方法是完全安全的，我们无法保证该等信息永远不会以违反本隐私政策的方式被访问、使用或发布。<br>
                在提供服务过程中，我们可能通过搜索技术、社交网络、公开数据库等方式获得公开的人脸信息，及通过您提交的数据获得非公开的人脸信息。我们郑重承诺，您直接提交给我们的任何非公开信息或数据都为您所私有，我们不会向任何第三方披露该等信息或将该等信息用于任何第三方。我们的任何应用中收集、提交的数据也只会用于该应用的自身用途，而不会为其他任何应用所访问和使用。我们欢迎应用开发者、您或任何第三方提出关于如何保护人脸信息的建议，以对应用开发者和最终用户的隐私进行严格保密。
            </p>
            <h3>未成年人隐私</h3>
            <p>我们将根据适用法律保护未成年人的隐私。我们鼓励未满十八岁的未成年人在他们父母的监督和指导下访问我们的平台或使用我们的服务，并建议未成年人推荐其父母阅读本隐私政策并在向我们提交任何个人信息之前寻求其父母的同意。</p>
            <h3>外部链接</h3>
            <p>我们的平台可能含有第三方网站、产品和服务的链接。这些第三方网站、产品和服务并不受本隐私政策规制，该等第三方收集的信息须遵守其隐私措施。我们建议您审阅该等第三方的隐私声明，以了解他们的个人信息的收集、使用和披露程序。</p>
            <h3>隐私政策的变更</h3>
            <p>我们未来可能会更新本隐私政策。我们会给您提供给我们的电子邮件地址发送有关本隐私政策的重大改变通知，或在我们的网站上放置醒目的通知。</p>
            <h3>联系我们</h3>
            <p>如果您对我们的隐私政策有任何疑问，请通过电子邮箱联系我们<a href="mailto:hr@yutaitech.cn?subject=隐私政策">info@yutaitech.cn</a>。</p>
        </div>
    </div>
</div>