<div id="singup-view" class="i_login">
	<!--<div class="il_nav" id="il_nav">-->
        <!--<a href="#" target="_self" class="logo">HaloKit</a>-->
	<!--</div>-->
	 <div id="signheader-content"></div>
	
	 <div class="il_wrap" id="signup-content" style="margin-top: 100px;"></div>
	
     <div id="signfooter-content"></div>
	
</div>