<div class="card_info">

    <div class="title">
        <div class="row">
            <div class="form-group" >
                <label for="iris_id" class="control-label">虹膜id:</label>
                <input type="text"  id="iris_id" >
            </div>
            <div class="form-group">
                <label for="immune_number" class="control-label">免疫卡号:</label>
                <input type="text"  id="immune_number" >
            </div>
            <div class="form-group">
                <label for="" class="control-label">业务类型:</label>
                <select>
                    <option>首次办证</option>
                </select>
                <span>制卡时间</span>
                <select>
                    <option>请选择</option>
                </select>
                <span>到</span>
                <select>
                    <option>请选择</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btnBlueE btn-block">搜索</button>
            </div>
        </div>
    </div>

    <table class="table" >
        <thead>
            <th>id</th>
            <th>条形码编号</th>
            <th>免疫卡号</th>
            <th>犬主</th>
            <th>主人手机号</th>
            <th>品种</th>
            <th>取卡方式</th>
            <th>办卡时间</th>
            <th>业务类型</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="td-a" href="javascript:void(0)">点击查看详情</a></td>
            </tr>
        </tbody>
        </tr>
    </table>

    <nav aria-label="Page navigation" id="pagenav">
        <ul class="pagination">
            <li><a href="#">首页</a></li>
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li ><a href="#">2</a></li>
            <li ><a href="#">3</a></li>
            <li ><a href="#">4</a></li>
            <li ><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            <li><a href="#">尾页</a></li>
        </ul>
    </nav>

</div>