




<html lang="en">
<head><title>Express
</title>
</head>
<body>
	<div id="container">
	 <p> 测试你的邮箱验证	</p>
	 <a href=‘localhost:7070/#veriftemail?key=1234&amp;email=413124766@qq.com&amp;useType=1’>验证你的邮箱</a>
	 <p>可以复制一下连接直接游览器打开 </p>
	 <p>localhost:7070/#veriftemail?key=1234&email=413124766@qq.com&useType=1	  </p>
	</div>
</body>
</html>



