<div id="start-view" class="i_login">
	<div class="il_nav" id="il_nav">
        <a href="#" target="_self" class="logo">HaloKit</a>
	</div>
	<div class="il_wrap" id="start-view-content" ></div>

</div>
