<div >
    <ul class="nav nav-pills nav-stacked" style="width:100px;">
        <li role="presentation" id = "btn_dogManager"><a href="javascript:void(0)">办理狗证</a></li>
        <li role="presentation" id="btn_immuneManager"><a href="javascript:void(0)">免疫年检</a></li>
        <li role="presentation" id="btn_immuneManagerCard"><a href="javascript:void(0)" id="btn_irio">免疫卡管理</a></li>
        <li role="presentation" id="btn_infoSearch"><a href="javascript:void(0)" id="btn_irio">信息查询</a></li>
    </ul>
</div>

