<div class="sidebar">
    <ul class="nav" >
        <li class="nav_li" role="presentation" id ="btn_dogCard">
            <a class="nav_a" href="javascript:void(0)">办理狗证</a>
            <ul class="second_nav">
                <li class="second_nav_li">
                    <a class="second_nav_a" id="btn_persons" href="javascript:void(0)">个人办证</a>
                </li>
                <li class="second_nav_li">
                    <a class="second_nav_a" id="btn_businesss" href="javascript:void(0)">企业办证</a>
                </li>
            </ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_infoSearch">
            <a class="nav_a" href="javascript:void(0)">信息查询</a>
            <ul class="second_nav">
                <li class="second_nav_li">
                    <a class="second_nav_a" id="btn_dogowners" href="javascript:void(0)">犬主查询</a>
                </li>
                <li class="second_nav_li">
                    <a class="second_nav_a" id="btn_dogs" href="javascript:void(0)">犬只查询</a>
                </li>
            </ul>
        </li>
        <li class="nav_li" role="presentation" id="btn_immune">
            <a class="nav_a" href="javascript:void(0)" >免疫年检</a>

        </li>
        <li class="nav_li" role="presentation" id="btn_cardInfo">
            <a class="nav_a" href="javascript:void(0)" >制卡信息</a>

        </li>
    </ul>
</div>

