<div class="card_info">

    <div class="top_tip">
        <h3>预约查询</h3>
    </div>

    <div class="title">
        <div class="row">
            <div class="form-group">
                <label for="" class="control-label" style="float:left;">请输入预约码:</label>
                <input style="float: left" class="form-control"  type="text"  id="immune_number" >
            </div>
            <div class="form-group search">
                <button class="btn btnBlueE btn-block" id="search">搜索</button>
            </div>
        </div>
    </div>

    <table class="table" >
        <tbody>
        <tr class="tr_head">
            <td>虹膜ID</td>
            <td>条形码编号</td>
            <td>免疫卡号</td>
            <td>犬主</td>
            <td>主人手机号</td>
            <td>品种</td>
            <td>取卡方式</td>
            <td>办卡时间</td>
            <td>业务类型</td>
            <td>操作</td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        <tr class="tr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="td-a" href="javascript:void(0)">详情</a></td>
        </tr>
        </tbody>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <nav aria-label="Page navigation" id="pagenav">
                <ul class="pagination">
                    <li><a href="javascript:void(0)">首页</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li ><a href="javascript:void(0)">2</a></li>
                    <li ><a href="javascript:void(0)">3</a></li>
                    <li ><a href="javascript:void(0)">4</a></li>
                    <li ><a href="javascript:void(0)">5</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li><a href="javascript:void(0)">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>


</div>