<div class="signup" style="margin: 20px auto">
    <form>
        <p class="large-title text-center">注  册</p>
        <p class="tips" style="padding-bottom: 15px">HaloKit将发送一封验证邮件到你的邮箱，此邮箱将作为登录用户名</p>
        <input type="eamil" class="form-control" placeholder="请输入邮箱" id="user-email"/>
        <p class="check" style="padding-bottom: 15px" >
            <input name="checkbox" type="checkbox" value="checkbox"  style="float:left" />
            我已阅读并同意《服务协议》和《隐私权协议》
        </p>
        <button type="submit" class="btn btn-primary btn-block" id="btn-emailregister">注册</button>
        <p class="backsign text-center" style="padding-top: 30px;">已有账号，<a href="#">点此登录</a></p>
    </form>
</div>
