//个人中心
*{margin:0;padding: 0 }
#personal_center_view{
  width: 1000px;
  height: 700px;
  background: #fcfcfc;
  padding: 20px;
}
#basic_info{
  width: 958px;
  height: 180px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
#organization_info{
  width: 958px;
  height: 200px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
.infos_tr{
  width: 100%;
  height: 20px;
  padding-left: 40px;
}
.infos{
  width: 200px;
  height:20px ;
  line-height: 20px;
  display: inline-block;
  float: left;
  margin-right:20px ;
  font-size: 14px;
}
#licence{
  position: relative;
}
#licence_img{
  width: 120px;
  height: 70px;
  border: 1px solid grey;
  position: absolute;
  top:310px;
  left:580px;
  z-index: 99;
}
#medical_img{
  width: 120px;
  height: 70px;
  border: 1px solid grey;
  position: absolute;
  top:310px;
  left:850px;
  z-index: 99;
}
#hardware_info{
  width: 958px;
  height: 100px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
#add_doctor{
  width: 958px;
  height: auto;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
//办理狗证--个人办证
.dog_manage{
  min-width: 960px;
  max-width: 1040px;
  float: left;
  background:#fcfcfc ;
}
.dog_manage>.manage_list{
  width: 100px;
  float: left;
  background:#2e3645 ;
}
.dog_manage>.manage_content{
  min-width: 860px;
  max-width: 940px;
  height: auto;
  float: left;
  padding: 25px;
}
.dog_manage>.manage_content>.personal_card>.registration{
  width: 890px;
  height: auto;
  float: left;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding-top: 15px;
  padding-bottom: 20px;
}

.dog_manage>.manage_content>.personal_card>#post_info{
    float: left;
    margin-left: 300px;
    margin-top: 30px;
    width:300px;
}

.dog_manage>.manage_content>.personal_card>.registration>.title>h4>.small_title{
  font-size: 12px;
}

.dog_manage>.manage_content>.personal_card>.registration>.row{
  margin-bottom: 20px;
}

.dog_manage>.manage_content>.personal_card>.registration>.title{
  margin-left: 10px;
  margin-bottom: 10px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.subtitle h4{
  float: left;
  width: 80px;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;

}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.subtitle>.dog_img{
  width: 170px;
  height: 90px;
  float: left;
  margin-left: 100px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section{
  float: left;
  margin-left: 5px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#birth_date{
  float: left;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#recollect_iris{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;

}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>#imgs{
  float: left;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>#collectimg{
  position: relative;
  float: left;
}

.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#recollect_img{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 15px;

}

.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#upload{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;
  position: absolute;
  z-index: 99;
  top:40px;

}

.input_float{
  float:left;
}

//办理狗证--个人办证--弹窗
.modal>.modal-dialog>.modal-content>.modal-header>.modal-title{
  margin-bottom: 15px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.title{
  margin-bottom: 15px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.row>.col-sm-4>.subtitle h4{
  width: 70px;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;
}
.modal>.modal-dialog>.modal-content>.modal-body>.row>.col-sm-4>.section{
  float: left;
  margin-left: 5px;
}

.modal>.modal-dialog>.modal-content>.modal-body>.top{
  border-top:1px solid #cccccc ;
  padding-top:15px;
}


.modal>.modal-dialog>.modal-content>.modal-body>.immune_table{
  width: 100%;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.left_td{
  width: 100px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.right_td{
  width: 100px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.middle_td{
  width: 200px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.top>h4>.huji{
  font-size: 12px;
}

//办理狗证--个人办证--打印磁卡
.card_img{
  width: 200px;
  height: 100px;
  float: left;
  margin-left: 50px;
  border: 1px grey solid;
}
#immunecard_info{
  width: 600px;
  height: auto;
  float: left;
  margin-left: 50px;
}
#immunecard_info_left{
    width:400px ;
    float: left;
}
.infos_list{
  width: 400px;
  height: auto;
  float: left;
}
.infos_list_left{
  width: 100px;
  height: auto;
  float: left;
  text-align: right;
}
.infos_list_right{
  width: 300px;
  height: auto;
  float: left;
}
#immunecard_info_right{
  width:150px ;
  float: left;
  margin-left: 50px;
}
.infos_lists{
  width: 150px;
  height: auto;
  float: left;
}
.infos_lists_left{
  width: 75px;
  height: auto;
  float: left;
  text-align: right;
}
.infos_lists_right{
  width: 75px;
  height: auto;
  float: left;
}
//犬主信息查询
#dogonwer_info{
  width: 1000px;
  height: auto;
  float: left;
  padding: 25px;
  background:#fcfcfc ;
}
.dogonwer_info_list{
  width: 950px;
  height: auto;
  float: left;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
}
.table-bordered{
  border1:1px #3399ff solid ;
}
.tr{
  text-align: center;
}
.tr_blue{
  background:#3399ff;
}
.table .td{
  padding-top:25px;
}
.td-a{
  color: #3399ff;
}
//犬主信息搜索详情
.dogonwer_ul{
  list-style: none;
}
.dogonwer_ul li{
  float: left;
  width: 400px;
  height: 30px;
  line-height: 30px;
}
//犬只信息查询
#dog_search{
  width: 1000px;
  height: auto;
  float: left;
  padding: 25px;
  background:#fcfcfc ;
}