//个人中心
*{margin:0;padding: 0 }
#personal_center_view{
  width: 1000px;
  height: 700px;
  background: #fcfcfc;
  padding: 20px;
}
#basic_info{
  width: 958px;
  height: 180px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
#organization_info{
  width: 958px;
  height: 200px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
.infos_tr{
  width: 100%;
  height: 20px;
  padding-left: 40px;
}
.infos{
  width: 200px;
  height:20px ;
  line-height: 20px;
  display: inline-block;
  float: left;
  margin-right:20px ;
  font-size: 14px;
}
#licence{
  position: relative;
}
#licence_img{
  width: 120px;
  height: 70px;
  border: 1px solid grey;
  position: absolute;
  top:310px;
  left:580px;
  z-index: 99;
}
#medical_img{
  width: 120px;
  height: 70px;
  border: 1px solid grey;
  position: absolute;
  top:310px;
  left:850px;
  z-index: 99;
}
#hardware_info{
  width: 958px;
  height: 100px;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}
#add_doctor{
  width: 958px;
  height: auto;
  border:1px solid grey;
  background: #ffffff;
  margin-bottom: 20px;
}

//办理狗证--个人办证规范化css
.dog_manage{
  min-width: 960px;
  max-width: 1040px;
  float: left;
  background:#fcfcfc ;
}
.dog_manage>.manage_list{
  width: 100px;
  float: left;
  background:#2e3645 ;
}
.dog_manage>.manage_content{
  min-width: 860px;
  max-width: 940px;
  height: auto;
  float: left;
  padding: 25px;
}
.dog_manage>.manage_content>.personal_card>.registration{
  width: 890px;
  height: auto;
  float: left;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding-top: 15px;
  padding-bottom: 20px;
}
.dog_manage>.manage_content>.personal_card>#post_info{
    float: left;
    margin-left: 300px;
    margin-top: 30px;
    width:300px;
}
.dog_manage>.manage_content>.personal_card>.registration>.title>h4>.small_title{
  font-size: 12px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row{
  margin-bottom: 20px;
}
.dog_manage>.manage_content>.personal_card>.registration>.title{
  margin-left: 10px;
  margin-bottom: 10px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.subtitle h4{
  float: left;
  width: 80px;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;

}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.subtitle>.dog_img{
  width: 170px;
  height: 90px;
  float: left;
  margin-left: 100px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section{
  float: left;
  margin-left: 5px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#birth_date{
  float: left;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#recollect_iris{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;

}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>#imgs{
  float: left;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>#collectimg{
  position: relative;
  float: left;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#recollect_img{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 15px;
}
.dog_manage>.manage_content>.personal_card>.registration>.row>.col-md-6>.section>#upload{
  width: 90px;
  height: 20px;
  border: 1px #cccccc solid;
  border-radius:10px ;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;
  position: absolute;
  z-index: 99;
  top:40px;

}

.input_float{
  float:left;
}


//办理狗证--个人办证--弹窗
.modal>.modal-dialog>.modal-content>.modal-header>.modal-title{
  margin-bottom: 15px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.title{
  margin-bottom: 15px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.row>.col-sm-4>.subtitle h4{
  width: 70px;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;
}
.modal>.modal-dialog>.modal-content>.modal-body>.row>.col-sm-4>.section{
  float: left;
  margin-left: 5px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.top{
  border-top:1px solid #cccccc ;
  padding-top:15px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table{
  width: 100%;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.left_td{
  width: 100px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.right_td{
  width: 100px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.immune_table>tbody>.immune_tr>.middle_td{
  width: 200px;
  height: 30px;
}
.modal>.modal-dialog>.modal-content>.modal-body>.top>h4>.huji{
  font-size: 12px;
}

//办理狗证--个人办证--打印磁卡
.card_img{
  width: 200px;
  height: 100px;
  float: left;
  margin-left: 50px;
  border: 1px grey solid;
}
#immunecard_info{
  width: 600px;
  height: auto;
  float: left;
  margin-left: 50px;
}
#immunecard_info_left{
    width:400px ;
    float: left;
}
.infos_list{
  width: 400px;
  height: auto;
  float: left;
}
.infos_list_left{
  width: 100px;
  height: auto;
  float: left;
  text-align: right;
}
.infos_list_right{
  width: 300px;
  height: auto;
  float: left;
}
#immunecard_info_right{
  width:150px ;
  float: left;
  margin-left: 50px;
}
.infos_lists{
  width: 150px;
  height: auto;
  float: left;
}
.infos_lists_left{
  width: 75px;
  height: auto;
  float: left;
  text-align: right;
}
.infos_lists_right{
  width: 75px;
  height: auto;
  float: left;
}


//信息查询规范化css
.infosearch{
  width: 1100px;
  float: left;
  background:#fcfcfc ;
}
.infosearch>.infosearch_list{
  width: 100px;
  float: left;
  background:#2e3645 ;
}
.infosearch>.infosearch_content{
  width: 1000px;
  height: auto;
  float: left;
  padding: 25px;
  background:#fcfcfc ;
}

//信息查询--犬主信息查询
.dogownerlist{
}
.dogownerlist>.title{
    width: 950px;
    height: 80px;
    float: left;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
}
.dogownerlist>.tilte>.row{
  margin-left:20px;
}
.dogownerlist>.title>.row>.form-group{
  float: left;
  margin-right: 15px;
  height: 32px;
  line-height: 32px;
}
.dogownerlist>.title>.row>.form-group>.btn{
  width: 150px;
  height: 40px;
}

.dogownerlist>.table{
  width:100%;
  border-collapse:collapse;
  border:1px #4888c6 solid;
}
.dogownerlist>table tr,td{
  border:1px #4888c6 solid;
}
.dogownerlist>.table>tbody tr td{
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.dogownerlist>.table>tbody>.tr_head{
  background:#339afe;
  color: #ffffff;
}
.dogownerlist>.table>tbody>.tr_odd{
  background:#daedff
}
.dogownerlist>table>tbody>tr>td>.td-a{
  color:#339afe;
  text-decoration: underline;
}

.dogownerlist>#dogowner_nav{
  margin-top:100px;
  margin-left: 250px;
  float: left;
}

//犬主信息搜索详情
#dogownersearch{

}
#dogownersearch>.details{
  width: 950px;
  float: left;
  border: 1px solid #cccccc;
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
}
#dogownersearch>.details>.row{
  margin-top: 20px;
}
#dogownersearch>.details>.row>.col-md-6>.subtitle h4{
  width: 80px;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;
}
#dogownersearch>.details>.row>.col-md-6>.section{
  float: left;
  margin-left: 5px;
  height: 32px;
  line-height: 32px;
}

#dogownersearch>.details>.dog_table{
  width:100%;
  border-collapse:collapse;
  border:1px #000000 solid;
  margin-top: 20px;
}
#dogownersearch>.details>table>tbody tr td {
  text-align:center;
  border:1px #000000 solid;

}
#dogownersearch>.details>table>tbody>tr>td>.td-a{
  color:#339afe;
  text-decoration: underline;
}

//信息查询--犬只信息查询
#dog_search{
}
#dog_search>.title{
  width: 950px;
  height: 80px;
  float: left;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}
#dog_search>.tilte>.row{
  margin-left:20px;
}
#dog_search>.title>.row>.form-group{
  float: left;
  margin-right: 15px;
  height: 32px;
  line-height: 32px;
}
#dog_search>.title>.row>.form-group>.btn{
  width: 150px;
  height: 40px;
}
#dog_search>.title>.row>#search{
  float: right;
  margin-right: 50px;
}

#dog_search>.table{
  width:100%;
  border-collapse:collapse;
  border:1px #4888c6 solid;
}
#dog_search>table th,td{

}
#dog_search>.table>thead th{
  text-align:center;
  background:#339afe;
  height: 40px;
  line-height:40px;
  color:#ffffff;
}
#dog_search>.table>tbody tr td{
  height: 30px;
  text-align:center;
}
#dog_search>.table>tbody tr:nth-child(2n+1){background:#daedff;}
#dog_search>.table>tbody tr:nth-child(2n+2){background:#ffffff;}
#dog_search>table>tbody>tr>td>.td-a{
  color:#339afe;
  text-decoration: underline;
}

#dog_search>#dogsearch_nav{
  margin-top:100px;
  margin-left: 250px;
  float: left;
}

//免疫年检css
.immune_content{
  min-width: 1040px;
  max-width: 1240px;
  float: left;
  background:#fcfcfc ;
  padding: 25px;
}
.immune_content>.immune_detail{
  width: 990px;
  float: left;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}
.immune_content>.immune_detail>.title{
  margin-bottom: 15px;
}
.immune_content>.immune_detail>.row>{
  margin-bottom: 15px;
}
.immune_content>.immune_detail>.row>.col-md-4>.subtitle h4{
  width: 80px;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;
}
.immune_content>.immune_detail>.row>.col-md-4>.section{
  float: left;
  margin-left: 5px;
}
.immune_content>.immune_detail>.row>.col-md-6>.subtitle h4{
  width: 80px;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align:right;
}
.immune_content>.immune_detail>.row>.col-md-6>.section{
  float: left;
  margin-left: 5px;
}
.immune_content>.immune_detail>h4>span{
  font-size: 12px;
}
.immune_content>.immune_post{
  margin-top:50px;
  margin-left: 450px;
  float: left;
}

//制卡信息css
.card_info{
  min-width: 1040px;
  max-width: 1240px;
  float: left;
  background:#fcfcfc ;
  padding: 25px;
}
.card_info>.title{
  width: 1140px;
  height: 80px;
  float: left;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}
.card_info>.title>.row{
  margin-left:20px;
}
.card_info>.title>.row>.form-group{
  float: left;
  margin-right: 15px;
  height: 32px;
  line-height: 32px;
}
.card_info>.title>.row>.form-group>.btn{
  width: 150px;
  height: 40px;
  margin-left: 40px;
}

.card_info>.table{
  width:100%;
  border-collapse:collapse;
  border:1px #4888c6 solid;
}
.card_info>table th,td{
  border:1px #4888c6 solid;
}
.card_info>.table>thead th{
  text-align:center;
  background:#339afe;
  height: 40px;
  line-height:40px;
  color:#ffffff;
}
.card_info>.table>tbody tr td{
  height: 30px;
  text-align: center;
}
.card_info>.table>tbody tr:nth-child(2n+1){background:#daedff;}
.card_info>.table>tbody tr:nth-child(2n+2){background:#ffffff;}
.card_info>table>tbody>tr>td>.td-a{
  color:#339afe;
  text-decoration: underline;
}

.card_info>#pagenav{
  margin-top:100px;
  margin-left: 350px;
  float: left;
}
.card_info>#pagenav>.pagination>.navcss{
  width:70px;
  height: 40px;
  line-height: 40px;
  float:left;
  margin-right:1px;
  color: #000000;
}
.card_info>#pagenav>.pagination>.navcss>a{
  width:100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}