html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  //background-color: #e8e9e8;
}

.container {
  max-width: 1200px;
}

//官网中间区域内容--PC端
#home-main {
  margin-top: 70px;
  padding: 0;
  //min-height: calc(100vh);
  height: auto;
  overflow: hidden;
  background-color: #e8e9e8;
}

//官网中间区域内容--移动端
@media (max-width: 480px) {
  #home-main {
    background-color: #fff;
  }
}

//官网首页banner轮播图--PC端
#swiper {
  padding-left: 0;
  padding-right: 0;
}

#swiper > .row {
  margin-bottom: 0;
}

#swiper > .row > .swiper-container {
  width: 100%;
  height: 480px;
}

#swiper > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item > .mBanner {
  width: 100%;
  height: 480px;
}

#swiper > .row > .swiper-container > .swiper-button-prev {
  left: 50px;
}

#swiper > .row > .swiper-container > .swiper-button-next {
  right: 50px;
}

#swiper > .row > .swiper-container > .swiper-button-prev, #swiper > .row > .swiper-container > .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 60px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 24px 40px;
  -webkit-background-size: 24px 40px;
  background-size: 24px 40px;
  background-position: center;
}

#swiper > .row > .swiper-container > .swiper-button-prev {
  background-image: url("../img/prev.png");
}

#swiper > .row > .swiper-container > .swiper-button-next {
  background-image: url("../img/next.png");
}

#swiper > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item {
  position: relative;
}

#swiper > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item > .tip {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10% 0 10%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

//官网首页banner轮播图--移动端
@media (max-width: 480px) {
  #swiper > .row > .swiper-container {
    width: 100%;
    height: 190px;
  }

  #swiper > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item > .mBanner {
    width: 100%;
    height: 190px;
  }

  #swiper > .row > .swiper-container > .swiper-button-prev {
    background-image: none;
  }

  #swiper > .row > .swiper-container > .swiper-button-next {
    background-image: none;
  }
}

//官网首页核心技术--PC端
#tech {
  background: #fff;
}

#tech > .row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}

#tech > .row > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

#tech > .row > .col-md-12 > p {
  color: #000;
  font-size: 16px;
}

#tech > .row > .col-md-12 > .box {
  width: 100%;
}

#tech > .row > .col-md-12 > .box > .tab_menu {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: block;
}

#tech > .row > .col-md-12 > .box > .tab_menu li {
  width: 25%;
  float: left;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: relative;
  vertical-align: center;
  padding: 0 0 20px 0;
}

#tech > .row > .col-md-12 > .box > .tab_menu li img {
  width: 80px;
  height: 80px;
  display: inline-block;
}

#tech > .row > .col-md-12 > .box > .tab_menu li > .arrow {
  border: 10px solid #fff;
  border-bottom-color: #2e3b46;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  bottom: -20px;
  left: 50%;
}

#tech > .row > .col-md-12 > .box > .tab_menu li.active {
  color: #333;
  border: none;
}

#tech > .row > .col-md-12 > .box > .tab_box {
  width: 100%;
  background: #2e3b46;
  height: 150px;
}

#tech > .row > .col-md-12 > .box > .tab_box > div {
  width: 100%;
  height: 90px;
  padding-top: 60px;
}

#tech > .row > .col-md-12 > .box > .tab_box > div > p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

#tech > .row > .col-md-12 > .box > .tab_box .hide {
  display: none;
}

//官网首页核心科技--移动端
@media (max-width: 480px) {

  #tech > .row > .col-md-12 > .box > .tab_menu {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: block;
  }

  #tech > .row > .col-md-12 > .box > .tab_menu li {
    width: 25%;
    float: left;
    height: 60px;
    line-height: 0;
    color: #000;
    text-align: center;
    cursor: pointer;
    position: relative;
    vertical-align: center;
  }

  #tech > .row > .col-md-12 > .box > .tab_menu li img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }
  #tech > .row > .col-md-12 > .box > .tab_menu li span {
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    display: inline-block;
  }
  #tech > .row > .col-md-12 > .box > .tab_menu li > .arrow {
    border: 10px solid #fff;
    border-bottom-color: #2e3b46;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 99;
    bottom: -20px;
    left: 40%;
  }
  #tech > .row > .col-md-12 > .box > .tab_box {
    width: 100%;
    background: #2e3b46;
    height: 150px;
  }

  #tech > .row > .col-md-12 > .box > .tab_box > div {
    width: 100%;
    padding-top: 40px;
  }
  #tech > .row > .col-md-12 > .box > .tab_box > div > p {
    margin: 0;
    padding: 0 15px;
    color: #fff;
    text-align: center;
  }
}

//官网首页产品优势--PC端
#product {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}

#product > .row {
  width: 100%;
  margin-bottom: 0;
}

#product > .row > .col-md-12 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#product > .row > .col-md-12 > p {
  color: #000;
  font-size: 16px;
  text-align: center;
}

#product > .row > .col-md-4 {
  width: 30%;
  height: 480px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#product > .row > .col-md-4:nth-child(1) {
  margin-right: 5%;
}

#product > .row > .col-md-4:nth-child(2) {
  margin-right: 5%;
}

#product > .row > .col-md-4 > img {
  width: 100%;
  height: 100%;
  display: block;
}

#product > .row > .col-md-4 > .tips {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0;
  top: 300px;
}

#product > .row > .col-md-4 > .tips > h3 {
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

#product > .row > .col-md-4 > .tips > p {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

//官网首页产品优势--移动端
@media(max-width: 480px) {
  #product > .row > .col-md-4 {
    width: 100%;
    height: 240px;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  #product > .row > .col-md-4 > .tips {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top: 160px;
  }
  #product > .row > .col-md-4 > .up-down {
    background: black;
  }
}

//官网首页客户案例--PC端
#case {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
}

#case > .row {
  width: 100%;
  margin-bottom: 0;
}

#case > .row > .col-md-12 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#case > .row > .col-md-12 > p {
  color: #000;
  font-size: 16px;
  text-align: center;
}

#case > .row > .swiper-container {
  width: 100%;
  height: 200px;

}

#case > .row > .swiper-container > .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#case > .row > .swiper-container > .swiper-wrapper > .swiper-slide {
  width: 30%;
  height: 100%;
  margin-right: 5%;
}

#case > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item {
  width: 100%;
  height: 100%;
}

#case > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item > .mBanner {
  width: 100%;
  height: 100%;
  display: block;
}

#case > .row > .swiper-container > .swiper-button-prev {
  left: 0;
}

#case > .row > .swiper-container > .swiper-button-next {
  right: 0;
}

#case > .row > .swiper-container > .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 17px;
  height: 24px;
  margin-top: -22px;
  z-index: 99;
  cursor: pointer;
  -moz-background-size: 17px 24px;
  -webkit-background-size: 17px 24px;
  background-size: 17px 24px;
  background-position: center;
}

#case > .row > .swiper-container > .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 17px;
  height: 24px;
  margin-top: -22px;
  z-index: 99;
  cursor: pointer;
  -moz-background-size: 17px 24px;
  -webkit-background-size: 17px 24px;
  background-size: 17px 24px;
  background-position: center;
}

#case > .row > .swiper-container > .swiper-button-prev {
  background-image: url("../img/prev.png");
}

#case > .row > .swiper-container > .swiper-button-next {
  background-image: url("../img/next.png");
}

#case > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item {
  position: relative;
}

#case > .row > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-item > .tip {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10% 0 10%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

//官网首页客户案例--移动端
@media (max-width: 480px) {
  #case {
    padding-bottom: 0;
  }
  #case > .visible-xs-block > .col-xs-12 {
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 0;
    width: 90%;
    height: 160px;
    position: relative;
  }

  #case > .visible-xs-block > .col-xs-12 > img {
    width: 100%;
    height: 100%;
    display: block;
  }
  #case > .visible-xs-block > .col-xs-12 > .tip {
    width: 100%;
    height: 160px;
    line-height: 160px;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99;
    position: absolute;
    color: #fff;
    font-size: 24px;

  }
}

//官网首页关于宇钛--PC端
#about {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

#about > .row {
  width: 100%;
  margin-bottom: 0;
}

#about > .row > .col-md-12 {
  width: 100%;
  height: 200px;
  background: url("../img/timg.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;

}

#about > .row > .col-md-12 > .tip {
  padding-top: 30px;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#about > .row > .col-md-12 > .tip > h3 {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

#about > .row > .col-md-12 > .tip > p {
  padding: 0 100px 0 100px;
  color: #fff;
  font-size: 16px;

}

//官网首页关于宇钛--移动端
@media (max-width: 480px) {
  #about {
    margin-bottom: 20px;
  }
  #about > .row > .col-md-12 {
    width: 100%;
    height: 250px;
    background: url("../img/timg.jpg") no-repeat center center;
    background-size: 100% 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;

  }

  #about > .row > .col-md-12 > .tip > h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  #about > .row > .col-md-12 > .tip > p {
    padding: 0 20px 0 20px;
    color: #fff;
    font-size: 14px;

  }
}

//核心技术页面--核心技术PC端

#core_tech {
  background: #fff;
}

#core_tech > .row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}

#core_tech > .row > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

#core_tech > .row > .col-md-12 > p {
  color: #000;
  font-size: 16px;
}

#core_tech > .row > .col-md-12 > .box {
  width: 100%;
}

#core_tech > .row > .col-md-12 > .box > .tab_menu {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: block;
}

#core_tech > .row > .col-md-12 > .box > .tab_menu li {
  width: 25%;
  float: left;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: relative;
  vertical-align: center;
  padding: 0 0 20px 0;
}

#core_tech > .row > .col-md-12 > .box > .tab_menu li img {
  width: 80px;
  height: 80px;
  display: inline-block;
}

#core_tech > .row > .col-md-12 > .box > .tab_menu li > .arrow {
  border: 10px solid #fff;
  border-bottom-color: #2e3b46;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99;
  bottom: -20px;
  left: 50%;
}

#core_tech > .row > .col-md-12 > .box > .tab_menu li.active {
  color: #333;
  border: none;
}

#core_tech > .row > .col-md-12 > .box > .tab_box {
  width: 100%;
  background: #2e3b46;
  height: 150px;
}

#core_tech > .row > .col-md-12 > .box > .tab_box > div {
  width: 100%;
  height: 90px;
  padding-top: 60px;
}

#core_tech > .row > .col-md-12 > .box > .tab_box > div > p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

#core_tech > .row > .col-md-12 > .box > .tab_box .hide {
  display: none;
}

//核心技术页面--核心技术移动端
@media (max-width: 480px) {

  #core_tech > .row > .col-md-12 > .box > .tab_menu {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: block;
  }

  #core_tech > .row > .col-md-12 > .box > .tab_menu li {
    width: 25%;
    float: left;
    height: 60px;
    line-height: 0;
    color: #000;
    text-align: center;
    cursor: pointer;
    position: relative;
    vertical-align: center;
  }

  #core_tech > .row > .col-md-12 > .box > .tab_menu li img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }
  #core_tech > .row > .col-md-12 > .box > .tab_menu li span {
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    display: inline-block;
  }
  #core_tech > .row > .col-md-12 > .box > .tab_menu li > .arrow {
    border: 10px solid #fff;
    border-bottom-color: #2e3b46;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 99;
    bottom: -20px;
    left: 40%;
  }
  #core_tech > .row > .col-md-12 > .box > .tab_box {
    width: 100%;
    background: #2e3b46;
    height: 150px;
  }

  #core_tech > .row > .col-md-12 > .box > .tab_box > div {
    width: 100%;
    padding-top: 40px;
  }
  #core_tech > .row > .col-md-12 > .box > .tab_box > div > p {
    margin: 0;
    padding: 0 15px;
    color: #fff;
    text-align: center;
  }
}

//核心技术页面--技术细节PC端

#tech_detail {
  background: #fff;
}

#tech_detail > .row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  padding: 100px 0;
  border-bottom: 1px solid grey;
}

#tech_detail > .row > .col-md-5 > h3 {
  color: #000;
  font-size: 30px;
}

#tech_detail > .row > .col-md-5 > p {
  color: #888;
  font-size: 14px;
}

#tech_detail > .row > .col-md-3 > img {
  width: 340px;
  height: 250px;
  display: block;
}

//产品及服务--虹膜bannerPC端
#iris_banner {
  width: 100%;
  padding: 80px 0;
  margin: 0;
  background: #2a2a2c;
}

#iris_banner > .container {

  padding: 0;
  margin: 0 auto;

}

#iris_banner > .container > .row {
  margin-right: 15px;
  margin-left: 15px;
}

#iris_banner > .container > .row > .col-md-4 > h3 {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 34px;
}

#iris_banner > .container > .row > .col-md-4 > p {
  font-size: 14px;
  color: #fff;
}

#iris_banner > .container > .row > .col-md-7 > img {
  width: 100%;
  max-height: 350px;
  display: block;
}

//产品及服务--虹膜banner移动端
@media (max-width: 480px) {
  #iris_banner {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    background: #2a2a2c;
  }
  #iris_banner > .container > .row > .col-md-4 > h3 {
    padding: 10px;
    color: #fff;
    font-size: 28px;
  }

}

//产品及服务--应用场景PC端
#scene {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
}

#scene > .row {
  width: 100%;
  margin-bottom: 0;
}

#scene > .row > .col-md-12 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#scene > .row > .col-md-12 > p {
  color: #000;
  font-size: 16px;
  text-align: center;
}

#scene > .row > .col-md-3 {
  width: 280px;
  height: 680px;
  padding-left: 0;
  margin-right: 24px;
  position: relative;
}

#scene > .row > .col-md-3 > img {
  width: 280px;
  height: 680px;
  display: block;
}

#scene > .row > .col-md-3 > .layer {
  width: 280px;
  height: 680px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  line-height: 680px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

#scene > .row > .col-md-4 {
  width: 410px;
  height: 680px;
  margin-right: 32px;
}

#scene > .row > .col-md-4 > .top {
  width: 410px;
  height: 324px;
  margin-bottom: 32px;
  position: relative;
}

#scene > .row > .col-md-4 > .top > .layer {
  width: 410px;
  height: 324px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  line-height: 324px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

#scene > .row > .col-md-4 > .top > img {
  width: 410px;
  height: 324px;
  display: block;
}

#scene > .row > .col-md-4 > .bottom {
  width: 410px;
  height: 324px;
  position: relative;
}

#scene > .row > .col-md-4 > .bottom > .layer {
  width: 410px;
  height: 324px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  line-height: 324px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

#scene > .row > .col-md-4 > .bottom > .layers {
  width: 410px;
  height: 324px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 80px 30px;
}

#scene > .row > .col-md-4 > .bottom > .layers > p {
  color: #fff;
  font-size: 14px;
}

#scene > .row > .col-md-4 > .bottom > img {
  width: 410px;
  height: 324px;
  display: block;
}

//产品及服务--应用场景移动端
@media (max-width: 480px) {
  #scene > .visible-xs-block > .col-xs-12 {
    height: 200px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
  }
  #scene > .visible-xs-block > .col-xs-12 > img {
    width: 100%;
    height: 200px;
  }
  #scene > .visible-xs-block > .col-xs-12 > .layer {
    text-align: center;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  #scene > .visible-xs-block > .col-xs-12 > .layers {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  #scene > .visible-xs-block > .col-xs-12 > .layers > p {
    color: #fff;
    font-size: 14px;
    padding: 15px;
  }
}

//客户案例
#client_banner {
  padding: 0;
  margin: 0;
}

#client_banner > .row {
  padding: 0;
  margin: 0;
}

#client_banner > .row > .col-md-12 {
  padding: 0;
  margin: 0;
}

#client_banner > .row > .col-md-12 > img {
  width: 100%;
  max-height: 400px;
  display: block;
}

.client_detail {
  padding: 0;
  margin: 20px auto;
  margin-bottom: 0;
}

.client_detail > .row {
  padding: 20px 40px;
  margin: 0;
  background: #fff;
}

.client_detail > .row > .col-md-1 {
  padding-top: 70px;
  text-align: center;

}

.client_detail > .row > .col-md-1 > img {
  width: 60px;
  height: 45px;
  display: inline-block;
}

.client_detail > .row > .col-md-6 > h3 {
  padding-top: 20px;
  color: #000;

}

.client_detail > .row > .col-md-3 > img {
  width: 100%;
  height: 190px;
  display: block;

}

//新闻中心
.newsCenter {
  margin: 20px auto;
  padding: 0;
}

.newsCenter > .row {
  margin: 0;
  padding: 20px;
  background: #fff;
}

.newsCenter > .row > .col-md-3 {
  margin-right: 50px;
}

.newsCenter > .row > .col-md-3 > img {
  width: 100%;
  height: 100%;
  display: block;
}

.newsCenter > .row > .col-md-8 > h3 {
  height: 30px;
  line-height: 30px;
  padding: 20px 0;
  font-size: 22px;
  color: #000;
}

.newsCenter > .row > .col-md-8 > h3 > span {
  font-size: 14px;
  color: #a9a9a9;
  float: right;
  display: inline-block;
}

//联系我们PC端
#contactUs {
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

#contactUs > .row {
  margin: 0;
  padding: 30px 20px;

}

#contactUs > .row > .col-md-4 {
  padding: 30px 50px;
}

#contactUs > .row > .col-md-4 > img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 20px;
}

#contactUs > .row > .col-md-4 > .tip {
  float: left;
}

#contactUs > .row > .col-md-4 > .tip > h4 {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
}

#contactUs > .row > .col-md-4 > .tip > p {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#contactBanner {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 100px;
}

#contactBanner > .row {
  padding: 0;
  margin: 0;
}

#contactBanner > .row > .col-md-12 {
  padding: 0;
  margin: 0;
}

#contactBanner > .row > .col-md-12 > img {
  width: 100%;
  height: 400px;
}

//联系我们移动端
@media (max-width: 480px) {
  #contactUs > .visible-xs-block {
    margin: 0;
    padding: 0;
  }

  #contactUs > .visible-xs-block > .col-xs-12 {
    padding:30px 50px;
  }

  #contactUs > .visible-xs-block > .col-xs-12 > img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
  }

  #contactUs > .visible-xs-block > .col-xs-12 > .tip {
    float: left;
  }

  #contactUs > .visible-xs-block > .col-xs-12 > .tip > h4 {
    color: #000;
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
  }

  #contactUs > .visible-xs-block > .col-xs-12 > .tip > p {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}

//关于我们PC端
#about_banner {
  width: 100%;
  padding: 0;
  margin: 0;
}

#about_banner > .row {
  margin: 0;
  padding: 0;
}

#about_banner > .row > .col-md-12 {
  margin: 0;
  padding: 0;
}

#about_banner > .row > .col-md-12 > img {
  width: 100%;
  height: 400px;
  display: block;
}

#yutai_life {
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

#yutai_life > .row {
  margin: 0;
  padding: 50px 80px;
}

#yutai_life > .row > .col-md-12 {
  padding: 0;
  margin: 0;
}

#yutai_life > .row > .col-md-12 > h3 {
  color: #000;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#yutai_life > .row > .col-md-12 > p {
  color: #000;
  font-size: 18px;
}

.aboutDetail {
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

.aboutDetail > .row {
  margin: 0;
  padding: 0;
}

.aboutDetail > .row > .col-md-9 {
  margin: 0;
  padding: 0;
}

.aboutDetail > .row > .col-md-9 > img {
  width: 100%;
  height: 450px;
  display: block;
}

.aboutDetail > .row > .col-md-3 {
  margin: 0;
  padding: 30px;
}

.aboutDetail > .row > .col-md-3 > h3 {
  color: #3399FF;
  font-size: 24px;

}

.aboutDetail > .row > .col-md-3 > p {
  color: #000;
  font-size: 20px;
}

#second {
  background: #000;
}

#second > .row > .col-md-3 > h3 {
  color: #fff;
}

#second > .row > .col-md-3 > p {
  color: #fff;
}

//关于我们移动端
@media (max-width: 480px){
  #about_banner > .row > .col-md-12 > img {
    width: 100%;
    height: 200px;
    display: block;
  }
  #yutai_life > .row {
    margin: 0;
    padding: 20px;
  }
  #yutai_life > .row > .col-md-12 > h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
  }
  #yutai_life > .row > .col-md-12 > p {
    color: #000;
    font-size: 14px;
  }
  .aboutDetail > .row > .col-md-9 > img {
    width: 100%;
    height: 200px;
    display: block;
  }

}



//招聘PC端
#employ_list {
  margin: 50px auto;
  padding: 0;
  margin-bottom: 150px;
}

#employ_list > #first {
  background: #5d5d5d;
  height: 80px;
  border-radius: 4px 4px 0 0;
}

#employ_list > #first > .col-md-3 {
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  font-size: 22px;
}

#employ_list > .row {
  background: #fff;
  margin: 0;
  padding: 0;

}

#employ_list > .row > .col-md-3 {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #000;
  font-size: 14px;
  position: relative;
}

#employ_list > .row > .col-md-3 > .u-arrow {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg);
  position: absolute;
  top: 27px;
  right: 80px;
}

#employ_list > .row > .col-md-3 > .u-arrow-up {
  transform: rotate(-45deg);
}

#employ_list > .row > .job:hover {
  cursor: pointer;
}

#employ_list > .row > .col-md-3 > a {
  padding: 5px;
  text-decoration: none;
  border: 1px solid #979797;
  border-radius: 4px;
}

#employ_list > .row > .col-md-3 > a:hover {
  border: 1px solid #3399ff;
  background: #3399ff;
  color: #fff;
}

#employ_list > .row > .col-md-12 {
  width: 100%;
  background: #f2f2f2;
  padding: 50px 100px;
}

#employ_list > .row > .col-md-12 > h4 {
  font-size: 14px;
  color: #878787;
}

#employ_list > .row > .col-md-12 > p {
  font-size: 12px;
  color: #909090;
}

#employ_list > .row > .col-md-12 > .last {
  margin-bottom: 30px;
}
//招聘移动端
@media (max-width: 480px){
  #employ_list > .row{
    position: relative;
  }
  #employ_list > #first > .col-md-3 {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  #employ_list > .row > .col-md-3 > .u-arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(135deg);
    position: absolute;
    top: 27px;
    right: 5px;
  }
  #employ_list > .row > .col-md-12 {
    width: 100%;
    background: #f2f2f2;
    padding: 20px;
  }
}