<header class="signup-header">  
        <div class="container">   
            <div class="row">    
                <div class="col-md-12">
                    <a  href="javascript:void(0);">
                        <!--<img src="img/logo1.png" style="float:left">-->
                        <h4 style="float:left" id="title" >犬类信息管理系统</h4>
                    </a>
                </div>
            </div>
        </div>
</header>