<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div id="main-view" class=".container-fluid">

    <!--头部导航区域-->
    <div id="header-content"></div>

    <!--中间内容区域-->
    <div id="home-main"></div>

    <!--底部栏区域-->
    <div id="footer-content"></div>

</div>
