<div class="container" id="service_content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h2>服务协议</h2>
            <h3>条款简述</h3>
            <p>上海宇钛信息科技有限公司（以下简称“宇钛科技”）为您提供的所有服务均应遵循下列使用条款。宇钛科技保留在不予通知的情况下对本使用条款随时进行更新的权利。您可以通过点击我公司网页底部的“服务协议”超级链接以了解最新的使用条款。
                以下是您与宇钛科技之间法律协议的条款。访问、浏览或使用此网页站点，您即承认您已阅读、理解并同意受这些条款的约束，并遵守所有适用的法律和法规。如果您不同意这些条款，请不要使用此网页站点。
            </p>
            <h3>服务总则</h3>
            <p>未经宇钛科技事先的书面同意，不得复印、复制、再次公布、上载、张贴、传播、分发或使用此站点及其中的所有内容，除非宇钛科技授予您一份非专属的、不可转让的且有限的许可，允许您仅在您的计算机上为了您个人使用而非商业性使用此网页站点的目的访问和显示此站点内的网页页面。</p>
            <p>如果您未遵守此站点上的条款、条件和声明，则授予您的任何权利将自动终止，而无需事先通知，并且您必须立即销毁您所拥有或掌握的所有已下载资料副本。除了前一段中的有限许可权，宇钛科技不授予您关于任何专利、商标、版权或其他专有权或知识产权的任何明示的或暗含的权利或许可。您不得在另一个网页站点或任何其他介质中设置此站点任何内容的镜像。</p>
            <h3>特定免责条款</h3>
            <p>宇钛科技对您使用网站、与本网站相关的任何内容、服务或其它链接至本网站的站点、内容均不作直接、间接、法定、约定的保证。
                宇钛科技不承担以下责任（且明确声明免除以下责任）：更新此站点使信息保持最新或者确保任何已张贴信息的准确性或完整性。关于此站点中描述的任何服务、产品或其他事项作出任何决策之前，您应该确认所有已张贴信息的准确性和完整性。
            </p>
            <h3>到此站点的链接</h3>
            <p>到此网页站点的所有链接必须宇钛科技书面批准，除非宇钛科技同意以下链接，链接及由该链接激活的页面并不：（a）围绕此网页站点上的任何页面创建框架或使用其他以任何方式改变此站点内任何内容的视觉效果或外观的技巧；（b）歪曲或不正确的描述您与 宇钛科技之间的关系；（c）暗示宇钛科技批准或认可您、您的网页站点或您的服务或提供的产品；并且（d）提供任何有关宇钛科技的错误的或令人误解的印象或者以其他方式损害与 宇钛科技名称或商标相关的商誉。要获得链接到此站点的许可权，您还须同意，宇钛科技可以随时自主决定终止链接到此网页站点的许可权。在这种情况下，您同意立即除去到此网页站点的所有链接并停止使用任何宇钛科技商标。</p>
            <h3>不保证声明</h3>
            <p>使用此站点所带来的风险由您自行承担。所有资料、信息、产品、软件、程序和服务均“按现状”提供，不附有任何形式的保证或担保。在法律许可的最大范围内，宇钛科技明确声明免除所有明示的、暗含的、法定的和其他保证、担保、声明或承诺，包括但不限于有关适销、适用于某种特定用途以及有关所有权和知识产权的非侵权的保证。在不受任何限制的情况下，宇钛科技不保证，此网页站点将不中断、及时、安全或无错误。</p>
        </div>
    </div>
</div>