
<!--<header class="site-header" style="height: 50px;background:#3399ff;width: 100%">-->
 <!--&lt;!&ndash;<div class=" jumbotron head_jumbotron"  style="background-image:url('img/b.jpeg')">&ndash;&gt;-->
		<!--<h1> HaloKit 犬类信息管理系统</h1>-->
<!--</header>-->

<header  style="height: 40px;line-height: 40px; background:#3399ff;width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <a href="branding" href="#">
                    <img src="img/logo1.png" style="float:left">
                    <h4 style="float:left" id="title" >犬类信息管理系统</h4>
                </a>
                <ul style="float:right;margin-right:100px; ">
                    <li style="float:left;">
                        <a href="#" style="color:#ffffff;">消息中心</a>
                        <i class="glyphicon glyphicon-comment" style="color:#ffffff;"></i>
                    </li>
                    <li style="float:left;">
                        <a href="javascript:void(0);" id="personal_center" style="color:#ffffff;">个人中心</a>
                        <i class="glyphicon glyphicon-edit" style="color:#ffffff;"></i>
                    </li>
                    <li style="float:left;">
                        <i class="glyphicon glyphicon-user" style="color:#ffffff;"></i>
                    </li>
                </ul>
            </div>
    </div>
</header>
