<header  class="personal_header">
    <!--<a  class="logo"  href="javascript:void(0);">-->
        <!--<img src="img/logo.png" />-->
    <!--</a>-->
    <div  id="title" >犬类信息管理系统</div>
    <ul id="personal_info" >
        <li>
            <a href="javascript:void(0);" id="news" >消息中心</a>
            <i class="glyphicon glyphicon-comment"></i>
        </li>
        <li>
            <a href="javascript:void(0);" id="personal_center" >个人中心</a>
            <i class="glyphicon glyphicon-edit" ></i>
        </li>
        <li>
            <a  href="javascript:void(0);" id="user_name" ></a>
            <i id="user_icon" class="glyphicon glyphicon-user">
                <ul id="quit">
                    <li>
                        <a  href="#start">退出登陆</a>
                    </li>
                </ul>
            </i>
        </li>
    </ul>
</header>
