
<!--<header class="site-header" style="height: 50px;background:#3399ff;width: 100%">-->
 <!--&lt;!&ndash;<div class=" jumbotron head_jumbotron"  style="background-image:url('img/b.jpeg')">&ndash;&gt;-->
		<!--<h1> HaloKit 犬类信息管理系统</h1>-->
<!--</header>-->

<header  class="personal_header">
    <a  class="logo" href="branding" href="#">
        <img src="img/logo.png" />
    </a>
    <div  id="title" >犬类信息管理系统</div>
    <ul id="personal_info" >
        <li>
            <a href="#" >消息中心</a>
            <i class="glyphicon glyphicon-comment"></i>
        </li>
        <li>
            <a href="javascript:void(0);" id="personal_center" >个人中心</a>
            <i class="glyphicon glyphicon-edit" ></i>
        </li>
        <li>
            <i id="user_icon" class="glyphicon glyphicon-user">
                <ul id="quit">
                    <li>
                        <a  href="#start">
                            退出
                        </a>
                    </li>
                </ul>
            </i>
        </li>
    </ul>
</header>
