<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="container" id="employ_list">
    <div class="row" id="first">
        <div class="col-md-3 col-xs-4">Job Title</div>
        <div class="col-md-3 col-xs-3">Job Category</div>
        <div class="col-md-3 col-xs-3 visible-lg-block">Office Location</div>
        <div class="col-md-3 col-xs-2 visible-xs-block">Location</div>
        <div class="col-md-3 col-xs-3">Apply</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">产品经理<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">产品类</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">
            <h4>岗位职责：</h4>
            <p>1.基于对产品地良好理解能力，完成产品的视觉概念设计；</p>
            <p>2.针对不同平台，灵活地调整设计方案；</p>
            <p class="last">3.在团队协作中持续输出高质量的设计素材，平滑对接上下游的需求。</p>
            <h4>我们对您的期望：</h4>
            <p>必备条件</p>
            <p>1.优秀的视觉设计能力，对 Smartisan OS 的设计有一定的理解;</p>
            <p>2.熟练使用 Photoshop、Illustrator 等软件；</p>
            <p>3.视觉设计中注重整体感的画面控制力，对像素级细节严谨把控的专业精神；</p>
            <p>4.善于创新，对视觉设计、色彩有敏锐的观察力及分析能力；</p>
            <p>5.良好的沟通能力，善于对设计的表达，具有良好的团队协作精神；</p>
            <p>6.勇于接受挑战，善于自我激励，具有强烈的学习热情和进取心；</p>
            <p>7.关注行业设计动态与科技产品讯息趋势；</p>
            <p class="last">8.良好的文档管理习惯。</p>
            <h4>优先条件：</h4>
            <p>1.有良好的平面排版功底；</p>
            <p>2.有扎实的写实功底；</p>
            <p>3.熟悉和善于 3D 渲染；</p>
            <p>4.有跨平台的项目经验；</p>
            <p>5.对前端编程有经验或有兴趣；</p>
            <p>6.活跃于各种设计社区，图片社区或是技术社区，擅于调研与分析；</p>
            <p>7.熟悉动画特效或精通原型交互动画；</p>
            <p>8.有独门的设计技巧或心得。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">项目经理<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">运营类</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">项目经理</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">C++工程师<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">技术开发</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">C++工程师</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">算法工程师<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">技术开发</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">算法工程师</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">资深UI设计师<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">产品类</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">资深UI设计师</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">资深UX设计师<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">产品类</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">资深UX设计师</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-4 job">前端工程师<i class="u-arrow"></i></div>
        <div class="col-md-3 col-xs-3">技术开发</div>
        <div class="col-md-3 col-xs-2">上海</div>
        <div class="col-md-3 visible-lg-block visible-md-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply Now</a>
        </div>
        <div class="col-md-3 col-xs-3 visible-xs-block">
            <a href="mailto:hr@yutaitech.cn?subject=求职">Apply</a>
        </div>
        <div class="col-md-12 col-xs-12">WEB前端工程师</div>
    </div>
</div>
