<div class="card_info">

    <div class="top_tip">
        <h3>预约查询</h3>
    </div>

    <div class="title">
        <div class="row">
            <div class="form-group">
                <label for="" class="control-label" style="float:left;">请输入预约码:</label>
                <input style="float: left" class="form-control"  type="text"  id="immune_number" >
            </div>
            <div class="form-group search">
                <button class="btn btnBlueE btn-block" id="search">搜索</button>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody id="tbody">
        <tr class="tr_head">
            <td>预约码</td>
            <td>主人姓名</td>
            <td>主人手机号</td>
            <td>犬名</td>
            <td>品种</td>
            <td>毛色</td>
            <!--<td>操作</td>-->
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <nav aria-label="Page navigation" id="dogowner_nav">
                <ul class="pagination">
                    <li><a href="javascript:void(0)" id='pageBegin'>首页</a></li>
                    <li id="page">
                        <a href="javascript:void(0)" aria-label="Previous" id='pageUp'>
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" aria-label="Next" id="pageDown">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li><a href="javascript:void(0)" id="pageEnd">尾页</a></li>
                </ul>
            </nav>
            <div id="nodata" style="display:none;text-align:center">
                暂无数据
            </div>
        </div>
    </div>


</div>