<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width:1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <div class="title">
                    <h4>Owner Register</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Name:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerName"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Mobile Number:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerPhone"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Mobile Number2:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerPhone2"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Gender:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerSex"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Telephone Number:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerTel"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Email:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerEmail"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Type of Credentials:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerCertificateType"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*ID number:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerCertificateCode"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Post Code/Zip Code:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerCode"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subtitle" style="margin-left: 20px">
                            <h4>*Address:</h4>
                        </div>
                        <div class="section">
                            <span id="ownerAddr"></span>
                        </div>
                    </div>
                </div>
                <div class="title top">
                    <h4>Dog Register</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Dog's Name:</h4>
                        </div>
                        <div class="section">
                            <span id="dogName"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Sex:</h4>
                        </div>
                        <div class="section">
                            <span id="dogSex"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Sterilization:</h4>
                        </div>
                        <div class="section">
                            <span id="residenceIsSterilization"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Canine:</h4>
                        </div>
                        <div class="section">
                            <span id="dogHairColor"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Purpose:</h4>
                        </div>
                        <div class="section">
                            <span id="dogUsage"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Iris ID:</h4>
                        </div>
                        <div class="section">
                            <span id="dogIrisId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*Breeds:</h4>
                        </div>
                        <div class="section" style="width:155px;">
                            <span id="dogBreed"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>Date of Birth:</h4>
                        </div>
                        <div class="section">
                            <span id="dogBornDate"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle" style="position: relative">
                            <img id="dogPhotoUrl"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" id="modal-btn-close" style="float: left;" class="btn btn-primary"
                                data-dismiss="modal">Cancel
                        </button>
                        <button type="button" id="save_and_ccard" class="btn btn-primary">Making Card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
