<div class="print_card">
    <h4>办理狗证/个人办证/打印磁卡</h4>
    <form role="form" class="registration">
        <h3>电子卡</h3>
        <div class="card_img" >
           此处放卡片正面图片
        </div>
        <div class="card_img" >
            此处放卡片背面图片
        </div>
    </form>
    <form role="form" class="registration">
        <h3>免疫卡信息</h3>
        <div id="immunecard_info">
            <div id="immunecard_info_left">
                 <div class="infos_list">
                     <div class="infos_list_left">养犬人姓名:</div>
                     <div class="infos_list_right">张三</div>
                 </div>
                <div class="infos_list">
                    <div class="infos_list_left">住址:</div>
                    <div class="infos_list_right">上海徐汇区漕河泾</div>
                </div>
                <div class="infos_list">
                    <div class="infos_list_left">全品种:</div>
                    <div class="infos_list_right">法斗(黑白)</div>
                </div>
                <div class="infos_list">
                    <div class="infos_list_left">虹膜标志</div>
                    <div class="infos_list_right">1234567890</div>
                </div>
                <div class="infos_list">
                    <div class="infos_list_left"></div>
                    <div class="infos_list_right">此处放条形码</div>
                </div>
                <div class="infos_list">
                    <div class="infos_list_left">签发单位:</div>
                    <div class="infos_list_right">上海市顽皮家族宠物医院</div>
                </div>
                <div class="infos_list">
                    <div class="infos_list_left">初始发证日期:</div>
                    <div class="infos_list_right">2012年12月1日</div>
                </div>
            </div>
            <div id="immunecard_info_right">
                 <div class="infos_lists">
                     <div class="infos_lists_left">免疫证号:</div>
                     <div class="infos_lists_right">123456789</div>
                 </div>
                <div class="infos_lists">
                    <div class="infos_lists_left">所属区县:</div>
                    <div class="infos_lists_right">徐汇区</div>
                </div>
                <div class="infos_lists">
                    <div class="infos_lists_left">免疫时间:</div>
                    <div class="infos_lists_right">2013-09-01</div>
                </div>
            </div>
        </div>
    </form>
    <form role="form">
        <div class="form-group">
            <button class="btn btnBlueE btn-block infoBtn"  id="print_card">打印磁卡</button>
        </div>
    </form>
</div>