<div class=".container-fluid">
    <div class="row">
	    <div class="col-md-12">
	        <footer class="footer " id="bottom" style="background:#ccc;">
			    <p class="text-center">沪ICP备 16015040号-2 上海市徐汇区虹梅路2071号二号楼311室</p>
			    <p class="text-center">Copyright©2016-2017,HALOKIT.CN,All Rights Reserved</p>
		    </footer>
	    </div>   
    </div>
</div>