<div class=".container-fluid navbar-fixed-bottom">
    <div class="row">
	    <div class="col-md-12">
	        <footer class="footer navbar-fixed-bottom" id="bottom" style="background:#ccc;">
			    <p class="text-center">Copyright © 2016-2018,Shanghai Yutai Information Technology Co.,Ltd. All Rights Reserved.</p>
			    <p class="text-center">沪ICP备16015040号-2,Room 309-310,2nd floor,Hongmei Road No.2071,Xuhui District, Shanghai.</p>
		    </footer>
	    </div>
    </div>
</div>
