<!--虹膜系统banner开始-->
<div id="iris_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>犬类虹膜身份识别系统</h3>
                <p>犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                   犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统犬类虹膜身份识别系统
                </p>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <img  src="img/video.png">
            </div>
        </div>
    </div>
</div>
<!--虹膜系统banner结束-->
<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>产品优势</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="img/bg01.jpg">
            <div class="tips"   style="background: rgba(237, 173, 91, 0.8);">
                <h3>采集速度快</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg02.jpg">
            <div class="tips"   style=" background: rgba(90, 161, 235, 0.8);">
                <h3>统一规格</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg03.jpg">
            <div class="tips"   style="background: rgba(145, 70, 210, 0.8);">
                <h3>安全放心</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->
<!--应用场景开始-->
<div class="container" id="scene">
    <div class="row">
        <div class="col-md-12">
            <p>应用场景</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="img/scene1.jpg">
            <div class="layer">许可证</div>
        </div>
        <div class="col-md-4">
            <div class="top">
                <img src="img/scene2.jpg">
                <div class="layer">购物</div>
            </div>
            <div class="bottom">
                <img src="img/scene3.jpg">
                <div class="layers">
                    <p>
                        用深度学习方法训练狗眼检测器的训练集合中，正样本数量为2000张，负样本数量为1500张，
                        测试集中正样本400 张，负样本400张。经过多次迭 代后，在训练集合中正确率为1，召回率为1，
                        注册库中的狗眼图像为3388张，区分左右眼情况下， 狗眼类别数量为690只。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-right: 0">
            <div class="top">
                <img src="img/scene4.jpg">
                <div class="layer">医院</div>
            </div>
            <div class="bottom">
                <img src="img/scene5.jpg">
                <div class="layer">保险</div>
            </div>
            <div>
        </div>

    </div>
</div>
<!--应用场景结束-->