<div class="modal fade" id="modal-profile">
    <div class="modal-dialog" style="width: 360px;height:200px;margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">
                    删除账户
                </h4>
            </div>
            <div class="modal-body">
                <!--<div class="progress" style="display:none">-->
                    <!--<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" role="alert" style="display:none"></div>-->
                <!--<div class="alert alert-success" role="alert" style="display:none">Profile Saved</div>-->
                 <p style="padding-left: 20px">您确定删除账户，一旦删除将无法恢复，请仔</p>
                 <p style="padding-left: 20px">细确认！</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btnBlueE btn-block"  id="modal-btn-save" >确定</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button"  id="modal-btn-close">取消</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
