<div class="container newsArticleDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <p class="newsMainTitle" style="line-height: 30px;font-size: 24px;font-weight: bold;">Biometric Identification for Pets</p>

            <p style="line-height: 30px;font-size: 14px;color:#a9a9a9;font-weight: normal">2016-08-16 10:33</p>

            <p>For those of you with pets, you know what a bureaucratic hassle it is to prepare your pets for travel during the holidays. Pets need to have vaccinations, booster vaccination shots of the same vaccination for a certain time frame, take deworming meds 24 hours before a flight and many EU countries have mandatory microchipping laws.</p>

            <p><a target="_blank" href="http://www.bbc.com/news/uk-35972480" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">Recently, the UK launched a new law that requires compulsory microchipping of dogs over 8 weeks old.</a></p>

            <p><img src="../img/biometric01.jpg" style="width: 100%;height: 100%;"></p>

            <p>The UK recently passed a law making microchipping of dogs mandatory. Pet owners who do not microchip their dogs will be fined £500.</p>

            <p>This is problematic for several reasons. Firstly, microchip implants are an outdated technology stemming from the 1990s. A microchip implant was initially considered advanced technology more than 30 years ago before evidence amounted of its safety and efficacy concerns. A microchip implant is an integrated circuit RFID (radio frequency identification) implant a bit larger than a size of a grain of rice that is usually injected under the skin.
                <a target="_blank" href="http://www.chipmenot.org/failure.htm" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">Problems have been found with microchips, including cracking and leakage and becoming a health hazard inside the body of an animal.</a>
                Numerous studies have shown the ineffectiveness of microchipping for identification as many shelters were unable to locate the microchip or information from the microchip could not be read, leading to the euthanisation of many pets whose owners were looking for them. In the United States, mandatory laws for the microchipping of pets were defeated on both local and national levels for being invasive and potentially harmful.
                <a target="_blank" href="https://thebark.com/content/danger-microchips" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">Lawsuits have been filed against Merck and Co. and HomeAgain pet microchips for possible cancer causing effects of its microchips.</a>
            </p>

            <p>Secondly, microchips often fail to be read - because when inside the body of a person or pet, scar tissue forms around the microchip and could also migrate to other areas of the body making it hard for technicians to locate the microchip.
                <a target="_blank" href="https://www.vettimes.co.uk/news/microchip-in-puppys-brain-prompts-rvc-warning/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">One pet owner found the microchip had migrated into the brain of her puppy, leading to a terrible health hazard.</a>
                Many dog owners have reported that
                <a target="_blank" href="http://www.dogsnaturallymagazine.com/implanted-microchips-cause-cancer/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">cancerous tumours had developed in the region of where the microchip had been implanted.</a>
            </p>

            <p><img src="../img/biometric02.jpg" style="width: 100%;height: 100%;"></p>

            <p>A CT image of a puppy's head in which a pet owner discovered that a microchip had migrated into the brainstem of her puppy in 2016.</p>

            <p><img src="../img/biometric03.jpg" style="width: 100%;height: 100%;"></p>

            <p><a target="_blank" href="http://www.antichips.com/faq/html/faq-section06.html" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">A horse with a microchip in which a fatty tumour and abscess around the microchip has started developing.</a></p>

            <p><img src="../img/biometric04.jpg" style="width: 100%;height: 100%;"></p>

            <p>
                <a target="_blank" href="http://www.chipmenot.org/halo.htm" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">A cat, Halo, developed an aggressive form of fibrosarcoma around where the microchip had been implanted, leading to multiple surgeries. </a>
                Contents of the microchip most likely leaked into the body of the cat after implantation.
            </p>

            <p>Lastly, all nations have different microchip readers, so there is a compatibility issue. If you are a world traveller, you will need to bring your own microchip reader or have your pet microchipped twice with two different kinds of microchips. This is ineffective, inefficient and a waste of time, since microchips often fail to be read after having been implanted for a long time, could migrate and leak contents into the body of your pet.</p>

            <p>Instead, the better way to identify your pet is with an iris biometrics identification recognition. Although this iris biometrics technology had been used at airports in London from 2005-2012 to identify people, the technology had been soon abandoned after the 2012 Olympics
                <a target="_blank" href="https://www.forbes.com/sites/parmyolson/2012/07/26/researchers-trick-iris-scanner-with-forged-eye-images/#3dcc27b4ae3a" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none">when it was discovered by security experts that iris biometrics could be falsely verified through high resolution images or contact lenses, making it possible to impersonate another individual.</a>
            </p>

            <p><img src="../img/biometric05.jpg" style="width: 100%;height: 100%;"></p>

            <p>Currently, many cattle ranches in the US are utilising iris biometrics identification by scanning the unique patterns in the iris of an animal. Previous painful and invasive methods of branding the animal and marking or piecing the animal have long been criticised as being harmful and cruel. Iris biometrics identification is a non-invasive, inexpensive method to identify an animal.</p>

            <p>However,
                <a target="_blank" href="http://www.iritech.com/blog/iris-biometric-animal-identification-0616/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">iris biometrics is currently being utilised to identify cattle,</a>
                and
                <a target="_blank" href="http://veterinarynews.dvm360.com/iris-scan-technology-horses" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">horses</a>
                and other animals, and most pet owners are probably not going to attempt to falsify the identity of their pet, especially since all pets pass through the airport via a manual inspection, hence no ability for animals to present false high resolution video images of another animal's eyes or to falsify identity by using
                <a target="_blank" href="https://www.wired.com/2012/07/reverse-engineering-iris-scans/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">fake irises present in contact lenses to pass the biometrics recognition.</a>
                Currently there are also retinal eye scans, which differ from iris recognition scans by analysing the pattern of blood vessels in the retina as opposed to the unique patterns of the iris:
            </p>

            <p>A biometric identifier known as a retinal scan is used to map the unique patterns of a person’s retina. The blood vessels within the retina absorb light more readily than the surrounding tissue and are easily identified with appropriate lighting. A retinal scan is performed by casting an unperceived beam of low-energy infrared light into a person’s eye as they look through the scanner’s eyepiece. This beam of light traces a standardized path on the retina. Because retinal blood vessels are more absorbent of this light than the rest of the eye, the amount of reflection varies during the scan.
                <a target="_blank" href="http://www.m2sys.com/blog/biometric-hardware/iris-recognition-vs-retina-scanning-what-are-the-differences/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">The pattern of variations is converted to computer code and stored in a database.</a>
            </p>

            <p><img src="../img/biometric06.jpg" style="width: 100%;height: 100%;"></p>

            <p>As a note, retinal scans are not routinely utilised due to the expense of the scanning procedure and the nature of light being directly projected into the eye compared to iris biometrics recognition technology which is non-invasive and portable and less expensive. In addition, as iris recognition technology becomes more advanced, there will be less ways for security experts to fool scanning devices.
                <a target="_blank" href="https://www.youtube.com/watch?v=13zFQh7BPG4" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">Carnegie Mellon University was recently able to demonstrate long-range iris recognition system by identifying people from 40 feet away.</a>
            </p>

            <p>Another way to add a layer of security to biometrics identification is via the compendium of many different biomarkers. For pets, this could include any birth marks, or identifying characteristics listed in their pet passports or a database, in addition to the iris pattern recognition. This is much more preferable than an invasive and outdated procedure such as microchipping one's pet which has many negatives. Iris biometrics identification is also versatile and suitable for large populations of animals. </p>

            <p>
                <a target="_blank" href="https://www.livescience.com/47448-cool-new-identification-technologies.html" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">Other high tech biometrics identification system includes voice recognition, handprint vein identification, brainwave identification and even biomarkers for unique odors. </a>
                These are technologies that could easily be calibrated for the pet population that could be used in the future in conjunction with iris biometrics recognition.
            </p>

            <p><img src="../img/biometric07.jpg" style="width: 100%;height: 100%;"></p>

            <p>Iris biometrics identification of pets is currently the safest and most cost-effective and accurate method of pet identification in the world that is non-invasive and does not harm the pet.</p>

            <p>This is an area where UK legislation needs to catch up with the latest research and technology. Although lawmakers probably have the best interests in mind - in order to attempt to prevent abandoned animals and help owners find their lost pets, microchipping has not been effective in this regard. Although the makers of microchips assert that microchipping pets has lead to the reunion of lost pets and their owners by up to 20%, this statistic has not been verified by independent third parties, and at best is probably an overstated extrapolation without any credible proof. In fact, as mentioned before several cases have risen in which lost pets have been wrongfully euthanised due to the technicians at animal shelters not being able to locate the microchip.
                <a target="_blank" href="http://vetsgetscanning.co.uk/urgent-update-on-virbacs-faulty-microchips/" style="border-bottom: 1px solid rgba(51,136,187,.6);color: #38b;text-decoration: none ">Microchip failures have also been routinely reported by the makers of microchips. </a>
            </p>

            <p>These kinds of compulsory laws forcing pet owners to microchip their pets actually hurt people and their pets, rather than give confidence to pet owners of the safety and efficacy of the technology being implemented that may potentially have harmful effects.</p>

            <p>The U.K. is a progessive nation with investment into many high tech enterprises. We should not utilise antiquated technology and make it mandatory for people to microchip their pets when the overwhelming evidence points to its ineffectiveness and potential harmful effects. ​</p>

        </div>
    </div>
</div>
