<form>
  <div class="form-group">
    <label for="">name</label>
    <input type="input" class="form-control" id="" placeholder="dog name">
  </div>
 
  <button id="btn-dogPreview" type="submit" class="btn btn-default">Submit</button>

</form>


