<form class="info">
    <p class="text-center">完成以下信息并提交即可完成注册</p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*免疫点名称：</span>
        <input type="text"  />
    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*地址：</span>
        <select>
            <option>请选择</option>
        </select>
        <select>
            <option>请选择</option>
        </select>
        <select>
            <option>请选择</option>
        </select>
    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*详细地址：</span>
        <input type="text"  />
    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*座机：</span>
        <select>
            <option>021</option>
        </select>
        <input type="text"  />
    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*营业执照：</span>
        <input style="display:inline-block;"  type="file"  />
    </p>
    <div class="row">
        <div class="form-group">
            <div style="width:120px;height:30px;float: left;">*动物诊疗许可证：</div>
            <div style="width:120px;height:60px;border:1px solid grey;float: left;"></div>
        </div>
    </div>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*医疗美容：</span>
        <input type="checkbox" />医疗
        <input type="checkbox" />美容
    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*联系人：</span>
        <input type="text" />

    </p>
    <p>
        <span style="display:inline-block;width:100px;text-align:right;">*联系电话：</span>
        <input type="text" />
    </p>
    <div class="row">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="btn-login">提交</button>
    </div>
</div>
</form>