<!--联系我们详细方式-->
<div class="container" id="contactUs">
    <!--PC端展示方式-->
    <div class="row visible-lg-block">
        <div class="col-md-4">
            <img src="img/商务合作.png">
            <div class="tip">
                <h4>商务合作</h4>
                <p>business@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/媒体查询.png">
            <div class="tip">
                <h4>媒体查询</h4>
                <p>pr@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/咨询电话.png">
            <div class="tip">
                <h4>咨询电话</h4>
                <p>400-775-9206</p>
                <p>(周一至周五 9:30-18:00)</p>
            </div>
        </div>
    </div>
    <div class="row visible-lg-block">
        <div class="col-md-4">
            <img src="img/简历投递.png">
            <div class="tip">
                <h4>简历投递</h4>
                <p>hr@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/安全反馈.png">
            <div class="tip">
                <h4>客户服务</h4>
                <p>info@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/市场合作.png">
            <div class="tip">
                <h4>市场合作</h4>
                <p>mkt@yutaitech.cn</p>
            </div>
        </div>
    </div>
    <!--移动端展示方式-->
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/商务合作.png">
            <div class="tip">
                <h4>商务合作</h4>
                <p>business@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/媒体查询.png">
            <div class="tip">
                <h4>媒体查询</h4>
                <p>pr@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/咨询电话.png">
            <div class="tip">
                <h4>咨询电话</h4>
                <p>400-775-9206</p>
                <p>(周一至周五 9:30-18:00)</p>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/简历投递.png">
            <div class="tip">
                <h4>简历投递</h4>
                <p>hr@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/安全反馈.png">
            <div class="tip">
                <h4>客户服务</h4>
                <p>info@yutaitech.cn</p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/市场合作.png">
            <div class="tip">
                <h4>市场合作</h4>
                <p>mkt@yutaitech.cn</p>
            </div>
        </div>
    </div>
</div>
<!--联系我们banner-->
<div class="container" id="contactBanner">
    <div class="row">
        <div class="col-md-12">
            <img src="img/001.jpg">
        </div>
    </div>
</div>