<!--联系我们详细方式-->
<div class="container" id="contactUs">
    <!--PC端展示方式-->
    <div class="row visible-lg-block">
        <div class="col-md-4">
            <img src="img/swhz.png">
            <div class="tip">
                <h4>Business Partnership</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=商务合作">business@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/mtcx.png">
            <div class="tip">
                <h4>Media Partnership</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=媒体查询">pr@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/zxdh.png">
            <div class="tip">
                <h4>Hotline</h4>
                <p>400-775-9206</p>
                <p>(9:30-18:00, Monday-Friday)</p>
            </div>
        </div>
    </div>
    <div class="row visible-lg-block">
        <div class="col-md-4">
            <img src="img/jltd.png">
            <div class="tip">
                <h4>Post Resume</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=求职">hr@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/khfw.png">
            <div class="tip">
                <h4>Customer Service</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=客户服务">info@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/schz.png">
            <div class="tip">
                <h4>Marketing Partnership</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=市场合作">mkt@yutaitech.cn</a></p>
            </div>
        </div>
    </div>
    <!--移动端展示方式-->
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/swhz.png">
            <div class="tip">
                <h4>Business Cooperation</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=商务合作">business@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/mtcx.png">
            <div class="tip">
                <h4>Media Cooperation</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=媒体查询">pr@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/zxdh.png">
            <div class="tip">
                <h4>Hotline</h4>
                <p>400-775-9206</p>
                <p>(9:30-18:00, Monday-Friday)</p>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/jltd.png">
            <div class="tip">
                <h4>Post Resume</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=求职">hr@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/khfw.png">
            <div class="tip">
                <h4>Customer Service</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=客户服务">info@yutaitech.cn</a></p>
            </div>
        </div>
        <div class="col-xs-12">
            <img src="img/schz.png">
            <div class="tip">
                <h4>Marketing Cooperation</h4>
                <p><a href="mailto:hr@yutaitech.cn?subject=市场合作">mkt@yutaitech.cn</a></p>
            </div>
        </div>
    </div>
</div>
<!--联系我们banner-->
<div class="container" id="contactBanner">
    <div class="row">
        <div class="col-md-12">
            <img src="img/aboutbg.jpg">
        </div>
    </div>
</div>
