<div class="container newsArticleDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <p class="newsMainTitle" style="line-height: 30px;font-size: 24px;font-weight: bold;">一张狗证，贵煞多少人？</p>

            <p style="line-height: 30px;font-size: 14px;color:#a9a9a9;font-weight: normal">2013-07-02 14:23</p>

            <p>一张养犬登记证(俗称“狗证”)是城市养犬管理制度的缩影。城市养狗的人越来越多，我国大中城市因此纷纷制定出台规范养犬行为的地方法规，办狗证是其中不可或缺的一环。可法规落地后，其效力多销匿于无声，为什么不少养犬人不愿办证？是押宝法不责众还是另有原因？人民手机报《身边》栏目特别策划了“养犬烦心录系列报道”，以北京为例，为城市犬只管理问题把脉，并探寻求解之道。</p>

            <p>在搜索引擎上输入“狗证”两个字，可以检索出近200万个结果，点看前面几页就会发现，不少内容是网友在贴吧、论坛里询问办理费用问题，还夹杂着对费用太高的抱怨。办张狗证需要多少钱？果真如网友所说“贵得离谱”吗？</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">狗狗“黑社会”百万众</p>

            <p>家住北京西城区的小刘今年仍然没有为他的小狗“丢丢”进行年检，这就意味着他一年省了500块，而他的狗也连续6年成为北京市近百万“黑户犬”大军中的一员。他认为，“这都是狗证太贵惹的祸。”</p>

            <p>北京市养犬管理工作联席会议办公室的数据表明，2011年北京市年检登记在册的犬只已过百万。而有媒体报道称，全北京未登记的犬只也有100万只左右。这为城市的犬只管理出了一个很大的难题。据中国社科院法学研究所助理研究员李霞介绍，他们对养犬居民的调查发现，养犬人不给宠物犬登记的最主要原因就是登记成本过高。</p>

            <p>按照北京市现行的2003年出台的《北京市养犬管理规定》要求，养犬应当缴纳管理服务费。东城、西城、海淀、丰台、石景山、朝阳等“重点管理区”内，每只犬第一年为1000元，以后每年度为500元；“一般管理区”收费标准由区县政府制定。该规定还要求，未经登记、年检养犬的，由公安机关没收其犬，或者对单位处5000元罚款，对个人处2000元罚款。为何这么多养犬人甘冒被罚款或失去爱犬的风险，而选择让宠物犬游离于法律之外？</p>

            <p>小刘2006年从朋友家抱养了“丢丢”，随即到派出所交了1000元，为其办理了登记。老老实实地花钱办完证，他发现，一年下来碰到的养犬居民八成都没办证，“别人都没办，我办它干嘛？”所以至今，他也没有为“丢丢”办理过年检。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">各地办狗证都要多少钱</p>

            <p>目前，在全国各大城市中，办理狗证收取管理服务费这种做法并不鲜见，但收费标准参差不齐。那么北京的收费是高还是低呢？记者选取了上海、广州、深圳三个城市与北京做了对比。</p>

            <p>上海目前执行的是2011年颁布的《上海市养犬管理条例》。条例规定，犬只相关证件和管理服务费的具体费用标准由市物价部门会同市财政部门核定。记者从上海市财政局网站上查询到，该市犬类管理费收费标准为：内环以内区域，每犬每年500元；内环以外区域，每犬每年300元，其中农村地区每犬每年100元。另外，养犬人还需承担狂犬病疫苗费40元--60元，电子标识植入费用60元。</p>

            <p>广州执行的是2009年颁布的《广州市养犬管理条例》，养犬管理费的征收标准为每只犬第一年500元，第二年起每年300元。</p>

            <p>深圳执行的则是2006年颁布的《深圳市养犬管理条例》，每只犬每年的管理费为300元。</p>

            <p>对比四个城市中心城区养犬人第一年的缴费额，即北京1000元、上海620元左右、广州500元、深圳300元，可以看出，执行着10年前制定的养犬管理规定的北京，其犬只管理收费标准是最高的。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">狗证代办，旁逸斜出</p>

            <p>北京办狗证贵，也为代办狗证带来了一定的市场。</p>

            <p>朝阳400元，通州200元，‘户口’在五环外，不需要您的任何信息，办好给您寄家里边。”在一些分类信息网站，代办狗证的广告并不难搜索到。记者随便找了一个“商家”的电话拨过去，就得到了以上的信息。</p>

            <p>代办狗证的人会钻“一般管理区”办证费用稍微便宜的空子谋利。他们为记者出主意，“如果自己家的狗真的被查到了，可以用‘这是朋友(亲人)的狗，这几天在我们家暂住’之类的话搪塞过去”。</p>

            <p>据代办人说，办狗证需要的地址，是他们房产证上的，真实存在。每年年检也可以代办，价格也比正规渠道便宜，他可以代办朝阳和通州两区，通州区仅需80元。而在通州区政府的收费细则中，年检一般需要200元。</p>

            <p>当记者提出证件真假的质疑时，商家一再保证狗证绝对保真，“印章是当地派出所的，都是真的”。一位不愿具名的女士表示自己曾办过这种证，“商家”是同事介绍的，“好多人都在那儿办，听说证儿是真的，不知道‘商家’是不是有关系”。</p>

            <p class="newsSubtitle" style="font-size: 20px;font-weight: bold;">“狗证费”能降么？</p>

            <p>据2012年参与《北京市养犬管理规定》法规预案研究项目的中国社科院法学研究所副研究员余少祥说，养犬管理费的收取有一个基本原则，就是保持财政收支的基本平衡。“养犬管理大概包括6—7项支出，测算每一项支出花费多少成本，以此作为收费的依据，政府不会从中获取利益”。</p>

            <p>2012年6月，北京市公安局治安管理总队副总队长于连伟在一期普及文明养犬知识的访谈中曾透露，北京市正在对一些市民反映强烈的问题进行调研，包括费用问题，或将作出修改。</p>

            <p>不过，中国社科院法学研究所助理研究员李霞认为，贸然降低养犬的收费门槛其实不妥。</p>

            <p>李霞解释说，尽管降低收费门槛的做法有一定积极意义，但目前可能会出现不少负面影响。一方面，我国城市居民饲养的宠物犬数量增长过快，如果实行低收费的政策，将导致城市居民饲养宠物犬的数量更快增长。另一方面，相当一部分养犬人的道德与法律素质还不够高，低收费可能将引发更多的养犬人与非养犬人之间的矛盾。</p>

            <p>余少祥透露，虽然对“狗证费”贵的问题质疑声音较大，但是2012年的法规预案研究没有降低收费的迹象。</p>

            <p>除了费用问题，养犬居民不愿意办理狗证还有什么原因？狗证对养犬居民来说有何用处？它在城市养犬管理工作中又发挥了多大作用？请关注本报养犬烦心录系列报道之二——《遭遇“始乱终弃”的狗证》。</p>

        </div>
    </div>
</div>
