添加组织

<form id="addOrganization_form">
        <div class="form-group">
            <label class="sr-only" for="">机构名称</label>
            <input class="form-control" id="organization_name" autofocus="autofocus" type="" name="organization_name" placeholder="请输入机构名称">
            
        </div>

    <button  id="addOrganizationBtn"type="button"> 确定添加</button>
</form>




