<div>
    <div id="signheader-content"></div>

    <div class="wrapper">

        <div class="org_companyInfo">

            <div class="row">
                <p style="font-size:20px" class="text-center">完成以下信息并提交即可完成注册</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*免疫点名称：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="请填写公司名称" id="name" type="text"
                           class="form-control" placeholder="免疫点名称">
                    <p style="display: none;" class="null_err" id="name_null_tip">*名称不能为空</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>联系地址：</h4>
                </div>
                <!-- 提示错误需要在 section 上加 .error 并添加 div.tree_tip-->
                <div class="section">
                    <div id="orga_area">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>详细地址：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="请填写联系地址"
                           id="address" type="text" class="form-control" placeholder="详细地址">
                    <p style="display: none;" class="null_err" id="address_null_tip">*地址不能为空</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>座机：</h4>
                </div>
                <div class="section">
                    <div class="chose_phone">
                        <select>
                            <option>021</option>
                        </select>
                    </div>
                    <div class="connet">
                        —
                    </div>
                    <div class="phone_number">
                        <input required="" errmsg="" value="" id="tel" type="number"
                               oninput="if(value.length>10)value=value.slice(0,10)" class="form-control"
                               placeholder="座机">
                    </div>
                    <p class="detail_address" style="display: none;color:#ff0000" class="null_err"
                       id="tel_null_tip">*座机不能为空</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>营业执照：</h4>
                    <p>* 彩色无水印 <br>
                        * png 或者 jpg 格式 <br>
                        * 2M 以内
                    </p>
                </div>
                <div class="section" id="businessLicense">
                    <!-- <div id="businessLicense" class="uploadWrap img-lg">
                        <p>上传图片</p>
                         <input id="businessLicensePic" name="userfile" type="file" style="display: none;">
                    </div> -->
                </div>
                <p class="section null_err" style="display: none;width: 200px;float: left;margin-left: 170px;"
                   id="businessLicense_null_tip">*营业执照不能为空</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*动物诊疗许可证：</h4>
                    <p>* 彩色无水印 <br>
                        * png 或者 jpg 格式 <br>
                        * 2M 以内
                    </p>
                </div>
                <div class="section" id="animalMedicalLicense">
                    <!-- <div id="" class="uploadWrap img-lg">
                        <p>上传图片</p>
                         <input id="businessLicensePic1" name="userfile" type="file" style="display: none;">
                    </div>
                </div> -->
                </div>
                <p class="section null_err" style="display: none;width: 200px;float: left;margin-left: 170px;"
                   id="animalMedicalLicense_null_tip">*许可证不能为空</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*服务范围：</h4>
                </div>
                <div class="section">
                    <div class="medical">
                        <input name="server" type="checkbox" id="medical" value="医疗">
                        <span for="medical">医疗</span>
                    </div>
                    <div class="facial">
                        <input name="server" type="checkbox" id="facial" value="美容">
                        <span for="facial">美容</span>
                    </div>

                </div>
                <p class="section null_err" style="display: none;" id="server_null_tip">*服务范围不能为空</p>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*添加兽医：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="添加" id="doctor" type="button" class="form-control"/>
                    <span class="add_doctor">至少添加一位兽医</span>
                    <p style="display: none;" class="null_err" id="doctor_null_tip">*兽医姓名不能为空</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                </div>
                <div class="section">
                    <table>
                        <tbody>
                        <tr style="background:#cccccc;display: none" id="doctor_table">
                            <td class="name">姓名</td>
                            <td class="number">职业兽医资格证编号</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*联系人：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="" id="contacts" type="text" class="form-control"
                           placeholder="联系人">
                    <p style="display: none;" class="null_err" id="contacts_null_tip">*联系人不能为空</p>
                </div>
            </div>

            <div class="row">
                <div class="subtitle">
                    <h4>*联系人电话：</h4>
                </div>
                <div class="section">
                    <input required="" errmsg="" value="" id="contacts_phone" type="number" maxlength="11"
                           oninput="if(value.length>11)value=value.slice(0,11)" class="form-control"
                           placeholder="联系人电话">
                    <p style="display: none;" class="null_err" id="contacts_phone_null_tip">*联系人电话不能为空</p>
                    <p style="display: none;" class="null_err" id="contacts_phone_format_tip">*联系人电话格式有误</p>
                </div>
            </div>

            <div class="row">
                <!--<button class="btn btnNone">返回上一步</button>-->
                <button id="addOrganizationBtn" class="btn btnBlueE btn-block">提交</button>
            </div>

        </div>

    </div>
    <!--<div id="signfooter-content"></div>-->
    <div style="width:100%;height: 100px; background:#cccccc;margin-top: 50px;">
        <div class="container">
            <p class="text-center">沪ICP备 16015040号-2 上海市徐汇区虹梅路2071号二号楼311室</p>
            <p class="text-center" style="margin-top:-20px;">Copyright©2016-2017，HALOKIT.CN,All Rights Reserved</p>
        </div>
    </div>
</div>

</div>