<div class="il_wrap">
    <div class="il_box">
        <div class="il_body">
            <p>
                <i></i>
                <span>你的账号未通过审核......</span>
            </p>
            <p>
                <i></i>
                <span>400-775-9206</span>
            </p>
            <button disabled="disabled"  type="submit" class="btn btnBlueE btn-block">返回重新注册</button>
        </div >
    </div>
</div>