<header class="signup-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a  href="javascript:void(0);">
                    <img src="img/logo1.png" style="float:left">
                    <h4 style="float:left" id="title" >犬类信息管理系统</h4>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="il_wrap" style="margin-top:100px;">
    <div class="il_box">
        <div class="il_body">
            <p>
                <i class="glyphicon glyphicon-comment"></i>
                <span>你的账号审核中</span>
            </p>
            <p>
                <i class="glyphicon glyphicon-earphone"></i>
                <span>400-775-9206</span>
            </p>
            <button id="WaitReview_button" type="submit" class="btn btnBlueE btn-block">注册完成,去体验试用版</button>
        </div>
    </div>
</div>
<footer class="footer navbar-fixed-bottom " style="background:#cccccc;">
    <div class="container">
        <p class="text-center" >沪ICP备 16015040号-2 上海市徐汇区虹梅路2071号二号楼311室</p>
        <p class="text-center" style="margin-top:-20px;">Copyright©2016-2017，HALOKIT.CN,All Rights Reserved</p>
    </div>
</footer>
