<div id="changepassword-view">

    <div id="signheader-content"></div>

    <div class="il_wrap" id="changepassword-view-content" style="margin-top: 50px;">
        <div class="il_box">
            <form class="form" id="form-changepassword" onsubmit="return false">
                <div class="il_body">
                    <h4>修改密码</h4>
                    <div class="form-group email">
                        <input type="password" id="currentPwd" class="form-control" placeholder="Current password" />
                        <p style="display: none;" class="null_err" id="currentPwd_null_tip">*原密码不能为空</p>
                        <br>
                        <input type="password"id="newPwd" class="form-control" placeholder="Enter your new password" />
                        <p style="display: none;" class="null_err" id="newPwd_null_tip">*Enter your new password</p>
                        <p style="display:none;" class="null_err" id="newPwd_length_tip">*your password should be 6-16 character long，and contain only letters，number，underscore and dashes</p>
                        <br>
                        <input type="password" id="rePwd" class="form-control" placeholder="Enter your new password one more time" />
                        <p style="display: none;" class="null_err" id="rePwd_null_tip">*Enter your new password one more time</p>
                        <p style="display:none;" class="null_err" id="rePwd_length_tip">*your password should be 6-16 character long，and contain only letters，number，underscore and dashes</p>
                        <p style="display:none;" class="null_err" id="rePwd_diff_tip">*Password didn’t match</p>
                    </div>
                    <div class="spacer"></div>
                </div>
                <br>
                <div class="btn  btnBlack btn-block" id="btn-changepassword">确认修改</div>

            </form>
        </div>
    </div>

    <div id="signfooter-content"></div>

</div>