<!--banner轮播图开始-->
<div class="container" id="swiper">
    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/banner01.jpg" class="mBanner">
                        <div class="tip">
                            Bring more happiness to pets using artificial intelligence.
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/banner02.jpg" class="mBanner">
                        <!--<div class="tip">-->
                            <!--Bring more happiness to pets with artificial intelligence.-->
                        <!--</div>-->
                    </div>
                </div>
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/003.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章3333333333-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/004.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章4444444444-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!--如果需要导航按钮-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
</div>
<!--banner轮播图结束-->

<!--核心技术开始-->
<div class="container" id="tech">
    <div class="row">
        <div class="col-md-12">
             <p class="text-center">Core Technologies</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <span class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        <span class="tips">Non-invasive</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        <span class="tips">Adaptable</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        <span class="tips">High accuracy</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        <span class="tips">Fast</span>
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>Non-invasive scanning from 40cm away, different from traditional microchip, no side effects, no worry about health risks.</p>
                    </div>
                    <div class="hide">
                        <p>A iris scan is performed by casting an unperceived beam of low-energy infrared light into pet's eye. The light intensity is only 1/10 of the light intensity specified by the IEC62471 Biosafety Detection Standard. Far below the safety threshold, and cause no eye damage.</p>
                    </div>
                    <div class="hide">
                        <p>The Recognition accuracy is above 99%. Physiological studies have shown that the detailed features of the iris texture are determined by the random factors of embryo development environment. This random distribution of the texture details lays the physiological foundation for the uniqueness of the iris.</p>
                    </div>
                    <div class="hide">
                        <p>First time registration and acquisition takes less than 1 minute and the recognition only takes 5-10 seconds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->

<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>Product Advantages</p>
        </div>
    </div>
    <div class="row visible-lg-block visible-md-block">
        <div class="col-md-4 col-xs-12">
            <img src="img/1.png">
            <div class="tips"   style="background:#F26352;">
                <h3>Accurate & Fast</h3>
                <p>The iris recognition accuracy is more than 99%. It takes less than 60 seconds to register and collect iris information, and 5 seconds to recognize.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/2.png">
            <div class="tips"   style=" background:#E7A856;">
                <h3>Total Solution</h3>
                <p>
                    Iris Tag Canine Iris Information Management System includes multiple application subsystems such as public security offices, agriculture committees, immunization spots, pet hospitals and etc. It also covers the collection and management of information including dog registration, annual inspection, immunization, fostering, sterilization and etc.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/3.png">
            <div class="tips"   style="background:#82AC34;">
                <h3>Reliable</h3>
                <p>Our strong R&D, and operation and maintanence team can support high concurrent load, guarantee high availability, and provide comprehensive services.
                </p>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-md-4 col-xs-12">
            <img src="img/m1.jpg">
            <div class="tips"   style="background:#F26352;">
                <h3>Accurate & Fast</h3>
                <p>The iris recognition accuracy is more than 99%. It takes less than 60 seconds to register and collect iris information, and 5 seconds to recognize.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/m2.jpg">
            <div class="tips"   style=" background:#E7A856;">
                <h3>Total Solution</h3>
                <p>
                    Iris Tag Canine Iris Information Management System includes multiple application subsystems such as public security offices, agriculture committees, immunization spots, pet hospitals and etc. It also covers the collection and management of information including dog registration, annual inspection, immunization, fostering, sterilization and etc.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/m3.jpg">
            <div class="tips"   style="background:#82AC34;">
                <h3>Reliable</h3>
                <p>
                    Our strong R&D, and operation and maintanence team can support high concurrent load, guarantee high availability, and provide comprehensive services.
                </p>
            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->

<!--客户案例开始-->
<!--<div class="container" id="case">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<p>客户案例</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;PC端显示轮播图&ndash;&gt;-->
    <!--<div class="row visible-lg-block">-->
        <!--<div class="swiper-container">-->
            <!--<div class="swiper-wrapper">-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 10%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/001.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章1111121-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="swiper-slide" style="width: 30%;margin-right: 10%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/002.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章222-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 0">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/003.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章333-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 0%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/004.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章444444-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; 如果需要分页器 &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-pagination"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;如果需要导航按钮&ndash;&gt;-->
            <!--<div class="swiper-button-prev"></div>-->
            <!--<div class="swiper-button-next"></div>-->
            <!--&lt;!&ndash; 如果需要滚动条 &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-scrollbar"></div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;移动端显示三张图片&ndash;&gt;-->
    <!--<div class="row visible-xs-block">-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/001.jpg">-->
            <!--<div class="tip">台州市某公安局</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/002.jpg">-->
            <!--<div class="tip">上海市某保险公司</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/004.jpg">-->
            <!--<div class="tip">上海市某医院</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--客户案例结束-->

<!--关于宇钛开始-->
<div class="container" id="about">
    <div class="row">
        <div class="col-md-12">
            <div class="tip">
                <h3>About Yutai</h3>
                <p>Shanghai Yutai Technology Co.,Ltd. is a company that designs and develops smart products for pets. Yutai Technology is fully focused on biometric and pet intelligent hardware. Adhering to healthy and happy corporate genes, relying on forward-looking R&D on artificial intelligence and data science, we are committed to building a harmonious relationship between animals and humans.<br>
                    Our mission is to bring more happiness to pets using artificial intelligence.
                </p>
            </div>
        </div>
    </div>
</div>
<!--关于宇钛结束-->
