<!--banner轮播图开始-->
<div class="container-fluid" id="swiper">
    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/001.jpg" class="mBanner">
                        <!--<div class="tip">-->
                            <!--文章文章文章1111111111-->
                        <!--</div>-->
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/002.jpg" class="mBanner">
                        <!--<div class="tip">-->
                            <!--文章文章文章2222222222-->
                        <!--</div>-->
                    </div>
                </div>
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/003.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章3333333333-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/004.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章4444444444-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
            <!--如果需要导航按钮-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
</div>
<!--banner轮播图结束-->
<!--核心技术开始-->
<div class="container" id="tech">
    <div class="row">
        <div class="col-md-12">
             <p class="text-center">核心技术</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <span class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        <span class="tips">非接触式</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        <span class="tips">适应性强</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        <span class="tips">准确性高</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        <span class="tips">快速</span>
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>对于图片中可检测的人脸数量没有限制，轻松处理各类集体图片。</p>
                    </div>
                    <div class="hide">
                        <p>22222222222</p>
                    </div>
                    <div class="hide">
                        <p>33333333333</p>
                    </div>
                    <div class="hide">
                        <p>44444444444</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->
<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>产品优势</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="img/bg01.jpg">
            <div class="tips"   style="background: rgba(237, 173, 91, 0.8);">
                <h3>采集速度快</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg02.jpg">
            <div class="tips"   style=" background: rgba(90, 161, 235, 0.8);">
                <h3>统一规格</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/bg03.jpg">
            <div class="tips"   style="background: rgba(145, 70, 210, 0.8);">
                <h3>安全放心</h3>
                <p>采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别，采集一分钟，迅速识别</p>
            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->
<!--客户案例开始-->
<div class="container" id="case">
    <div class="row">
        <div class="col-md-12">
            <p>客户案例</p>
        </div>
    </div>
    <!--PC端显示轮播图-->
    <div class="row visible-lg-block">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 30%;margin-right: 10%">
                    <div class="swiper-slide-item">
                        <img src="img/001.jpg" class="mBanner">
                        <div class="tip">
                            文章文章文章1111121
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="width: 30%;margin-right: 10%">
                    <div class="swiper-slide-item">
                        <img src="img/002.jpg" class="mBanner">
                        <div class="tip">
                            文章文章文章222
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 30%;margin-right: 0">
                    <div class="swiper-slide-item">
                        <img src="img/003.jpg" class="mBanner">
                        <div class="tip">
                            文章文章文章333
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 30%;margin-right: 0%">
                    <div class="swiper-slide-item">
                        <img src="img/004.jpg" class="mBanner">
                        <div class="tip">
                            文章文章文章444444
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
            <!--如果需要导航按钮-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
    <!--移动端显示三张图片-->
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <img src="img/001.jpg">
            <div class="tip">台州市某公安局</div>
        </div>
        <div class="col-xs-12">
            <img src="img/002.jpg">
            <div class="tip">上海市某保险公司</div>
        </div>
        <div class="col-xs-12">
            <img src="img/004.jpg">
            <div class="tip">上海市某医院</div>
        </div>
    </div>
</div>
<!--客户案例结束-->
<!--关于宇钛开始-->
<div class="container" id="about">
    <div class="row">
        <div class="col-md-12">
            <div class="tip">
                <h3>关于宇钛</h3>
                <p>上海宇钛科技有限公司是一家以关注宠物健康和行为，解决主人在养宠过程中各类问题为核心，研发各类宠物智能硬件的科技型企业。
                    宇钛秉承健康、时尚、快乐的企业基因，依托数据科学及前瞻性研发、制造实力，致力于构建硬件与软件整合伴生平台，
                    令宠物与主人之间，互动生活智能同步。
                </p>
            </div>
        </div>
    </div>
</div>
<!--关于宇钛结束-->