<!--banner轮播图开始-->
<div class="container" id="swiper">
    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/banner01.jpg" class="mBanner">
                        <div class="tip">
                            用人工智能带给它们更多美好
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <img src="img/banner01.jpg" class="mBanner">
                        <div class="tip">
                            用人工智能带给它们更多美好
                        </div>
                    </div>
                </div>
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/003.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章3333333333-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/004.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章4444444444-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!--如果需要导航按钮-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
</div>
<!--banner轮播图结束-->

<!--核心技术开始-->
<div class="container" id="tech">
    <div class="row">
        <div class="col-md-12">
             <p class="text-center">核心技术</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <span class="box demo1">
                <ul class="tab_menu">
                    <li class="active">
                        <img src="img/all_inclusive.png">
                        <span class="tips">非接触式</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/all_out.png">
                        <span class="tips">适应性强</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/gps_logo.png">
                        <span class="tips">准确性高</span>
                        <div></div>
                    </li>
                    <li>
                        <img src="img/airplanemode.png">
                        <span class="tips">快速</span>
                        <div></div>
                    </li>
                </ul>
                <div class="tab_box">
                    <div>
                        <p>40cm外非接触式采集，告别传统芯片注射，无副作用、无须担心有健康风险。</p>
                    </div>
                    <div class="hide">
                        <p>近红外辅助光源照射到眼镜的光线强度，只有IEC62471生物安全检测标准规定的光强1/10，远远低于安全门限，不会对眼睛造成伤害。</p>
                    </div>
                    <div class="hide">
                        <p>99%以上的识别精度。生理学研究表明，虹膜纹理的细节特征是由胚胎发育环境的随机因素决定的，这种纹理细节的随机分布特性为虹膜的唯一性奠定了生理基础。</p>
                    </div>
                    <div class="hide">
                        <p>首次注册采集1分钟以内，识别只需5-10秒。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核心技术结束-->

<!--产品优势开始-->
<div class="container" id="product">
    <div class="row">
        <div class="col-md-12">
            <p>产品优势</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="img/1.png">
            <div class="tips"   style="background:#F26352;">
                <h3>准确、快速</h3>
                <p>虹膜识别精度达99%以上，<br>
                    注册采集虹膜时间＜60秒，识别仅需5秒。
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/2.png">
            <div class="tips"   style=" background:#E7A856;">
                <h3>安全</h3>
                <p>非侵入式的识别方式确保犬只安全，<br>
                   告别注射式RFID芯片，无需担心健康风险。
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="img/3.png">
            <div class="tips"   style="background:#82AC34;">
                <h3>可靠</h3>
                <p>强大的研发团队及运维团队，<br>
                    支持高并发承载与高可用性保证。提供全方位服务保障。
                </p>

            </div>
        </div>
    </div>
</div>
<!--产品优势结束-->

<!--客户案例开始-->
<!--<div class="container" id="case">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<p>客户案例</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;PC端显示轮播图&ndash;&gt;-->
    <!--<div class="row visible-lg-block">-->
        <!--<div class="swiper-container">-->
            <!--<div class="swiper-wrapper">-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 10%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/001.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章1111121-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="swiper-slide" style="width: 30%;margin-right: 10%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/002.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章222-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 0">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/003.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章333-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide" style="width: 30%;margin-right: 0%">-->
                    <!--<div class="swiper-slide-item">-->
                        <!--<img src="img/004.jpg" class="mBanner">-->
                        <!--<div class="tip">-->
                            <!--文章文章文章444444-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; 如果需要分页器 &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-pagination"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;如果需要导航按钮&ndash;&gt;-->
            <!--<div class="swiper-button-prev"></div>-->
            <!--<div class="swiper-button-next"></div>-->
            <!--&lt;!&ndash; 如果需要滚动条 &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="swiper-scrollbar"></div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;移动端显示三张图片&ndash;&gt;-->
    <!--<div class="row visible-xs-block">-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/001.jpg">-->
            <!--<div class="tip">台州市某公安局</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/002.jpg">-->
            <!--<div class="tip">上海市某保险公司</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<img src="img/004.jpg">-->
            <!--<div class="tip">上海市某医院</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--客户案例结束-->

<!--关于宇钛开始-->
<div class="container" id="about">
    <div class="row">
        <div class="col-md-12">
            <div class="tip">
                <h3>关于宇钛</h3>
                <p>上海宇钛信息科技有限公司是一家研发宠物类智能产品的公司。
                    宇钛科技全心专注于生物识别科技以及宠物智能硬件。秉承健康、
                    快乐的企业基因，依托人工智能及数据科学前瞻性研发，致力于构建动物与人和谐关系。<br>
                    我们的使命是用人工智能带给它们更多美好！
                </p>
            </div>
        </div>
    </div>
</div>
<!--关于宇钛结束-->