
<div>
	<button id="btn-dogEdit">Edit</button>
	
	<table class="table">
	    <thead>
	        <tr>
	          <th>#</th>
	          <th> name</th>
	          <th> sex</th>
	          <th>虹膜id</th>
	        </tr>
	      </thead>

	      <tbody>
	        <tr>
	          <th scope="row">1</th>
	          <td>Mark</td>
	          <td>男</td>
	          <td>123</td>
	        </tr>
	        <tr>
	          <th scope="row">2</th>
	          <td>Jacob</td>
	          <td>女</td>
	          <td>234</td>
	        </tr>
	        <tr>
	          <th scope="row">3</th>
	          <td>Larry</td>
	          <td>女</td>
	          <td>333</td>
	        </tr>
	      </tbody>

	</table>

</div>