<div id="setpassword-view">

    <div id="signheader-content"></div>

    <div class="il_wrap" id="setpassword-view-content" style="margin-top: 100px;">
        <div class="il_box">
            <form class="form" id="form-setpassword" onsubmit="return false">
                <div class="il_body">
                    <h4>设置密码</h4>
                    <div class="form-group email">
                        <input type="password" name="email" class="form-control" placeholder="请输入密码" />
                        <span class="help-block" style="display:none;">密码不足6位</span>
                        <br>
                        <input type="password" name="email" class="form-control" placeholder="再次输入密码" />
                        <span class="help-block" style="display:none;">两次密码不一致</span>
                    </div>
                    <div class="spacer"></div>
                </div>
                <br>
                <div class="btn  btnBlueE btn-block" id="btn-setpassword">下一步</div>

            </form>
        </div>
    </div>

    <div id="signfooter-content"></div>

</div>