<div class="signup" style="margin: 50px auto">
    <form>
        <p class="large-title text-center" style="padding-bottom:15px">设置密码</p>
        <input type="password" class="form-control" placeholder="请输入密码" id="user-password"/>
        <input type="password" class="form-control" placeholder="请再次输入密码" id="user-sure-password"/>
        <button type="submit" class="btn btn-primary btn-block" id="btn-nextstep" >下一步</button>
    </form>
</div>