<div id="dogownersearch">

    <div class="details">
        <div class="title">
            <h3>犬主登记</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*犬主姓名:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*性别:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>手机号码:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬主座机:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件类型:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*证件号:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*所属区县:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*详细地址:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>邮编:</h4>
                </div>
                <div class="section">
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="title">
            <h3>犬只登记</h3>
        </div>
        <table class="dog_table">
            <tbody>
                <tr>
                    <td>犬名</td>
                    <td>疫苗批号</td>
                    <td>虹膜ID</td>
                    <td>品种</td>
                    <td>免疫时间</td>
                </tr>
                <tr>
                    <td><a class="td-a" href="javascript:void(0)">可点</td>
                    <td>2017a1b2</td>
                    <td>abc12345678</td>
                    <td>阿拉斯加</td>
                    <td>2017-10-10</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>