<!--关于我们banner-->
<div class="container"  id="about_banner">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="img/aboutbg.jpg">
        </div>
    </div>
</div>
<!--宇钛生活-->
<div class="container" id="yutai_life">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>关于宇钛</h3>
            <p>上海宇钛信息科技有限公司是一家研发宠物类智能产品的公司。
                宇钛科技全心专注于生物识别科技以及宠物智能硬件。秉承健康、
                快乐的企业基因，依托人工智能及数据科学前瞻性研发，致力于构建动物与人和谐关系。<br>
                我们的使命是用人工智能带给它们更多美好！
            </p>
        </div>
    </div>
</div>
<!--关于详情-->
<div class="container aboutDetail">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about01.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>团队</h3>
            <p>研发团队有丰富的产品研发经验。我们不仅有对技术的执着追求，更希望通过科技，构建人与动物和谐关系。</p>
        </div>
    </div>
</div>
<div class="container aboutDetail">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about02.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>办公环境</h3>
            <p>舒适的办公环境，既有独立的办公区域，也有较大的休息区域。靠近9号线漕河泾地铁站，上下班便利。</p>
        </div>
    </div>
</div>
<div class="container aboutDetail" style="margin-bottom:100px">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about03.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>企业文化</h3>
            <p>喜欢动物，公司对每位养宠物的员工有额外的补贴。我们的使命是用人工智能带给它们更多美好。</p>
        </div>
    </div>
</div>
