<!--关于我们banner-->
<div class="container"  id="about_banner">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="img/aboutbg.jpg">
        </div>
    </div>
</div>
<!--宇钛生活-->
<div class="container" id="yutai_life">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>About Yutai</h3>
            <p>Shanghai Yutai Information Technology Co.,Ltd. is a company that designs and develops smart products for pets. Yutai Technology is fully focused on biometric and pet intelligent hardware. Adhering to healthy and happy corporate genes, relying on forward-looking R&D on artificial intelligence and data science, we are committed to building a harmonious relationship between animals and humans.<br>
                Our mission is to bring more happiness to pets using artificial intelligence.
            </p>
        </div>
    </div>
</div>
<!--关于详情-->
<div class="container aboutDetail">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about01.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>Team</h3>
            <p>The R&D team has rich product development experience. We not only have persistent pursuit of technology, but also hope to build a harmonious relationship between human and animals through science and technology.</p>
        </div>
    </div>
</div>
<div class="container aboutDetail">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about02.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>Office Environment</h3>
            <p>Comfortable office environment with independent working area and large cosing area. Close to Caohejing Subway Station on Line 9, quite convenient to commuting.</p>
        </div>
    </div>
</div>
<div class="container aboutDetail" style="margin-bottom:100px">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="img/about03.png">
        </div>
        <div class="col-md-3 col-xs-12">
            <h3>Corporate Culture</h3>
            <p>Love animals, the company has an additional subsidy for every employee who keeps a pet. Our mission is to bring our pets more beauty and happiness using artificial intelligence.</p>
        </div>
    </div>
</div>
