<!--客户案例banner-->
<div class="container_fluid" id="client_banner">
    <div class="row">
        <div class="col-md-12">
            <img src="img/001.jpg">
        </div>
    </div>
</div>
<!--客户案例详情-->
<div class="container client_detail">
    <div class="row">
        <div class="col-md-1">
            <img src="img/guohui.png">
        </div>
        <div class="col-md-6">
            <h3>浙江省台州市某公安局</h3>
            <p>浙江省台州市某公安局使用商汤视图情报研判系统，
                用以图搜图的检索功能进行案发现场人脸截图与标准库照片比对，
                进行人员的身份查询，打击已发生的犯罪。2017年以来，
                视频侦查部门成功比中嫌疑人2000多人，抓获800多人，成功破案近百宗。
                有效的将警员从人工检索工作中解放出来，节约了大量的警力。
            </p>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <img src="img/002.jpg">
        </div>
    </div>
</div>
<div class="container client_detail" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-md-1">
            <img src="img/zhongan.png">
        </div>
        <div class="col-md-6">
            <h3>众安保险</h3>
            <p>浙江省台州市某公安局使用商汤视图情报研判系统，
                用以图搜图的检索功能进行案发现场人脸截图与标准库照片比对，
                进行人员的身份查询，打击已发生的犯罪。2017年以来，
                视频侦查部门成功比中嫌疑人2000多人，抓获800多人，成功破案近百宗。
                有效的将警员从人工检索工作中解放出来，节约了大量的警力。
            </p>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <img src="img/003.jpg">
        </div>
    </div>
</div>